.env
.envHost
/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
.idea
.bowerrc
_ide_helper.php
composer.lock
composer.phar
gulpfile.js
Thumbs.db
tests/_output/*
/config/ide-helper.php
/config/debugbar.php
/config/laravel-localization-helpers.php
/public/froala/uploads/*
/public/images/anons/*
/public/images/logo/*
