.panel-articles{
    border-right: 2px solid #F1F4F9;
    border-bottom: 1px solid #F1F4F9;
}
.panel-articles .block{
    padding: 0 5px;
}
.date-filter .row{
    margin: 10px -5px;
}
.panel-articles .media{
    border-top: 1px solid #F1F4F9;
    padding-top: 10px;
    margin-top: 10px;
}
.panel-articles .media:first-child{
    border: 0;
    padding: 0;
    margin: 0;
}
.panel-articles .media:last-child{
    margin-bottom: 10px;
}

.panel-articles .media-left a{
    position: relative;
    display: block;
    width: 128px;
    height: 96px;
    overflow: hidden;
}
.panel-articles .media .thumb{
    position: absolute;
    left: 50%;
    top: 50%;

    height: 96px;
    width: auto;


    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;

    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}
.panel-articles .extra{
    margin-bottom: 5px;

    color: #9DA8B0;

    font-size: 12px;
}
.e-datetime, .e-cat{
    display: inline-block;
    vertical-align: middle;
}
.e-cat{
    margin-left: 10px;

    font-family: 'Roboto Condensed', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.panel-articles .media-heading{
    color: #4e5e6a;
    font-size: 14px;
    font-weight: bold;
}
.panel-articles .media-heading:hover{
    color: #2D3E4A;
    text-decoration: underline;
}
.panel-articles .media-desc{
    margin: 5px 0;
    font-size: 12px;
}
.e-views{
    float: right;
}
.e-views i{
    margin-right: 5px;
}

.ctg-panel{
    border-left: 1px solid #F1F4F9;
    border-bottom: 1px solid #F1F4F9;
}

.panel-article{
    border-right: 2px solid #F1F4F9;
    border-bottom: 1px solid #F1F4F9;
}

.panel-article .block{
    padding: 5px;
}
.panel-article .news-title{
    margin-bottom: 0;
    padding: 0 130px 10px 5px;
    font-size: 20px;
}
.panel-article .news-title .extra{
    position: absolute;
    top: 0;
    right: 5px;
}