.panel-articles{
    border-right: 2px solid #F1F4F9;
    border-bottom: 1px solid #F1F4F9;
}
.panel-articles .panel-body{
    padding: 15px;
}
.panel-articles .block{
    padding: 0 5px;
}
.date-filter .row{
    margin: 10px -5px;
}
.panel-articles .media{
    border-top: 1px solid #F1F4F9;
    padding-top: 10px;
    margin-top: 10px;
}
.panel-articles .media:first-child{
    border: 0;
    padding: 0;
    margin: 0;
}
.panel-articles .media:last-child{
    margin-bottom: 10px;
}

.panel-articles .media-left a{
    position: relative;
    display: block;
    width: 100px;
    height: 60px;
    overflow: hidden;
}
.panel-articles .media .thumb{
    position: absolute;
    left: 50%;
    top: 50%;

    height: 60px;
    width: auto;


    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;

    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}
.panel-articles .extra{
    margin-bottom: 5px;

    color: #9DA8B0;

    font-size: 12px;
}
.e-datetime, .e-cat{
    display: inline-block;
    vertical-align: middle;
}
.e-cat{
    margin-left: 10px;

    font-family: 'Roboto Condensed', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.panel-articles .media-heading{
    color: #4e5e6a;
    font-size: 14px;
    font-weight: bold;
}
.panel-articles .media-heading:hover{
    color: #2D3E4A;
    text-decoration: underline;
}
.panel-articles .media-desc{
    margin: 5px 0;
    font-size: 12px;
}
.e-views{
    float: right;
}
.e-views i{
    margin-right: 5px;
}

.ctg-panel{
    border-left: 1px solid #F1F4F9;
    border-bottom: 1px solid #F1F4F9;
}

.panel-article, .panel-related{
    border-right: 2px solid #F1F4F9;
    border-bottom: 1px solid #F1F4F9;
}

.panel-related .extrarel{
    position: absolute;
    bottom: 5px;
    left: 0px;
}
.panel-related .extrarel span{
    position: relative;
    right: auto;
    top: auto;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    color: #fff;
    font-size: 12px;
}
.panel-related .extrarel span i{
    margin-right: 5px;
}
.panel-article .panel-body{
    padding: 15px;
}
.panel-article .panel-body footer{
    padding: 15px 0 5px;

    border-top: 3px solid #F1F4F9;
}
.panel-article .block{
    padding: 5px;
}
.panel-article .news-title{
    margin-bottom: 0;
    padding: 0 150px 10px 0;
    font-size: 20px;
}
.panel-article .news-title .extra{
    position: absolute;
    top: 0;
    right: 5px;
}
.post-thumb{
    float: left;
    margin-bottom: 15px;
    margin-right: 15px;
}
.post-thumb img{
    height: 150px;
    width: auto;
}
.related-title{
    display: table-cell;
    vertical-align: middle;
    height: 60px;
    overflow: hidden;
    padding: 0 5px;

    color: #4e5e6a;

    font-size: 14px;
    font-weight: bold;
    line-height: 1;
}
.post-edit{
    float: left;
}
.post-edit i{
    padding-right: 5px;
}

/*RELATED THEMES*/
.fr-strong{
    float: left;
}