@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700');

@font-face {
    font-family: 'Fira Sans Medium';
    src: url('fonts/fira-sans/firasans-medium.eot');
    src: url('fonts/fira-sans/firasans-medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/fira-sans/firasans-medium.woff2') format('woff2'),
    url('fonts/fira-sans/firasans-medium.woff') format('woff'),
    url('fonts/fira-sans/firasans-medium.ttf') format('truetype'),
    url('fonts/fira-sans/firasans-medium.svg#fira_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

a{
    color: inherit;
}

body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/*Preloader*/
#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#0e73c5; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}
#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-size: 100% auto;
    margin: -100px 0 0 -100px; /* is width and height divided by two */
}
svg.line-drawing {
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.line-drawing,
.illustration {
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.line-drawing path {
    fill: none;
    stroke: white;
    stroke-width: 1;
}

.sh {
    opacity: 1;
}

.hi {
    opacity: 0;
}
.sh,
.hi {
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.ktrk-logo {
    position: relative;

    height: 100%;
    width: 100%;
    background: url('img/clean_logo.png') no-repeat center;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}

/*Content*/
#page-content-wrapper{
    padding: 0;
    overflow: hidden;
}
.main-wrapper{
    background: none;
    box-shadow: none;
}


/*new-header*/
.page-header-i {
    position: relative;
    height: 80px;
    width: 100%;
}
.page-header-i .inner {
    height: 100%;
}
.top-nav {
    float: left;
    width: 100%;
    z-index: 5;
    position: relative;
    top: 0;
}
.main-menu{
    float: left;
}
.main-menu li a{
    display: block;
    padding: 5px 10px;
}
.main-menu > li > a{
    color: #ffffff;
    line-height: 20px;
}

/*Sub Menu*/
.sub-menu{
    position: relative;
    z-index: 4;
    float: left;
    padding: 10px 0;
}
.sub-menu > ul{
    float: left;
}


/*Social*/
.soc{
    position: relative;
    top: 0;
    z-index: 0;
    float: left;
    margin-left: 15px;
}
.soc li{
    width: auto;
    float: left;
}
.soc li a{
    padding: 5px 10px;
    font-size: 16px;
    line-height: 20px;
}
.soc li:not(.search-form):hover,
.soc li:not(.search-form):hover a,
.soc li:not(.search-form):hover a i{
    background: none;
    color: rgba(255, 255, 255, 0.5);
}

/*Search Form*/
.soc .search-form > *{
    display: inline-block;
    vertical-align: middle;
}
.soc li.search-form:hover,
.soc li.search-form:hover a,
.soc li.search-form:hover a i{
    background: none;
    color: #ffffff;
}
.search-form input,
.search-form span,
.search-form button{
    float: left;
    background: none;
    border: none;
    color: #ffffff;
}
.search-form input{
    height: 30px;
    padding: 4px 8px;
    border-bottom: 2px solid #004a8f;
    line-height: 12px;
}
#searchClose,
#searchButton{
    padding: 5px 5px;
    line-height: 20px;
    cursor: pointer;
}

/*Lang*/
.lang{
    position: relative;
    float: right;
}
.lang li{
    padding: 0;
}
.lang li a{
    display: block;
    padding: 5px 10px;
    line-height: 20px;
}
.lang li.active{
    background: none;
}
.lang li.active a{
    color: #ffffff;
    text-decoration: underline;
}

/*Live Button*/
.btn-live{
    position: relative;
    float: left;
    left: 0;
    right: auto;
    height: 30px;
    margin: 0;
    padding: 0 20px;

    border: none;
    background: #ffffff;
    color: #0e73c5;
    font-size: 11px;
    font-weight: 700;
    line-height: 30px;

    -webkit-border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    border-radius: 15px !important;
}
.btn-live i{
    display: none;
    margin-right: 0;
    margin-left: 5px;
}
.btn-live:hover{
    color: #0e73c5;
}


/*Header Logo*/
.header .logo {
    float: right;
    z-index: 5;
    position: relative;
    padding: 5px 50px 0 0;
    display: block;
    -webkit-transform: translateX(30px);
    -khtml-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -ms-transform: translateX(30px);
    -o-transform: translateX(30px);
    transform: translateX(30px);
    opacity: 0;
    -webkit-transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s, opacity 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
    -khtml-transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s, opacity 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
    -moz-transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s, opacity 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
    -ms-transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s, opacity 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
    -o-transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s, opacity 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
    transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s, opacity 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
}
.header .logo img{
    display: block;
    margin: 0;
    width: auto;
    height: 60px;
}

.load-anim .header .logo {
    opacity: 1;
    -webkit-transform: translateX(0);
    -khtml-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.header-decor-l {
    height: 150px;
    background: url(img/bg-header-l.svg) repeat-x 0 0;
    position: absolute;
    right: 550px;
    width: 1000000px;
    pointer-events: none;
}
.header-decor-r {
    height: 150px;
    background: url(img/bg-header-r.svg) repeat-x 0 0;
    position: absolute;
    left: 100%;
    margin-left: -460px;
    width: 100000px;
    pointer-events: none;
}
.header-decor-r::before {
    position: absolute;
    left: -90px;
    top: 0;
    width: 90px;
    height: 150px;
    content: '';
    background: url(img/bg-header-c.svg) no-repeat 0 0;
    display: block;
}


/*Channels*/
.channels{
    position: relative;
    padding: 15px 0;
}
.channels li{
    float: left;
    margin-right: 20px;
}
.channels a{
    display: block;
}
.channels img{
    height: 50px;
    width: auto;
}


/*Ads*/
.top-ad{
    padding-top: 0;
    margin: 30px 0;
}



/*header*/
.main-header{
    /*background: #ffffff;*/
}
.main-header::before,
.main-header::after{
    display: none;
}
.top-menu{
    height: 140px;
    margin: 0;
    padding-top: 40px;
}

/*social*/
/*.soc li.tw a{*/
/*color: #1da1f2;*/
/*}*/
/*.soc li.fb a{*/
/*color: #3b5998;*/
/*}*/
/*.soc li.ok a{*/
/*color: #ed812b;*/
/*}*/
/*.soc li.yt a{*/
/*color: #cd201f;*/
/*}*/
/*.soc li.in a{*/
/*color: #231f20;*/
/*}*/

/*main-nav*/
.main-nav{
}
.main-nav ul{
    height: 60px;
    top: 0;
    opacity: 1;

    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.main-header.smaller .main-nav ul{
    margin-top: 10px;
}
.main-nav li{
    margin: 0 10px;
}
.main-nav li a{
    position: relative;
    display: block;
    padding: 12px 0;
}
.main-nav li img{
    height: 36px;
    vertical-align: top;
}


/*Common*/
.panel{
    height: auto;
}
.panel-default > .panel-heading{
    padding: 0;
}
.panel-heading h3 {
    position: relative;
    border: none;
    margin-bottom: 10px;
    padding: 25px 0;
    color: #333146;
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: none;
}
.panel-heading h3 span{
    position: relative;
}
.panel-heading h3::after{
    content: '';
    position: absolute;
    top: 11px;
    left: 0;
    height: 4px;
    width: 66px;
    background: url("img/panel-heading.svg") no-repeat;
}
.panel-body footer{
    border: none;
}


/*Top Block*/
.top-block{
}
.top-block .panel{
    background: none;
}
.top-block .panel-body{
    padding: 0;
}


/*Top Left Block*/
.top-left-block .panel{
    border: none;
}
.top-left-block .block{
    padding: 0 15px;
    margin: 0 0 15px;
}
.top-left-block .block:not(:nth-child(3n)){
    border-right: 2px solid #F1F4F9;
}
.panel-top-news .panel-heading{
}
.panel-top-news .panel-heading h3{
    margin: 0 0 20px;
    padding: 25px 0 20px;
    color: #333146;
    font-size: 24px;
    text-align: center;
}
.panel-top-news .panel-heading h3::after{
    top: 16px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background-image: url('img/panel-heading.svg');
}
.panel-top-news figure{
    height: auto;
    background: none;
    box-shadow: none;
}
.panel-top-news figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px;
    background: none;
    color: #ffffff;
    text-align: left;
    background: rgba(0,0,0,0.5);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.75)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}
.panel-top-news .post-title{
    display: block;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(255,255,255,0.25);
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;

    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
}
.panel-top-news .extra{
    padding: 8px 0 0;
    font-size: 11px;
}
.panel-top-news .extra span{
    float: left;
    margin-right: 8px;
    line-height: 20px;
}
.panel-top-news .extra .fa-view{
    float: left;
    margin: 0 4px 0 0;
    background-image: url(img/view.png);
}
.panel-top-news .post-title:hover,
.panel-top-news .post-title:active,
.panel-top-news .post-title:focus{
    color: rgba(255,255,255,0.5);
}
.carousel-news{
    position: relative;
}
.carousel-news .slider-for{
    margin-bottom: 0;
}
.carousel-news .slider-nav{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 180px;
    margin-bottom: 0;
    padding: 30px 0 75px;
    overflow: hidden;
    background: #ffffff;
}
.carousel-news .slider-nav .slick-list{
    z-index: 2;
}
.carousel-news .slider-nav .slick-slide{
    width: 100%;
    margin: 0 0 10px;
    overflow: hidden;
    border: none;
    cursor: pointer;
    text-align: center;
    opacity: 1;
}
.carousel-news .slider-nav .slick-slide figure{
    position: relative;
    height: 100%;
}
.carousel-news .slider-nav .slick-slide span,
.carousel-news .slider-nav .slick-slide span::after{
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}
.carousel-news .slider-nav .slick-slide span {
    position: relative;
    display: none;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
    overflow: hidden;
}
.carousel-news .slider-nav .slick-slide span::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
}
.carousel-news .slider-nav .slick-slide.slick-current span::after{
    border-color: #CD1341;
}
.carousel-news .slider-nav .slick-slide img{
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.carousel-news .slider-nav .slick-slide figcaption{
    height: 60px;
    overflow: hidden;
    width: auto;
    padding: 0 15px;
    background: none;
    color: #33343C;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
}
.top-left-block .panel-footer{
    padding: 30px 0;
    background: #ffffff;
    border: none;
}
.top-left-block .panel-footer a{
    display: inline-block;
    padding: 0 15px;
    background: #CD1341;
    color: #ffffff;
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;

    -webkit-border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    border-radius: 15px !important;
}


/*Top Right Block*/
.top-right-block .panel{
    border: none;
    border-bottom: 4px solid #F1F4F9;
}
.top-right-block .panel-heading{
    display: none;
}
.main-video .slick-initialized.slider-for .slick-slide{
    margin: 0;
}
.main-video .slick-initialized.slider-for .slick-slide img{

}
.main-video .slider-for .slider-text{
    height: 300px;
    padding-bottom: 0;
}
.slider-text figure{
    position: relative;
    height: 300px;
}
.slider-text figcaption{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.slider-text figcaption::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.5);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.75)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}
.main-video .slider-for .slick-slide img{
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: auto;

    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.slider-text figcaption > div{
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    padding: 15px 30px;
    color: #ffffff;
    text-align: center;
}
.slider-text figcaption h3{
    margin-bottom: 20px;
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}
.slider-text figcaption h4{
    height: 40px;
    margin: 15px 0;
    line-height: 20px;
}

.main-video .slider-nav{
    height: 300px;
}
.main-video .slider-nav .slick-slide{
    display: table;
    float: none;
    margin: 0;
    height: 75px;
}
.main-video .slider-nav .slick-track,
.main-video .slider-nav .slick-slide{
    width: 100% !important;
}
.main-video .slider-nav h5{
    display: table-cell;
    vertical-align: middle;
    padding: 0 15px;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
}




.gallery .panel-heading h3{
    color: #fafafa;
}
.latest-news .panel-heading h3{
    border: none;
}
.videoportal{
    border-top: 0;
}


/*Panel Figure*/



/*Panel Promo*/


/*

-------------------- Shailoo --------------------------

*/
.alert-shailoo{
    background: #Fafafa;
}
.shailoo *{
    /*line-height: 1.618;*/
}
.shailoo .panel-body{
    padding: 15px;
}
.no-bottom{
    padding-bottom: 0 !important;
}
.shailoo .panel-body-title{
    margin-bottom: 30px;
    padding: 0 0 10px;
    border-bottom: 2px solid #c42026;
    font-family: 'Roboto Bold', Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

/*Media*/
.panel-body-content .media{
    padding-bottom: 15px;
    border-bottom: 1px solid #F1F4F9;
}
.panel-body-content .media:last-child{
    border: none;
}
.panel-body-content .media-left{
    padding-right: 15px;
}
.panel-body-content .media-left a{
    position: relative;
    overflow: hidden;
    display: block;
    width: 100px;
    height: 100px;
}
.shailoo .top-left-block .media-object{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100px;
    width: auto;

    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.shailoo .news-adds{
    padding: 0;
    margin-bottom: 10px;
}
.shailoo .news-adds > *{
    display: inline-block;
    vertical-align: middle;
    float: none;
    padding-right: 5px;
}
.shailoo .news-adds a{
    font-family: 'Roboto Bold', Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 0.05em;
    line-height: 1.618;
}
.shailoo .news-adds .news-time{
    font-size: 12px;
}
.shailoo .top-left-block .media-heading{
    color: #333333;
    font-size: 14px;
}
.shailoo .leave-comment{
    float: right;
    color: #858F97;
    font-size: 10px;
    text-transform: uppercase;
}
.shailoo .leave-comment i{
    padding-right: 5px;
}


/*Panels*/
.top-right-block .panel-body h4{
    font-size: 14px;
}
.panel-debate h4{
    margin: 20px 0 5px;
}
.panel-vote h4{
    margin-bottom: 20px;
}
.panel-vote .radio label::before{
    top: 2px;
}
.panel-vote .radio label::after{
    top: 5px;
    background-color: #5cb85c;
}

/*RATING*/
.rating .list-group-item {
    padding: 0;
    padding-left: 70px;
    margin-top: 20px;
}
.rating .list-group-item .party-logo {
    position: absolute;
    top: 3px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    left: 0;
    text-align: center;
}
.party-logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50px;
    width: auto;

    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.rating .progress {
    height: 10px;
    margin-top: 5px;
    margin-bottom: 40px;
}
.rating .progress-bar {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.rating .progress-bar span {
    position: absolute;
    bottom: 15px;
    right: 0;
    color: #858F97;
}
.party-title{
    display: block;
    padding-right: 50px;
    color: #237dac;
    font-family: 'Roboto Bold', Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 0.05em;
    line-height: 1.618;
    text-transform: uppercase;
}

/*PANEL COMMENTS*/
.panel-comments{
    border-top: 2px solid #F1F4F9;
    border-right: 2px solid #F1F4F9;

    background: #ffffff;
}
.panel-comments .panel-title{
    position: relative;
}
.panel-comments .panel-title{
    border-color: #ffffff;
}
.panel-comments .commentadd{
    position: absolute;
    right: 0;
    bottom: 6px;
    line-height: 20px;
}
.panel-comments .commentadd,
#respond form .submit{
    padding: 7px 10px;
    color: #ffffff;
    font-size: 13px;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
#respond form .submit{
    background: #48A6D8;
}
#respond form .submit:hover{
    background: #237dac;
}
.commentlist {
    margin: 0;
    padding: 0;
    clear: both;
    overflow: hidden;
}
.comment{
    font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.comment,.comment-meta .commentthumb{
    margin: 10px 0 10px 40px;
    padding: 4px;
    border: 1px solid #f4f4f4;
    background-color: #fff;
    list-style: none;
}
.comment article{
    position: relative;
}
.comment .comment-meta {
    position: relative;
    border: none;
    padding: 0;
    padding-left: 45px;
    min-height: 37px;
    height: auto;
    background: #f1f5f8;
    line-height: 37px;
    text-align: left;
}
.comment-meta .commentthumb{
    position: absolute;
    top: 10px;
    left: -40px;
    display: block;
    margin: 0;
}
.comment-meta .commentthumb img {
    width: 60px;
    max-width: 100%;
    height: auto;
    display: block;
}
.commentauthorname {
    color: #4e5e6a;
    font-weight: bold;
}
.comment .commenttime {
    display: inline;
    float: right;
    margin-right: 10px;
    color: #9DA8B0;
    /*text-transform: uppercase;*/
    white-space: nowrap;
    font-family: 'Roboto Regular', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    line-height: inherit;
    /*font-weight: bold;*/
}
.commentcontent {
    position: relative;
    padding: 20px 55px 20px 45px;
    color: #333333;
    line-height: 1.5;
}

.commentreply a {
    position: absolute;
    right: 12px;
    bottom: 3px;
    display: block;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 600;
}

/*COMMENT FORM*/
.comment-block {
    clear: both;
    min-height: 40px;
}
#respond {
    padding: 0;
    margin: 0;
    padding-top: 90px;
}
#respond h3{
    border-top: 3px solid #333333;
    margin: 0 0 30px;
    padding: 15px 0 10px 0;
    color: #333333;
    font-family: 'Roboto Condensed', serif;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
}
#respond form {
    position: relative;
    clear: both;
    padding: 0 10px;
    padding-bottom: 65px;
    width: 100%;
}
#respond form p,#respond form .captcha {
    clear: both;
    margin: 10px 0;
}
#respond form label,.g-recaptcha {
    position: relative;
    float: left;
    padding-right: 15px;
    width: 15%;
    color: #9DA8B0;
    text-align: right;
    font-weight: normal;
}
#respond form .required {
    position: absolute;
    top: 0;
    right: 5px;
    color: #9DA8B0;
}
#respond form input[type="text"],#respond form textarea {
    float: left;
    padding: 5px 10px;
    outline-color: #e2eaed;
    border: 1px solid #d2dadd;
    background: #fff;
    width: auto;
    color: #3a3a3a;
    font-size: 13px;
}
#respond form textarea {
    display: inline-block;
    float: none;
    clear: both;
    resize: vertical;
    width: 85%;
}
#respond form p.form-submit {
    float: right;
}
#respond form .submit{
    display: inline-block;
    padding: 8px 20px;
    border: none;
    text-decoration: none;
    text-shadow: none;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}