@font-face {
    font-family: 'Fira Sans Medium';
    src: url('fonts/fira-sans/firasans-medium.eot');
    src: url('fonts/fira-sans/firasans-medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/fira-sans/firasans-medium.woff2') format('woff2'),
         url('fonts/fira-sans/firasans-medium.woff') format('woff'),
         url('fonts/fira-sans/firasans-medium.ttf') format('truetype'),
         url('fonts/fira-sans/firasans-medium.svg#fira_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

.madaniyat{
    /*font-family: Verdana, sans-serif;*/
}

/*Madaniayt page style*/
.m-footer{
    margin-top: 15px;
}

.panel-footer{
    padding-bottom: 15px;
}
.madaniyat .panel{
    background: #ffffff;
}
.madaniyat .panel footer a{
    color: #2C3E50;
}
.madaniyat .panel footer a:hover{
    color: #34495E;
}

/*HEADER*/

.m-logo{
    position: absolute;
    display: block;
    height: 90px;
    float: left;
    z-index: 222;
    padding-right: 20px;
}
.m-logo img{
    height: 70px;
    width: inherit;
    float: left;
    display: block;
    position: relative;
    padding: 5px 14px;
}

#header .search {
    display: inline-block;
}
.madaniyat .left-header {
    padding: 0px;
}

.madaniyat .top-bar {
    padding: 10px 0;
    line-height: 28px;
}
.madaniyat .top-number {
    color: #fff;
}
.madaniyat .top-number p {
    margin: 0
}
.social {
    text-align: right;
}
.social-share {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.social-share li {
    display: inline-block;
}
ul.social-share li a {
    display: inline-block;
    color: #fff;
    width: 30px;
    height: 25px;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    border-radius: 2px;
}
ul.social-share li a:hover {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
}


/*MADANIYAT*/

.madaniyat .socmuz {
    position: absolute !important;
    right: 56px !important;
    top: 45px !important;
}
.madaniyat .socmuz li{
    width: 16px;
}
.madaniyat .socmuz li a{
    font-size: 14px !important;
}

.madaniyatfix {
    margin-top: -45px;
}
.madaniyatcolor h3 {
    margin-top: 10px;
    color: #34495e;
    font-weight: 500;
    font-family: 'Fira Sans Medium', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
    border-bottom: 3px solid #c33 !important;
    text-align: left !important;
}
.photosborder {
    border-left: 3px solid #F1F4F9;
}
.photosborder h3 {
    margin-top: -55px;
    border: none !important;
}
.photosborder h3 a {
    color: #404142;
}
.mabout {
}
.mimage {
    padding: 0px;
}
.mlogo {
    width: auto;
    height: auto;
}
.mculture {
    height: 339px;
    padding: 40px;
}
.m1, .m2, .m3, .m4 {
    padding: 0px;
}
.m1 {
    color: #333;
}
.m1 p {
    text-align: justify;
    font-size: 19px;
    margin: 5px 25px 10px 25px;
    font-family: 'Roboto Condensed';
    font-weight: normal;
}
.m2 {
    min-height: 80px;
    margin-top: -5px;
}
.m22 {
    min-height: 80px;
}
.m22 p {
    font-size: 24px;
    text-align: right;
    padding: 10px;
}
.m2 p {
    font-size: 24px;
    text-align: right;
    padding: 10px;
}
.m3 {
}
.m3 p {
    font-weight: bold;
    text-align: justify;
    padding: 0px 10px 0px 10px;
}
.mculture p {
    text-align: justify;
    font-size: 19px;
    font-family: 'Roboto Condensed';
    font-weight: normal;
    color: #333;
}
.mdown {
    margin-top: 20px;
}
.no-padding {
    padding: 0px;
}
.telecasts {
    padding: 10px;
}
.telecast_pic a img {
    max-width: 160px;
    height: 140px;
    float: left;
    margin-right: 10px;
}
.telecast_data a {
    color: #4d4d4f;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', serif;
    font-size: 15px;
}
.schedule span.day {
    display: inline-block;
    text-align: center;
    padding: 0 1px;
    background-color: #928F8F;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 13px;
}
.schedule span.day_active {
    background: #CF3529;
}
.aboutperedachi {
    display: block;
    margin-top: 5px;
    color: rgba(77, 77, 79, 1.8);
    font-size: 18px;
    line-height: 19px;
    text-transform: none;
    font-weight: normal;
}
.mgallery{
    padding: 0px;
}
.mgallery .panel-carousel .slick-slide{
    height: 200px;
}
.mgallery .panel-carousel .slick-slide img{
    height: 200px !important;
}
.m-container{
    margin-bottom: 15px;
}
.madaniyat .main-wrapper{
    background: #f5f5dc;
}
.madaniyat .list-group-item{
    background: none;
}
.madaniyat .ctg-panel .list-group-item:hover{
    background: none;
}
.madaniyat .ctg-panel .list-group-item:hover a {
    color: #ffffff;
    background: #606061; 
}
.mgallery .main-back{
    padding: 5px 10px 5px 10px;
    background: #eee;
}
.homemgallery .g-row{
    padding: 0px 10px;
}
.homemgallery .main-back{
    padding: 0;
    background: none;
}
.homemgallery .main-back .g-extra{
    font-size: 14px;
    margin-bottom: 15px;
}
.homemgallery .main-back .g-title{
    font-size: 18px;
    line-height: normal;
    font-family: 'Fira Sans Medium', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    height: inherit;
}
.homemgallery .slick-prev:before, 
.homemgallery .slick-next:before{
    font-size: 50px;
    font-weight: bold;
}

.mgallery .g-extra{
    color: #555;
    font-size: 12px;
    font-weight: bold;
}
.mgallery .g-extra i{
    padding-right: 5px;
}
.mgallery .g-extra .datetime{}
.mgallery .g-extra .view{
    float: right;
}
.mgallery .g-title{
    font-size: 15px;
    font-weight: bold;
    line-height: 15px;
    padding: 10px 0;
    height: 65px;
    max-height: 100%;
    color: #332f2e;
}
.mgallery .g-title:hover{
    color: #237dac;
}
.panel-gallery .title{
    font-weight: bold;
    font-size: 20px;
    display: table-cell;
}

/*Madaniayt page style*/

/*Video promo*/
.m-promo{
    height: inherit;
}
.madaniyat .panel-promo{
    border: none;
}
.m-promo .main-video .embed-responsive-16by9 {
    padding-bottom: 11.25%;
}
.m-promo .main-video .slick-slide img {
    float: left;
    height: 100px;
    width: 100%;
    cursor: pointer;

    -webkit-transform: scale(1.35);
    -moz-transform: scale(1.35);
    -ms-transform: scale(1.35);
    -o-transform: scale(1.35);
    transform: scale(1.35);
}
@media (max-width:1170px) {
    .m-promo .main-video .slick-slide img {
        height: 80px;
        width: auto;
    }
}
@media (max-width:970px) {
    .m-promo .main-video .slick-slide img {
        margin: 0px;
        height: 100px;
        width: auto;
    }
    .m-promo .main-video .slider-for .slider-text {
        height: 407px !important;
    }
}
.m-promo .main-video .slick-initialized .slick-slide {
    position: relative;
    display: inline-table;
    margin: 0 3px;
    overflow: hidden;
}
.m-promo .main-video  .slider-nav .slick-slide{
    /*display: none !important;*/
    margin:1px; 
}
.m-promo .main-video  .slider-nav .slick-slide span{
    padding-left: 5px;
    color: #8493A3;
    font-size: 14px;
}
.m-promo .main-video  .slider-nav .slick-slide h4{
    position: absolute;
    bottom: 5%;
    left: 5%;
    padding: 5px 10px;
    margin: 0;
    width: 90%;

    background: #bb0f04;
    background: rgba(214,0,0,0.5);
    /*background: #29a2f8;*/
    color: #ffffff;

    font-size: 14px;
    text-align: left;

    cursor: pointer;
}
.m-promo .main-video  .slider-for .slick-slide {
}
.m-promo .main-video .slider-for .slider-text {
    height: 250px;
}
.m-promo .main-video .slick-slider {
    margin-bottom: auto;
}
.m-promo .slick-text h2 {
    margin: 15px 0px;
    /*height: 60px;*/
    color: #4e5e6a;
    font-family: 'Fira Sans Medium', Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}

/*Video promo

/* SLider anons*/
.panel-avi {

}
.madaniyat .panel-anons-video{
    margin-bottom: 0px;
    border-bottom: 1px solid #e5e5e5;
}
.madaniyat .panel-soonnew{
    background: #f5f5f5;
}
.madaniyat .panel-soonnew .panel{
    background: transparent;
}
.slider-anons{
    margin-bottom: 19px;
}
.slider-anons img{
    height: 250px;
    width: 100%;
}
.slider-anons .slick-next,
.slider-anons .slick-prev{
    margin-top: -12px;
    background: rgba(255,255,255,0.75);
    height: 40px;
    width: 24px;
    border-radius: 2px !important;
    z-index: 1;
}
.slider-anons .slick-next{
    right: 5px;
}
.slider-anons .slick-prev{
    left: 5px;
}
.anons-box{
    position: relative;
}
.anons-box .anons-title{
    position: absolute;
    bottom: 0;
    background: rgba(231,76,60,0.7);
}
.anons-box .anons-inner{
    height: 60px;
    width: 300px;
    max-width: 100%;
    display: table-cell;
    vertical-align: middle;  
    padding: 0 15px;  
}
.anons-box .anons-title span{
    display: block;
    color: #fff;
    font-weight: 500;
    font-size: 14px;    
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
}
.anons-box .anons-title span:hover{
    color: #5a1a10;
}
.anons-box .anons-date{
    position: absolute;
    top: 0;
    padding: 10px 10px 10px 15px;
}
.anons-box .anons-date span{
    padding: 0px 3px;
    color: #fff;
    background: rgba(231, 76, 60, 0.72);
}
/* SLider anons*/

.tele-programma h2{
    margin: 19px 0px;
    /* height: 60px; */
    color: #4e5e6a;
    font-family: 'Fira Sans Medium', Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}
.tele-programma .panel{
    border: none;
    box-shadow: none;
    margin-bottom: 2px;
}
.tele-programma .panel-padding{
    margin-left: -5px;
    margin-right: -5px;
}
.tele-programma .t-padding{
    padding: 0px 5px;
}
.tele-programma .live{
    background: #C0392B !important;
}
.tele-programma .programma-list:nth-child(2n) .programm{
    background: #E74C3C;
}

.tele-programma .programm{
    display: block;
    height: 100px;
    width: 100%;
    text-decoration: none;
    color: #fff;
    background: #C0392B;
    padding: 15px 5px 5px 10px;
    transition: .1s linear;
}
.tele-programma .programm .date{
    display: block;
    color: #FFEB3B;
    font-weight: bold;
}
.tele-programma .programm .title{
    display: block;
    line-height: 14px;
    font-size: 12px;
}

.tele-programma .live .bcLive{
    position: absolute;
    top: 4px;
    font-size: 10px;
    text-align: right;
    text-transform: uppercase;
}
.tele-programma .live .bcLive i{
  padding-right: 5px;
  color: #FFEB3B;
}
.tele-programma .live .bcLive.blink i{
  opacity: 0;
}

/* VIDEO BLocK*/

.panel-no-padding{
    padding: 0px !important;
}
.video-block{
    padding: 0;
}
.video-block .panel-body footer a {
    color: #fff;
}
.video-block .panel{
    background: #ffffff;
    border-bottom: 1px solid #e5e5e5;
}
.video-block .panel-title{
    color: #34495e;
    border-bottom: none;
    font-weight: 500;
    font-family: 'Fira Sans Medium', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
}
.panel-videos article {
    height: 210px;
    padding: 0 10px;
    margin-bottom: 10px;
}
.panel-videos article .img {
    position: relative;
    overflow: hidden;
    display: block;
    height: 150px;
}
.panel-videos article .img img{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    height: auto;
    width: 270px;
    opacity: 1;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}
.panel-videos article .img .overlay{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;

    opacity: 0;
    -webkit-transition: opacity 0.4s ease;
    -moz-transition: opacity 0.4s ease;
    -ms-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
}
.panel-videos article .img:hover .overlay{
    opacity: 1;
        background: rgba(0,0,0,0.5);
}
.panel-videos article .img i.fa-view{
    position: absolute;
    top: 0;
    left: 5px;
    margin: auto;
    z-index: 3;
    opacity: 1;

    width: 20px;
    height: 20px;
    background: url('img/view.png') no-repeat center center;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.panel-videos article .img .media-view{
    position: absolute;
    top: 17px;
    left: 5px;
    z-index: 3;

    display: block;
    width: 20px;

    color: #ffffff;
    font-size: 12px;
    line-height: 1;
    text-align: center;
}
.panel-videos article .img .media-project{
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 3;

    display: block;
    max-width: 200px;

    color: #ffffff;
    font-family: 'Roboto Condensed', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    /*font-weight: bold;*/
    line-height: 1;
    text-align: right;
    text-transform: uppercase;
}
.panel-videos article .img i.fa-video{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
    opacity: 0.25;

    width: 40px;
    height: 40px;
    background: url('img/video.png') no-repeat center center;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.panel-videos article .img:hover i.fa-video{
    opacity: 1;
}
.panel-videos article .img .overlay, .panel-videos article .img i.fa-video, .panel-videos article .img i.fa-view, .panel-videos article .img .media-view{
    -webkit-transition: opacity 0.4s ease;
    -moz-transition: opacity 0.4s ease;
    -ms-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
}
.panel-videos article .img h4 {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    z-index: 2;
    padding: 10px 0 10px 10px;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    font-family: 'Roboto Condensed', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
.panel-videos article .img .media-date{
    position: absolute;
    z-index: 3;
    bottom: 5px;
    left: 5px;

    color: #ffffff;
    font-size: 12px;
}
.panel-videos article .img h4 i {
    padding-right: 10px;
    vertical-align: middle;
    font-size: 20px;
}
.panel-videos article .title {
    display: table-cell;
    height: 50px;
    vertical-align: middle;
    width: inherit;
}
.panel-videos article .title h4 {
    margin: 0;
    color: #2D3E4A;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.panel-videos article .title h4:hover {
    color: #4e5e6a;
}
.panel-videos article .title {
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    width: inherit;
}
.panel-videos .media-title{
    display: table-cell;
    vertical-align: middle;
    max-width: 100%;
    width: 300px;
    height: 70px;
    overflow: hidden;
}
.panel-videos .media-title h4{
    margin: 0;
    margin-top: 2px;
    color: #34495E;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    font-family: 'Fira Sans Medium', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.video-all .panel-videos .media-title h4{
    color: #34495E;
    font-size: 14px;
}
.video-all .panel-videos .media-title h4:hover{
    color: #34495E;
}
.panel-videos .media-title h4:hover{
    color: #34495E;
}
/**/
.panel-main-video article{
    height: inherit;
}
.panel-four-video article {
    height: 270px;
}
.panel-main-video article .media-header{
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}

.panel-four-video article .media-header{
    position: relative;
    display: inline-block;
    width: 100%;
}
.panel-main-video article .media-date
{
    float: right;
    font-size: 14px;
    padding-right: 15px;
    color: #34495E;
}
.panel-four-video article .media-date
{
    float: left;
    font-size: 14px;
    padding-right: 15px;
    color: #34495E;
}
.panel-four-video .media-top-header{
    padding-top: 5px;
    color: #34495E;
}

.panel-main-video article .media-views,
.panel-four-video article .media-views
{
    float: right;
    color: #34495E;
}
.panel-main-video article .media-category,
.panel-four-video article .media-category
{
    padding-right: 10px;
    float: left;
    font-size: 15px;
    /*font-weight: bold;*/
}
.panel-main-video article .media-category a,
.panel-four-video article .media-category a
{
    color: #34495E;
}
.panel-main-video article .media-title
{
    position: relative;
    vertical-align: inherit;
    width: inherit;
    /*height: inherit;*/
}
.panel-four-video article .media-title
{
    position: relative;
    vertical-align: inherit;
    width: inherit;
    /*height: inherit;*/
}
.panel-four-video article .media-title h4
{
    text-align: left;
}
.panel-main-video article,
.panel-four-video article,
{
    padding: 0px !important;
    height: inherit;
}
.panel-main-video article .img{
    height: 334px;
}
.panel-four-video article .img{

}
.panel-videos article .img img{
    width: 100%;
}


/* VIDEO BLocK*/

/* PANEL NEWS*/
.panel-news article i{
    padding-right:5px; 
}
.panel-news article{
    margin-bottom: 20px;
}
.panel-news article a{
    color: #333;
    line-height: 18px;
}
.panel-news article a:hover{
    color: #237dac;
}
.panel-news article .more{
    color: #9a9999;
    font-size: 12px;
    padding: 5px 0px;
}
.panel-news article .x-extra{

}
.panel-news article .pn-title{
    font-weight: bold;
}
.panel-news article .pn-substr{
    padding-top: 10px;
    color: #444;
}
.panel-news article .more .dates{
    float: left;
    padding-right: 8px;
}
.box{
    position: relative; 
    overflow: hidden;
}

.news-top{
}

.news-top .box {
    height: 350px;
}
.carousel-caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    /* z-index: 8; */
    color: #ffffff;
    text-align: left;
    text-shadow: none;
    font-size: 16px;
    line-height: 24px;
    padding: 15px;
    font-family: 'Fira Sans Medium', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.box img {
    height: 100%;
    width: initial;
    max-width: inherit;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    image-rendering: optimizequality;
}
.box:hover img {
    -webkit-transform: scale(1.25); /* Safari and Chrome */
    -moz-transform: scale(1.25); /* Firefox */
    -ms-transform: scale(1.25); /* IE 9 */
    -o-transform: scale(1.25); /* Opera */
    transform: scale(1.25); /*rotate(3deg)*/
    display: inline-block;
    line-height: 0;
}
.box .title-name{
    font-family: 'Fira Sans Medium', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px !important;
    line-height: 22px;
    text-align: left;
    margin-top: 10px
}
.box .desc-name{
    line-height: 20px;
    text-align: left;
    font-size: 16px !important;
    margin-top: 20px;
}
.news-top .overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.75));
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.75));
    background-image: -o-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.5));
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.5));
    background-image: linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.5));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fef8951d', endColorstr='#00f8951d');
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.9) 90%)!important;
    overflow: hidden;
    opacity: 1;
    
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    width: 100%;
    height: 100%;
}
.news-top .info {
    display: block;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0;
    z-index: 100;
    color: #fff;
    font-weight: normal;
    font-size: 14px;
}
.news-top .info p{
    margin: 0;
    font-size: 12px;
    line-height: 40px;
    text-transform: uppercase;
}

.news-top .info span {
    
}
.news-top .info span.news-eye {
    padding-left: 10px;
}
.news-top .info span:first-child {
    padding-left: 0;
}
.news-top .cat-data span {
    width: 36px;
    height: 36px;
    text-align: center;
    color: #fff;
    line-height: 36px;
    font-weight: 700;
    font-size: 22px;
    background: #e74c3c;
    display: inline-block;
    margin-right: 5px;
    float: left;
}
/* PANEL NEWS*/

/* All News page*/
.panel-allnews{
    margin-top: 15px;
}
.panel-allnews .newstitle{
    font-size: 20px;
    font-weight: bold;
    display: table-cell;
    padding-bottom: 10px;
}
/* All News page*/
.madaniyat .panel-top-articles .panel-body>div{
    border: 1px solid #e5e5e5;
    padding-bottom: 10px;
}
.madaniyat .panel-top-articles .nav-tabs>li{
    border-bottom: 3px solid #e5e5e5 !important;
    background: transparent !important;
}
.madaniyat .panel-top-articles .nav-tabs>li.active{
    border-bottom: 3px solid #c33 !important;    
}
.madaniyat .panel-top-articles .nav-tabs>li>a{
    color: #34495E;
    font-family: 'Fira Sans Medium', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.madaniyat .panel-top-articles .nav-tabs>li.active>a{
    background: #e5e5e5 !important;
    color: #34495E;
    font-size: 14px;
}
.madaniyat .panel-top-articles .tab-content{
    padding-left: 15px;
    padding-right: 15px;
}
.madaniyat .panel-articles .media-heading{
    color: #34495E;
    font-family: 'Fira Sans Medium', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: normal;
}
.madaniyat .e-cat{
    color: #c33;
}

/*FOOTER*/
.madaniyat .panel-body footer{
    border-top:none; 
}
.madaniyat .prefooter,
.madaniyat .footer-info,
.madaniyat .footer-trademark{
    background: #f5f5dc;
}

/*FOOTER*/

/* NEW MENU*/
.madaniyat .main-header::before{
    background-image: none
}
.madaniyat .main-header::after{
    background-image: none
}
.madaniyat .top-nav{
    left: 0;
    right: 0;
    text-align: center;
}
.madaniyat .top-nav ul{
    display: inline-block;
}
.madaniyat .top-nav ul li img{
    height: 15px;
}
.madaniyat .navbar{
    border: none;
    height: 80px;
}
.madaniyat .navbar-nav{
    float: none;
    padding-top: 15px;
    text-align: center;
}
.madaniyat .navbar-nav>li {
    float: none;
    display: inline-block;
}
.madaniyat .navbar-nav>li>a{
    color: #fff;
    font-size: 16px;
    font-family: 'Fira Sans Medium', Arial, sans-serif;
    text-transform: uppercase;
}
.madaniyat .navbar-nav>li>a i{
    padding-right: 5px;
}
.madaniyat .nav>li>a:focus, .madaniyat .nav>li>a:hover{
    background: none;
}

.madaniyat .navbar-nav>li>.dropdown-menu{
    background: rgba(0, 0, 0, 0.65);
    padding: 5px 0px;
}
.madaniyat .navbar-nav>li>.dropdown-menu li{
    margin-bottom: inherit;
}
.madaniyat .navbar-nav>li>.dropdown-menu li a{
    color: #fff;
}
.madaniyat .dropdown-menu>li>a:focus,.madaniyat .dropdown-menu>li>a:hover{
    background: none;
}
/* NEW MENU*/
