.panel-page-withsidebar{
    border-right: 2px solid #F1F4F9;
}
.panel-page-withsidebar .panel-body{
    padding: 15px;
}
.panel-page-sidebar{
    border-left: 2px solid #F1F4F9;
}


.rsarticles {
    padding: 15px;
    text-align: justify;
    font-size:14px;
}

.rsarticles a {
    text-decoration: underline;
}
.rsarticles .titlelink{
    display: inline;
    float: right;
    padding: 10px 20px 10px 50px;
    width: 300px;

    font-size: 14px;
    line-height: 1;
    text-align: center;
}
.rsarticles .titlelink i{
    font-size: 120px;
}
.rsarticles .titlelink span{
    display: block;
    margin-top: 10px;

    width: 100%;

    line-height: 1.5;
}
.rsarticles ul>li, p {
    line-height: 1.5;
}
.rsarticles ul {
    list-style: decimal;
    padding-left: 20px;
}
.rsarticles a {
    cursor: pointer;
}

/*History*/
.historypage .panel-body{
    padding: 15px;
}
.historypage .media{
    border-bottom: 1px solid #F1F4F9;
    padding: 15px 0;
    margin: 0;
}
.historypage .media:last-child{
    border: none;
}
.historypage .media-left,.historypage .media-right{
    position: relative;
}
.historypage .media-left{
    padding-right: 30px;
}
.historypage .media-right{
    padding-left: 30px;
}
.historypage .hist-year{
    position: absolute;
    bottom: 0;

    padding: 0 10px;

    background: rgba(255, 255, 255, 0.8);
    color: #333333;

    font-size: 36px;
}
.historypage .media-left .hist-year{
    left: 0;
}
.historypage .media-right .hist-year{
    right: 0;
}
.img-block{
    position: relative;
}
.historypage p{
    margin-top: 0;

    line-height: 1.5;
}
.historypage .media img{
    height: 200px;
    width: auto;
}


/*MANAGERS*/
.panel-managers .panel-body{
    padding: 15px;
}
.directors{
    padding: 0;
}
.directors-small{
    border: 1px solid #F1F4F9;
    border-top: none;
    border-right: none;
}
.directors-small:last-child{
    border-right: 1px solid #F1F4F9;
}
.directors > div{
    height: 350px;
    overflow: hidden;
    width: 50%;
}
.directors-small > div{
    height: 270px;
    width: 100%;
}
.directors-small .director-thumb{
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;

    float: none;
    width: 250px;
    height: 250px;
    margin: 20px auto;
    overflow: hidden;
}
.directors-small .director-thumb img{
    width: auto;
    height: 250px;
}
.director-info{
    border: 1px solid #F1F4F9;
    border-left: none;
    display: table-cell;
    float: none;
    vertical-align: middle;

    text-align: center;
}
.directors-small .director-info{
    border-top: none;
    height: auto;
    padding-bottom: 20px;
}
.director-info h4{
    margin: 15px 0;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;

}
.directors-small .director-info h4{
    padding: 0 10px;
    font-size: 14px;
}
.director-info h5{
    margin: 15px 0;
}
.directors-small .director-info h5{
    padding: 0 15px;
}
.top-left-block .first-level{
    padding: 0 10px;
    margin: 0;
}
.first-level > .list-group-item{
    padding: 10px 0;

    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.second-level{
    margin: 0;
}
.second-level .list-group-item{
    padding: 5px 10px;
    font-weight: normal;
    text-transform: none;
}
.list-extra,.list-info{
    display: table-cell;
    vertical-align: middle;
    padding: 0 10px;
}
.list-extra{
    width: 200px;
    min-width: 200px;

    color: #9DA8B0;
}
.list-info{
}

/*DIRECTOR*/
.directorpages .media-director{
    padding: 0 15px !important;
}
.directorpages .media-director .media-left img{
    width: 150px;
}
.directorpages .media-director .list-group{
    margin: 0;
}
.directorpages .media-director .list-group-item:first-child{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.directorpages .list-group{
    padding: 5px 15px;
}
#button{
    margin-top: 15px;
}