/*LANGUAGE Birinchi radio*/
.language{
    margin-top: 7px;
    margin-right: 32px;
    -webkit-transition: bottom 0.3s;
    -moz-transition: bottom 0.3s;
    -ms-transition: bottom 0.3s;
    -o-transition: bottom 0.3s;
    transition: bottom 0.3s;
}
.language li{
    padding: 0px 5px !important;
    float: left;
}
.language li a{
    padding: 0px 8px 1px 8px !important;
    margin: -6px;

    color: #ffffff;
    box-shadow: none !important;

}
.language li a.hover{
    padding: 0px 5px !important;
    background: red !important;
}
.language li.active{
    background: #2D596D;
    border-radius: 1px !important;
}
.language li.active a{
    color: rgba(255, 255, 255, 0.65);
}


/*LANGUAGE Landing radio pages*/
.languages{
    position: absolute;
    z-index: 2;

    right: 0;
    margin-top: 60px;

    -webkit-transition: bottom 0.3s;
    -moz-transition: bottom 0.3s;
    -ms-transition: bottom 0.3s;
    -o-transition: bottom 0.3s;
    transition: bottom 0.3s;

    background: #0CB2AB;   
}
.languages ul{
    text-align: center;
}
.languages li{
    padding: 0 7px;

    background: none;
}
.languages li a{
    position: relative;

    color: #000;

    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Roboto condensed';
}
.languages li.active{
    background: #444;
}
.languages li:hover{
    background: #0CB2AB;
}
.languages li.active a{
    color: rgba(255, 255, 255, 0.65);
}

@media (max-width:770px) {
    .languages {
        position: absolute;
        top: -55px;
        right: 50px;
        display: inline-block;
    }
}

/* Birinchi Radio page styles*/
.birinchiradio {
    font-family: 'Roboto Regular';
    background: #fff6f1;
}

.birinchiradio header.top-menu{
    height: inherit !important;
    margin-top: 33px;
    margin-bottom: -25px;
}
.topheader {
    background: #2D596D;

}

.topheader .navbar{
    min-height: inherit;
    margin: 0;
    border: none;
    background: #4E7486;   
}

.oneheader{
    margin-top: 20px;
}


.birinchiradio .top-nav{
    position: relative;
    left: 5px;
    text-align: center;
    display: block;
    float: none;

}
.birinchiradio .main-header{
    background: #fff6f1;
}
.birinchiradio .top-nav ul{
    text-align: center;
    display: block;
    float: none;
}
.birinchiradio .top-nav li{
    display: inline-block;
    padding: 0px 10px;
    vertical-align: middle;
    float: none;
}
.birinchiradio .top-nav li a{
    padding: 5px;
}
.birinchiradio .top-nav li a h4:hover{
    color: #03A9F4;
}

.birinchiradio .top-nav img{
    height: 15px;
    width:auto;
}
.birinchiradio .top-nav a h4{
    display: inline-block;
    margin-left: 7px;
    vertical-align: middle;
    color: #2D596D;
    font-family: "Roboto Condensed";
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 0;
    text-transform: uppercase;
}
.birinchiradio .top-nav .dropdown-menu {
    background: #444;

}

.birinchiradio .topradio li a {
    color: #D2D0D0;
    border-left: 1px solid #333333;
    margin-right: -7px;
}

.birinchiradio .search-toggle, .birinchiradio .form-search.visible {
    margin: -4px -10px 0px 0px;
}
.birinchiradio .logo-block {
    position: relative;
}


.onenavbar .active{
    background: #999999;
}
.birinchiradio .navbar .dropdown-menu, .birinchiradio .navbar .dropdown-menu li>a {
    background: #eee;
    color: #444;

}
.birinchiradio .navbar .dropdown-menu:hover, .birinchiradio .navbar .dropdown-menu li>a:hover {
    color: #000;
    background:#eee;
}

.birinchiradio .navbar .dropdown-menu li>a {
    padding: 3px 5px 3px 15px !important;
}
.birinchiradio .oneheaderone .active {
    background: #4483A0;
}
.birinchiradio .navbar-brand {
    height: auto;
}
.birinchiradio .navbar li>a {
    padding: 10px 15px;
    font-size: 14px;
    color: #fff;
    box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}
.birinchiradio .navbar-brand{
    padding: 10px 15px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}
.birinchiradio .navbar-brand:hover{
    background: none repeat scroll 0% 0% #4483A0;
}

.birinchiradio .navbar li .active{
    color: #fff;
    background: none repeat scroll 0% 0% #4483A0;
}
.birinchiradio .navbar li>a:hover, .birinchiradio .navbar li>a:active, .birinchiradio .navbar li>a:focus {
    color: #fff;
    background: #4483A0;

}
.birinchiradio .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background: none repeat scroll 0% 0% #4483A0;
}
.birinchiradio #site-channel1 a {
    display: block;
    padding: 0px;
    float: left;
}
.birinchiradio .sitemenu a {
    margin-top: 5px;
    margin-left: -15px
}
.birinchiradio .sitemenu span {
    color: inherit;
}
.birinchiradio .sitemenu a h4 {
    float: left;
    margin:10px 0px;

    color: #FFFFFF;
    font-size: 31px; 
}

.birinchiradio .form-search .form-group input{
    border-bottom: none;
    color: #fff;
    background: #2D596D;
}

.onelogos {
    height: 45px;
    width: auto;
    margin-left: 5px;
}
.onesoc {
    margin-right: -9px;
    margin-top: 8px;
    display: none;
}
.onesoc .fa-facebook {
    color: #3b5998;
}
.onesoc .fa-twitter {
    color: #4099FF;
}
.onesoc .onetwit {

}
.onesoc .onetwit a:hover, .onesoc .onepost a:hover   {
    background: none;
}
.onesoc .onetwit a {
    color: #4099FF;
}
.onesoc .onetwit a:hover {
    color: #fff;
}
.onesoc .onepost a {
    color: #3b5998;
}
.onesoc .onepost a:hover {
    color: #fff;
}
.onesoc li {
    float: right;
    color: red;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}
.onesoc i {
    padding-right: 10px;
}
.onesoc li>a {
    padding: 0px;
}
.oneline {
    display: inline-block;
    float: left;
    position: absolute;
    right: 0px;
/*    background: #55646B;*/
    margin-top: -10px;

}
.birinchiradio time {
    color: #EDE3FF;
    font-weight: bold;
    font-size: 18px;
}

.oneline .time {
    margin-top: 0px;
    padding: 6px
}
.oneline .time:hover{
    background: none;
}
.onetime{
    margin-left: 5px;
}
.onetime a {
    padding: 0px !important;
}
.onetime .btn{
/*    color: #FFFFFF;
    background: #607D8B;*/
    color: #FFEB3B;
    background: #4E7486;
    font-size: initial;
    border: none;
    padding: 5px 15px;
    font-size: 18px;
    border-radius: 2px !important;
    outline: none;
}

.onetime .btn:hover{
    color: #FFFFFF;
    background: #4E7486;
}
.onetime a:hover{
    background: none !important;
    color: blue !important;
}
.onetime i {
    padding-right: 10px;
  text-shadow: 0 -1px rgba(0,0,0,0.1);
  -webkit-animation: i 1.5s linear infinite;
  animation: i 1.5s linear infinite;
}

@-webkit-keyframes i {
 50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
}
@keyframes i {
 50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
}

.chastota{
    color: #fff;
    margin-left: -40px;
}
.chastota li{
    padding: 0px 5px;
    box-shadow: 1px 0 0 0 rgb(42, 75, 90);
    font-size: 14px;
    float: left;
}
.chastota li:last-child{
    box-shadow: none;
}


.btn-one {
    padding: 10px;
}
.btn-one:focus {
    background: none;
}


/* BEGIN Birinchi Home page*/

.homepage .panel-articles {
    background: none !important;
    border: none !important;
}
.homepage .panel-body footer {
    border: none;
}

.homenews .panel-articles .extra{
    margin: 0;
    position: relative;
}
.homenews .panel-articles .media{
    margin: 0;
    padding: 5px 0px;
    border-top: 1px solid #E3D1C7;
}

.homenews .panel-articles .panel-body {
    padding: 0px 15px 0px 15px;
}
.homenews .e-datetime, .e-cat {
    position: absolute;
    z-index: 4;
    bottom: 0;

    width: 100%;
    padding: 0px 5px;

    color: #fff;

    font-size: 11px;
    background: rgba(45, 45, 45, 0.81);
}
.homenews .panel-articles .media-heading {
    text-align: justify;
}
.homenews .panel-articles .media-left a{
    width: 85px !important;
}
.title, .homenews .panel-title{
    border-bottom: 1px solid #e3d1c7;

    padding: 0px 0px 5px 0px;

    color: #2D596D;

    font-size: 22px;
    font-family: 'Roboto condensed';
    text-transform: none;

}
 .homenews a.cat-link h3:hover{
    color: #163442;
    border-bottom: 1px dotted;
}
.titleshows{
    border-bottom: 1px solid #2D596D;

    padding: 0px 0px 5px 0px;

    color: #2D596D;

    font-size: 24px;
    font-family: 'Roboto condensed';
    text-transform: none;

}

.titleshowsright{
    position: absolute;
    top: 5px;
    right: 15px;  

    font-size: 21px;
    font-family: 'Roboto condensed';
    text-transform: none;
}
.titleshowsright a{
    color: #2D596D;
}
.titleshowsright i{
    padding-left: 10px;
    font-size: 18px;
}
.homeleftcategory .pull-right{
    color: #2D596D;
    cursor: pointer;
    font-size: 16px;
    margin-top: 7px;
}
.homeleftcategory .pull-right .fa-arrow-up:hover{
    color: #49AAD6;
}
.homeleftcategory .pull-right .fa-arrow-down:hover{
    color: #49AAD6;
}
.homeleftcategory ul li{
    list-style: none;
}
.homeleftcategory ul li a{
    display: block;
    color: #544b48;

    padding-left: 5px;

    line-height: 28px;
    font-size: 16px;
    font-weight: 600;  

    text-align: left;
    -webkit-transition: background 0.15s ease-in-out;
    -moz-transition: background 0.15s ease-in-out;
    -o-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
}

.homeleftcategory footer {
    float: right;
    padding-top: 10px;
}
.homeleftcategory footer a{
    color: #2D596D;
    font-size: 14px;
    font-weight: bold;
}
.homeleftcategory footer i{
    padding-left: 5px;
}
.homeleftcategory footer a:hover {
    color: #213944;
    border-bottom: 1px dotted;
}

.shows {
    background: #CACACA;
    margin: 20px 0px;
    padding-bottom: 15px;
}

.blocknews .date {
    float: left;
    color: #949494;
    font-size: 12px;
}
.blocknews h3 {
    width: 100%;
    height: 91px;
   
    line-height: 1;
    font-size: 15px;
    font-weight: bold;
    text-overflow: ellipsis;
    
    overflow: hidden;
}

.blocknews2 h3 {
    width: 100%;
    padding: 15px;
    margin: 0;
    color: #2D596D;
    line-height: 1;
    font-size: 15px;
    font-weight: bold;
}


.blocknews2 article{
    background: #FFF6F1;
    margin: 10px 0px;
}


.blocknews h3 a{
    color: #332f2e;
    font-size: 15px;
}
.blocknews h3 a:hover{
    color: #2D596D;
}

.birinchiradio .card-info {
    padding: 5px 0px;
}

.birinchiradio .card-info .view{
    float: right;
    color: #949494;
    font-size: 12px;
}
.birinchiradio .card-info .view .fa{
    padding-right: 5px;
}
.birinchiradio .card-info .category:hover{
    color: #332f2e;
}

.birinchiradio .card-info .category{
    float: right;
    margin-top: -2px;
    color: #2D596D;
    font-weight: 600;
}
.shows .label {
    position: relative;
    top: -5px;
    right: -10px
    border-radius: 3px !important;
}


.blocknews2 div.hovertext {
    display:block;
    position: relative;
    overflow:hidden;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    cursor:pointer;
}
.blocknews2 div.hovertext .desc {
    background-color:rgba(0, 160, 150, 0);
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index: 1;
    -moz-transition:all 1s;
    -webkit-transition:all 1s;
    -o-transition:all 1s;
    transition:all 1s;
}

.blocknews2 div.hovertext span {
    position: absolute;
    display: block;
    
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 0px; 
    padding: 10px;
    bottom:-20px;
    
    text-transform: uppercase;
    font-size: 15px;
    line-height: 1.3; 
    
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.blocknews2 div.hovertext:hover span {
    bottom:0;
    height:100%;
    color: #ffffff;
}

.blocknews article img {
    border-radius: 1px !important;
}
.blocknews3 {
    margin: 10px 0px;
}
.blocknews3 h3{
    margin: 0px 0px 10px 0px;
    font-size: 18px;
    font-weight: bold;
}
.popular .datetime {
    float: left;
}
.popular .cat{
    padding-left: 10px;
    font-size: 13px;
    color: #2D596D;
}
.popular .cat span{
    position: relative;
    top: -1px;
}
.popular .views{
    float: right;

}
.popular .views i{
    padding-right: 5px;
}

.popular .extra{
    color: #4E5E6A;
    font-size: 12px;
    font-weight: bold;
}
.popular .media-heading{
    display: block;
    font-weight: bold;
    color: #444242;
}
.popular .media-heading:hover{
    color: #2D3E4A;
    text-decoration: underline;
}
.popular .media{
    margin-top: 5px;
    border-bottom: 1px dotted #E3D1C7;
}

/* END Birinchi Home page*/

/* BEGIN Home Slider */
.hoverslider {
    position: relative;
}
.hoverslider .slick-slider{
    margin-bottom: 0;
}
.hoverslider .slick-list{
    height: 333px;
}
.hoverslider .slider-nav{
    position: absolute;

    right: 30px;
    width: 220px;
    padding: 0;
    margin: 0;
    height: 100%;
   
    background: #2D596D;
}

.hoverslider .slick-current{
    background: #4E7486;
    border-bottom: 0px solid #4E7486 !important;
}
.switcher.active{
    background: #4E7486;
}
.switcher:hover{
   background: #4E7486;
}
.switcher .name{
    position: relative;
    height: 109px;
    margin: 0px;
    padding: 5px 10px 5px 10px;

    font-size: 16px;
    border-bottom: 1px solid #2C5061;

    vertical-align: middle;
    display: table-cell;
}
.switcher .name a{
    color: #fff;
    line-height: 0.4;
    letter-spacing: 0.3px;
    vertical-align: sub;
}

.slide-info{
    position: relative;
}
.slide-info .slide-category{
    position: absolute;
    top: 5px;
    left: 5px;
    color: #fff;
    font-weight: bold;
}

.slide-info .slide-date{
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: #fff;
    font-weight: bold;
}
/* END Home Slider */
.lenta{
    height: 310px;
    padding: 10px;
    overflow: hidden;
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.2);
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.2);
}
.lentanews {
    border-bottom: 1px dotted #CAB8AF;
    padding: 3px 0px;
    height: 50px;
    overflow: hidden;
}

.lentanews .xdate{
    width: inherit;
    padding: 0 5px 0 0;   
    font-size: 16px;
    font-weight: bold;
    color: #2D596D;
    display: table-cell;
    vertical-align: middle;
    text-align: end;
    line-height: 1;
}
.lentanews .xdate p{
    margin: 0 0 3px;
    font-size: 11px;
    font-weight: normal;
    white-space: nowrap;
}

.lentanews .xtitle{
    -webkit-transition: color 0.15s ease-in-out;
    -moz-transition: color 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out;
    transition: color 0.15s ease-in-out;
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
}
.lentanews .xtitle a{
    color: #332F2E;
    font-family: 'Roboto Regular';
    font-style: inherit;
    line-height: 1;
    font-weight: bold;
    font-size: 14px;

}
.lentanews .xtitle a:hover{
    color: #3E8CAF;
}

.test {
    background: #CACACA;
    margin: 20px 0px;
    padding-bottom: 15px;
}


/* BEGIN Gallery*/

.birinchigallery{
    position: relative;
    margin: 20px 0px;
    padding-bottom: 15px;
    background: #CACACA;
}
.birinchigallery .media-middle {
    padding: 10px 0;
    height: 65px;
    max-height: 100%;
}
.birinchigallery .extraone{
    position: absolute;
    top: 5px;
    left: 25px;
    color: #fff;
    font-weight: bold;
}
.birinchigallery .photo-icon{
    position: absolute;
    top: 5px;
    right: 25px;
    color: #fff;
    font-size: 20px;
}

.birinchigallery .photo-name{
    margin: 0px;
    line-height: 1;

    font-size: 16px;
    font-weight: bold;
}
.birinchigallery .photo-name a{
    color: #332f2e;
}
.birinchigallery .photo-name a:hover{
    color: #2D596D;
}
.birinchigallery footer{
    float: right
}
.birinchigallery footer span{
    font-size: 16px;
    border-bottom: 1px dotted;
}
.birinchigallery footer span .fa-arrow-circle-right{
    padding-left:10px; 
}

/* END Gallery*/

/* BEGIN AllBroadcast page*/

.allBroadcast {
    
}
.allBroadcast .category{
    position: absolute;
    top: 5px;
    left: 25px;
}
.allBroadcast .category a{
    color: #fff;
    font-weight: bold;
}
.allBroadcast .date{
    position: absolute;
    top: 5px;
    right: 25px;

    color: #fff;
    font-weight: bold;
}
.allBroadcast .headline{
    max-height: 100%;
    height: 80px;

    padding: 5px 0px;
    margin: 5px 0 0;
    
    font-size: 20px;
}
.allBroadcast .headline a{
    color: #332f2e;
}
.allBroadcast .headline a:hover{
    color: #2D596D;
}
/* END AllBroadcast page*/

/* BEGIN AllNews*/

.news-info{
    float: right;
    margin-top: 4px;
    color: #4E5E6A;
    font-size: 12px;
    font-weight: bold;
}
.news-info .date .fa, .news-info .view .fa{
    padding-right: 5px;
} 
.news-info .date{
    padding-right: 10px;
}
.news-info .view{

}

.oneallnews .ctg-panel .list-group-item, .broadcastpost .ctg-panel .list-group-item, .onenews .ctg-panel .list-group-item{
    background: none;
}

.oneallnews .ctg-panel .list-group-item a, .broadcastpost .ctg-panel .list-group-item a, .onenews .ctg-panel .list-group-item a  {
    padding: 5px 5px 5px 0px;
}

.blockallnews img{
    height: 100px;
    width: 120px;
}
.blockallnews .extra .datetime{
    font-weight: bold;
}
.blockallnews .extra .views{
    float: right;
    font-weight: bold;
}

.blockallnews .extra .views i{
    padding-right: 10px;
}
.blockallnews .media-body .mb_substr h2{
    margin: 5px 0 0;
    color: #444;
    font-size: 14px;
}
.blockallnews .media-heading {

    line-height: 1;
    font-size: 15px;
    font-weight: bold;
}

.allnewsfooter .pagination{
    padding:10px 0px; 
}
.allnewsfooter .pagination li a{
    font-size: 14px;
    background: none;
}
.allnewsfooter .pagination li a:hover{
    background: #4E7486;
}

.allnewsfooter .pagination .btn-default.active{
    color: #fff;
    background: #4E7486;
}
/* END AllNews*/

/* BEGIN All Gallery page*/

/* BEGIN Gallery*/
    
.allgallery .media-middle {
    padding: 10px 0;
    height: 65px;
    max-height: 100%;
}
.allgallery .extraone{
    position: absolute;
    top: 5px;
    left: 25px;
    color: #fff;
    font-weight: bold;
}
.allgallery .photo-icon{
    position: absolute;
    top: 5px;
    right: 25px;
    color: #fff;
    font-size: 20px;
}

.allgallery .photo-name{
    margin: 0px;
    line-height: 1;

    font-size: 16px;
    font-weight: bold;
}
.allgallery .photo-name a{
    color: #332f2e;
}
.allgallery .photo-name a:hover{
    color: #2D596D;
}
.allgallery footer{
    float: right
}
.allgallery footer span{
    font-size: 16px;
    border-bottom: 1px dotted;
}
.allgallery footer span .fa-arrow-circle-right{
    padding-left:10px; 
}

/* END All Gallery page*/

/*BEGIN Broadcast one news*/
.broadcastpost .btitle{
    margin: 0;
    padding: 0px 0px 10px 0px;
    font-size: 20px;
    font-weight: bold;
}
.oneimg {
    float: left;
    margin: 0px 10px 0px 0px; 
}
.oneimg img {
    max-width: 100%;
    overflow: hidden;
    height: auto;
    width: auto;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

/*END Broadcast one news*/

/* BEGIN NEWS page*/

.onenews .newstitle{
    font-size: 20px;
    font-weight: bold;
}
.onenews .panel{
    background: none;
}

.with-share {
    text-align: right;
}

/* END NEWS page*/

/* END Online player*/

.onlineone{
    width:100%; 
    text-align:center;
}
.onlineone p{
    background:url('../images/channels/1-radio-notext.png');
}

/* BEGIN Online player*/
.widget-radio {
  padding: 10px 15px;
  text-align: center;
  width: 400px;
}
.widget-radio-image{
  width: 100px;
  vertical-align: middle;
}
.widget-radio-name {
  font-size: 25px;
  color: #005197;
}
.widget-radio-desc {
  color: #000000;
  font-size: 12px;
  line-height: 16px;
}
/*-----------------------*/
/*---MINKIAL FM RADIO----*/
/*-----------------------*/
/*  BEGIN HOME  */
#minkiyal {
    position: relative;
    font-family: 'Roboto Condensed';
}
#minkiyal .switch{
    position: absolute;
    top: 0;
}

#minkiyal .container-fluid{
    padding: 0;
}
#minkiyal .main {
    position: relative;
}
#minkiyal .main .innerfix{
    position: fixed;
}
#minkiyal .main .container{
    width: 70%;
}
#minkiyal .main .inner{
    position: relative;
    height: 650px;
}
#minkiyal .main .innerimg{
    position: absolute;
    right: 0;
    padding: 15% 0;
}
#minkiyal .main .innerimg img{
    max-height: 400px;
    width: auto;
}

#minkiyal .main .innermain{
    position: absolute;
    padding: 25% 0;
    font-family: 'Roboto Condensed';
}
#minkiyal .main .innermain h3{
    margin: 0;
    font-weight: bold;
    font-size: 80px;
    color: #DC0D7C;
    text-shadow: 1px 0px 0px #3C3C3C, 0 0 1em rgba(0, 0, 0, 0);
}
#minkiyal .main .innermain .overlay{
    height: 1px;
    background: #C67F5E;
    margin-top: 5px;
    max-width: 476px;
}
#minkiyal .main .innermain h4{
    margin: 0;
    font-size: 75px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 0px 0px #3C3C3C, 0 0 1em rgba(0, 0, 0, 0);
}
#minkiyal .main .innermain h5{
    font-size: 50px;
    color: #232323;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow:1px 0px 0px #3C3C3C, 0 0 1em rgba(0, 0, 0, 0);
}
#minkiyal .main .innermain .others {
    width: 1170px;
    margin: 180px 0px 0px 0px;
    padding: 0px; 
}
#minkiyal .main .innermain .jyshtyktar ul li span.num:first-child {
    border-radius: 5px 0px 0px 5px !important;
    -webkit-border-radius: 5px 0px 0px 5px !important;
    -moz-border-radius: 5px 0px 0px 5px !important;
    -o-border-radius: 5px 0px 0px 5px !important;
}

#minkiyal .main .innermain .jyshtyktar ul li .num{
    float: left;
    padding: 10px;
    
    text-shadow:1px 0px 0px #3C3C3C, 0 0 1em rgba(0, 0, 0, 0);

    color: #fff;
    background: #009688;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#minkiyal .main .innermain .jyshtyktar ul li .name{
    float: left;
    padding: 10px;
    margin-right: 10px;
    
    text-transform: uppercase;
    text-shadow:1px 0px 0px #3C3C3C, 0 0 1em rgba(0, 0, 0, 0);
    border-radius: 0px 5px 5px 0px !important;
    
    color: #FFF;
    background: #4CAF50;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#minkiyal .info{
    padding: 60px 0px 40px 0px;
}
#minkiyal .info h2{
    padding: 30px 0px;

    text-align: center;
    font-weight: bold;
    font-size: 3em;
    text-shadow: 1px 0px 0px #3C3C3C, 0 0 1em rgba(0, 0, 0, 0);
    
    color: #DC0D7C;
}
#minkiyal .info .cat{
    position: absolute;
    top: 5px;
    left: 20px;
    color: #151515;
    background: #82C31D;
    padding: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

#minkiyal .info .postshow {
    display: none;
    margin-bottom: 25px;
}

#minkiyal .info .postshow h3{
    position: relative;

    height: 70px;
    margin: 0;
    padding: 10px;

    width: 100%;
    line-height: 1;
    font-size: 1.1em;
    font-family: 'Roboto Regular';
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    letter-spacing: 1px;

    color: #FFFFFF;
    background: #1D6486;
    
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 5px 5px !important;
    overflow: hidden;
}
#minkiyal .info .postshow h3:hover{
    background: #F44336;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#minkiyal .info .postshow img{
    height: 205px;
    border-radius: 5px 5px 0px 0px !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#minkiyal .info .more{
    padding:20px 0px; 
}

#minkiyal .show-btn {
    width: 300px;
    text-align: center;
    margin: 0 auto;
    display: block
}
 .show-btn {
    position: relative;
    top: 0;
    border: 0;
    display: inline-block;
    margin-bottom: 50px;
    padding: 15px 25px;
    background: #AA1975;
    color: #fff;
    font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 6px 0 0 #D43A9C;
    border-radius: 3px !important;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
#minkiyal .show-btn:hover{
    top: 2px;
    background: #AA1975;
    box-shadow: 0 4px 0 0 #D43A9C;
    color: #ffffff;
}
#minkiyal .show-btn:active{
    top:6px;
    box-shadow:0 1px 0 0 #D43A9C;
}

#minkiyal .footer-channels a:hover img {
    opacity: 1;
    position: relative;
}

#minkiyal .online{
    position: relative;
    top: 20%;
    width: 210px;
    background: #000000;
    padding: 0px 0px 0px 10px;
    border-radius: 5px !important;
}
#minkiyal .online h3{
    float: left;
    color: #fff;
    margin: 10px 0px 0px;
}
#minkiyal .online i{
    padding-right: 5px;
}

#minkiyal .online object{
    margin-left: 10px;
    margin-top: 5px;
}

#minkiyal .mingallery{
    padding: 80px 0; 
}
#minkiyal .mingallery .panel{
    background: none; 
}
#minkiyal .contacts {
    position: relative;
    padding: 40px 0px;
}
#minkiyal .xcontact {
    text-align: center;
}
#minkiyal .xcontact h2{
    padding: 30px 0px; 

    text-align: center;
    font-weight: bold;
    font-size: 3em;
    text-shadow: 1px 0px 0px #3C3C3C, 0 0 1em rgba(0, 0, 0, 0);
    
    color: #DC0D7C;   
}
#minkiyal .address {
    border-radius: 10px 10px 5px 5px !important;
    -webkit-border-radius: 10px 10px 5px 5px !important;
    -moz-border-radius: 10px 10px 5px 5px !important;
    -o-border-radius: 10px 10px 5px 5px !important;
}
#minkiyal .address  h3{
    padding: 20px 0;
    margin: 0px;
  
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  
    border-radius: 5px 5px 0 0 !important;
    -webkit-border-radius: 5px 5px 0 0 !important;
    -moz-border-radius: 5px 5px 0 0 !important;
    -o-border-radius: 5px 5px 0 0 !important;

    color: #FFF;
    background: #F44336;
}
#minkiyal .address  h3 i, #minkiyal .address li i{
    padding-right: 10px;
}
#minkiyal .address li{
    display: block;
    color: #FFF;
    font-size: 1.2em;
    padding: 15px 30px 10px 30px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background: #1D6486;
    font-family: 'Roboto Regular';
}

#minkiyal .address li:last-child{
    border-radius: 0px 0px 5px 5px !important;
    -webkit-border-radius: 0px 0px 5px 5px !important;
    -moz-border-radius: 0px 0px 5px 5px !important;
    -o-border-radius: 0px 0px 5px 5px !important;
    padding: 15px 30px 10px 30px;
    border-top: 1px solid #688EA0;
}
#minkiyal .slidermin{
    margin: 200px 0px 0px 0px;
}
#minkiyal .slidermin .slick-slide .overlay{
    background: none;
}
#minkiyal .shows-carousel .slick-prev, #minkiyal .shows-carousel .slick-next {
    background: rgba(184, 23, 119, 0.87);
    border-radius: 50% !important;
}
#minkiyal .shows-carousel .slick-prev::before, #minkiyal .shows-carousel .slick-next::before {
    color: #fff !important;
}
#minkiyal .copyright,#minkiyal .footer-menu{
    color: #ffffff;
    font-size: 16px;
}
/*  END HOME  */