@font-face {
    font-family: 'Fira Sans Medium';
    src: url('fonts/fira-sans/firasans-medium.eot');
    src: url('fonts/fira-sans/firasans-medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/fira-sans/firasans-medium.woff2') format('woff2'),
    url('fonts/fira-sans/firasans-medium.woff') format('woff'),
    url('fonts/fira-sans/firasans-medium.ttf') format('truetype'),
    url('fonts/fira-sans/firasans-medium.svg#fira_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold';
    src: url('fonts/roboto/roboto-bold.eot');
    src: url('fonts/roboto/roboto-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto/roboto-bold.woff2') format('woff2'),
         url('fonts/roboto/roboto-bold.woff') format('woff'),
         url('fonts/roboto/roboto-bold.ttf') format('truetype'),
         url('fonts/roboto/roboto-bold.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}


body{
	background: rgba(0, 0, 0, 0) url(../images/channels/sport/2.png) 50% 50% no-repeat fixed;
	background-size: cover;
}

header{
	height: inherit;
	margin: 0;
}
/* For all style*/
.no-padding{
	padding: 0 !important;
}
.margin-with-bottom{
	margin-bottom: 30px;
}
.margin-with-bottom2{
	margin-bottom: 15px;
}
.white{
	background: #fff;
}
.heading-title{
    padding: 15px 0;
}
.heading-title a{
	color: #222;
    font-size: 16px;
    line-height: 20px;    
    text-transform: uppercase;
    font-family: 'robotobold';
}
.heading-title span{
	color: #222;
    font-size: 16px;
    line-height: 20px;    
    text-transform: uppercase;
    font-family: 'robotobold';
}
.heading-title .link-top{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 12px;
    color: #5f5c5c;
    border-bottom: 1px dotted #bdc3c7;
}
.heading-title .link-top:hover{
	color: #222;
}
.border{
    border: 1px solid #2ecc71;
    margin-top:5px;
    width: 90px;
}
.panel .panel-heading {
	padding: 0 15px;	
}
.panel{
	margin-bottom: inherit;
	box-shadow: none;
}
.panel-body{
    padding: 0 15px;
}
.morelink{
    position: relative;
    display: block;
    border-top: none;
}
.morelink a{}
/* For all style*/

/*Additional style for navbar*/

.navbar-right{
	margin-right: 0;
}
.header-top{
	position: relative;
	display: block;
	background-color: rgba(46, 204, 113, 0.52);
}
.all-channels{
    /*padding-left: 105px;*/
    /*background: #2ecc71;*/
}
@media (max-width:970px) {
    .all-channels {
        position: relative;
        display: block;
        margin: 0 auto;
        text-align: center
    }
    .social-buttons{
        position: relative;
        display: block;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 10px;
    }
    .lang{
        position: absolute !important;
        top: 10px;
        left: 35% !important;
    }
    .sport-nav{
        left: 0;
    }
    .main-video .video-three{
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    .video-box{
        margin-bottom: 15px;
    }
    .figure.effect-roxy h2 span{

    }
    .figure.effect-roxy figcaption{

    }
    .photos .photo-item-main{
        margin: 0px 10px 0px 0px;
    }
}

.navbar-brand {
    position: relative;
    display: block;
    height: auto;
    width: 90px;
    padding: 10px;
    /*background: #29b965;*/
}

.navbar-brand img{


}
.lang{
    position: relative;
    display: block;
    left: 10px;
}
.lang li{
    line-height: 18px;
}
.lang li a{
    color: #fff;
    font-family: 'robotobold', sans-serif;
}
.lang li.active a{
    color: #444343;
}
.navbar-toggle .icon-bar {
    background: #fff;
}
/*Additional style for navbar*/

/* BEGIN TOP HEADER */
.main-header-top{
    background: #fff;
}

.main-header,
.top-header{
	background-color: none;
}
.all-channels>li>a {
	color: #fff;
}
.all-channels>li>a:hover {
	color: #222;
	background: #FFEB3B;
}
.all-channels .open>a,
.all-channels .open>a:focus, 
.all-channels .open>a:active{
	background: #FFEB3B;
	color: #222;
}
.main-header .navbar-sport{
	/*background-color: rgba(0, 0, 0, 0.3);*/
	background-color: #2ecc71;
	margin: 0 15px;
}
.navbar-sport{
	border: none;
}
.navbar-sport .navbar-nav>li>a{
	color: #fff;
}
.navbar-sport .nav>li>a:focus,
.navbar-sport .nav>li>a:hover{
	background: none;
}

.navbar-sport .sport-nav{
    position: relative;
    display: block;
    right: 20px;
}
.sport-nav a{
    font-family: 'robotobold', sans-serif;
    text-transform: uppercase;
}
.sport-nav a::after{
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: auto;
    width: 40px;
    height: 3px;
    background: rgba(255,255,255,0.75);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    transform: translateY(5px);
}
.sport-nav a:hover::after{
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}
.sport-nav{
    padding: 20px 0;
}
.sport-nav 
.social-buttons {
    position: relative;
    margin-right: auto;
}
.social-buttons li {
    display: inline-block;
    margin: 0;
    margin-left: 1px;
    text-align: center;
}
.social-buttons li a {
    display: block;
    color: #ffffff;
    font-size: 20px;
    line-height: 1;
	background-color: transparent !important;
}
.social-buttons li a i{
    color: #fff;
    opacity: 0.5;
    position: relative
}
.social-buttons li a i:hover{
	color: #000;
    opacity: 1;
}

.social-buttons li:hover a {
    background: rgba(0, 0, 0, 0.5);
}
/* END TOP HEADER */

/* BEGIN SECTION SLIDER*/

#slider{
	padding-top: 15px;
	background: #fff;
}
.slider-top{
	/*padding: 0 15px;*/
	margin: 0;
}
.slider-top .slick-dots{
	bottom: 20px;
	right: 20px;
	text-align: right;
}
.slider-top .slick-dots {
}
.slider-top .slick-dots li button:before,
.slider-top .slick-dots li.slick-active button:before{
	color: #fff;
}
.slider-top .slick-dots li button:before{
	font-size: 18px;
}
.slider-top .slick-next{
	right: 0;
}
.slider-top .slick-prev{
	left: 0;
	z-index: 1;
}
.slider-top .slick-next,
.slider-top .slick-prev{
	top: 45%;
}
.slider-top .slick-next{
    height: 100px;
    width: 100px;
    right: -40px;
    background-image: url(../images/channels/sport/arrow_right.png);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.75;
}

.slider-top .slick-next:before,
.slider-top .slick-prev:before{
	content: '';
}
.slider-top .slick-prev{
    height: 100px;
    width: 100px;
    left: 25px;
	background-image: url(../images/channels/sport/arrow_left.png);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.75;
}
.slider-top .slick-next:hover,
.slider-top .slick-prev:hover{
	opacity: 1;
}
.slider .box-slider{
	position: relative;
	display: block;
}
.slider .box-slider .overlay{
	display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    
    overflow: hidden;
    opacity: 1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 90%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(90%, rgba(0,0,0,0.75)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 90%);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 90%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 90%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 90%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}
.box-slider .slider-title{
	position: absolute;
	display: block;
	bottom: 10%;
    left: 10%;
    z-index: 10;
}
.box-slider .slider-title span{
    position: relative;
    margin-bottom: 15px;
    display: block;
    width: 500px;
    padding: 10px 15px;
    width: 500px;
    background: rgba(0, 0, 0, 0.54);
}
.box-slider .slider-title span a{
	color: #fff;
	font-family: 'robotobold';
	text-transform: uppercase;
	font-size: 3rem;
}
.box-slider .slider-title span a:hover{
	color: #ffeb3b;
}
.btn {
    position: relative;
    display: inline-block;
    padding: 25px 80px;
    /*margin: 15px 0;*/
    
    cursor: pointer;
    border: none;
    
    color: inherit;
    font-size: inherit;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    background: none;
    transition: all 0.3s;
    	-webkit-transition: all 0.3s;
    	-moz-transition: all 0.3s;
    outline: 0;
 	-webkit-appearance:none;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;

}
.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.btn:active:focus, 
.btn:focus {
	outline: 0;
}
.btn:before{
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

.btn-more {
	padding: 10px 60px 10px 15px;
	overflow: hidden;
}

.btn-more:before {
	left: auto;
	top: 10px;
	right: 10px;
	z-index: 2;
	color: #fff;
}

.btn-more:after {
	width: 30%;
	height: 200%;
	background: #2ECC71;
	z-index: 1;
	right: 0;
	top: 0;
	margin: -5px 0 0 -5px;
	-webkit-transform-origin: 0 0;
	-webkit-transform: rotate(-20deg);
	-moz-transform-origin: 0 0;
	-moz-transform: rotate(-20deg);
	-ms-transform-origin: 0 0;
	-ms-transform: rotate(-20deg);
	transform-origin: 0 0;
	transform: rotate(-20deg);
}

.btn-more:hover:after {
	width: 40%;
}

.btn-title {
	padding: 10px 80px 10px 15px;
	overflow: hidden;
}

.btn-title:before {
	left: auto;
	top: 10px;
	right: 10px;
	z-index: 2;
	color: #fff;
}

.btn-title:after {
	width: 30%;
	height: 200%;
	background: #2ECC71;
	z-index: 1;
	right: 0;
	top: 0;
	margin: -5px 0 0 -5px;
	-webkit-transform-origin: 0 0;
	-webkit-transform: rotate(-20deg);
	-moz-transform-origin: 0 0;
	-moz-transform: rotate(-20deg);
	-ms-transform-origin: 0 0;
	-ms-transform: rotate(-20deg);
	transform-origin: 0 0;
	transform: rotate(-20deg);
}

.btn-title:hover:after {
	width: 40%;
}

.btn-s{
	background: #FFEB3B;
    color: #222;
    font-size: 12px;
    line-height: 20px;
}

.btn-s:active {
	top: 2px;
}

.btn-s:before {
	position: absolute;
    font-size: 16px;
    line-height: 20px;
}
.btn-3 {
	margin: 0;
	background: #FFEB3B;
}

.btn-3:hover {
	background: #25a25a;
}

.btn-3:active {
	background: #25a25a;
}

.btn-3:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0px;
    line-height: 2;
    font-size: 2rem;
    width: 50px;
    padding: 5px;
}
.btn-l	{
	padding: 15px 10px 15px 60px;
	background: #2ecc71;
}

.btn-l:before {
	background: #FFEB3B;
}
.btn-l span{
	color: #fff;
}

.icon-right:before {
    content: '\f054';
}
.icon-tv:before {
    content: '\f26c';
}

.btn-top,
.btn-top:before{
	background: rgba(46, 204, 113, 0.52);
}
.btn-top:hover{
	background:#2ecc71;
}
.btn-top:hover:before{
	background: #FFEB3B;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.slider-bottom{
	position: relative;
	display: block;
	margin: 0;
}
.slider-bottom .slick-list{
	padding: 0 !important;
}
.slider-bottom .slick-slide{

}
.slider-bottom .slick-slide .overlay:hover{
	opacity: 0;
}
.slider-bottom .slick-slide .overlay{    
	position: absolute;
	display: block;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    width: 100%;
    height: 100%;
	background: rgba(0, 0, 0, 0.6);
}
.slider-bottom .slick-current .overlay{
    opacity: 0;
}
.slider-bottom .slider-preview{
	position: relative;
	display: block;
	cursor: pointer;
}
.slider-preview .preview-title{
	position: absolute;
	display: block;
	bottom: 15px;
    left: 0;
	z-index: 2;
    right: 0;
    padding: 0 15px;
}
.slider-preview .preview-title span{
	color: #fff;
	font-size: 2rem;
	font-family: 'robotobold';
	line-height: 1;
}

/* END SECTION SLIDER*/

/* BEGIN MIDDLE-INFO*/

.middle-info {

}

.middle-info .panel-tele{
	position: relative;
	display: block;
	margin-bottom: 30px;
}
.sport-tv{
    padding: 10px 15px 0px 15px;
    background: #fff;
}
.sport-tv .main{
    height: 50px;
    padding: 5px 15px;
    float: left;
    color: #222;
    font-size: 1.5rem;
    font-family: 'robotobold';
    text-transform: uppercase;
    background: #ffeb3b;
}
.sport-tv .main span{
    display: block;
    font-size: 10px;
}
.sport-tv .main:hover{
	background: #fde50e;
}

.tele-programma{
    display: block;
    background: #fff;
}
.tele-item{
	display: table-cell;
    height: 50px;
    padding: 5px 10px;
    border-right: #BDC3C7 solid 1px;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.tele-item:hover{
	background: #ECF0F1;
}
.tele-item .timename{
    white-space: nowrap;
}

.tele-item .time{
    position: relative;
    display: table-cell;
    padding-right: 5px;
    font-size: 1.3rem;
   	font-family: 'robotobold';
    color: #229c4d;
}
.tele-item .name{
    position: relative;
	font-family: 'Roboto Condensed';
    white-space: nowrap;
}
.live{
	background: #ECF0F1;
    min-width: 90px;
    max-width: 100%;
}
.live .name{}
.live .time{}
.tele-programma ul{
	overflow: hidden;
}
.tele-programma .live .bcLive{
    position: absolute;
    display: inline-table;
    top: 4px;
    left: 35px;
    height: 10px;
    color: #cc3333;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 10px;
    text-align: right;
    text-transform: uppercase;
}
.tele-programma .live .bcLive i{
    padding-right: 5px;
    padding-left: 2px;
}
.tele-programma .live .bcLive.blink i{
    opacity: 0;
}
/* END MIDDLE-INFO*/

/* BEGIN Home page video block */
.video{
	position: relative;
	display: block;
	background: #fff;
	padding-bottom: 20px;
	border-bottom: 1px solid #BDC3C7;
}
.main-video{
	position: relative;
	display: block;
	/*background: #fff;*/
}
.video-box{
	position: relative;
	display: block;
	overflow: hidden;
}
/* VIDEOS PAGE*/
.panel-top-videos{
	padding-bottom: 15px;
	border-bottom: 1px solid #BDC3C7;
}
.video-all .video-three{
    padding: 0 10px;
}
.video-all .video-three .youtube-img{
    height: 158px;
    width: 100%;
}
@media (max-width:970px) {
    .video-all .video-three .youtube-img {
        display: block;
        margin: 0 auto;
        height: 100%;
        width: auto;
    }
}
.video-all .video-three .eye{
	margin-left: 10px;
}
.video-all .video-three .eye i{
	color: #fff;
	padding-right: 5px;
}
.video-all .box-info{
	position: relative;
	top: 5px;
	padding: 0 15px;
    color: #777;
    font-size: 14px;
}

.box-info .date{
	margin-right: 10px;
}
.box-info .eye i{
	opacity: 0.7;
}
.video-all .media-title{
    position: relative;
    display: block;
    height: 80px;
    margin: 5px 0;
    padding: 0 15px;
}

.video-all .media-title a{
	color: #34495E;
    font-size: 16px;
    line-height: 20px;
    /*text-transform: uppercase;*/
    font-family: 'robotobold';
}
.video-all .media-title a:hover,
.video-all .media-title a:active,
.video-all .media-title a:focus{
	text-decoration: underline;
}

.panel-video .panel-body{
	padding: 0 15px;
}
.panel-related-videos {
	border-top: 1px solid #F1F4F9;
	border-right: 1px solid #F1F4F9 !important;
}

.panel-videos .box-video {
    background: #ECF0F1;
}
.panel-videos .box-video, .box-video .img{
	position: relative;
	display: block;
	overflow: hidden;
	cursor: pointer;

}
.box-video .img img{
	border-radius: 3px 3px  0 0 !important
}

.panel-video{
	border-right: 1px solid #F1F4F9 !important;
}

.panel-top-videos .video-three img{
    -webkit-transform: inherit;
    transform: inherit;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transition: transform .3s;
    -moz-transform: inherit;
    -moz-transform-origin: 50% 50%;
    -webkit-transform: inherit;
    -webkit-transform-origin: 50% 50%;
    -webkit-transition: -webkit-transform .3s;
}
.panel-top-videos .video-three:hover img{
	-webkit-transform: scale(1.1) translate3d(0, 0, 0);
    transform: scale(1.1) translate3d(0, 0, 0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transition: transform .3s;
    -moz-transform: scale(1.1) translate3d(0, 0, 0);
    -moz-transform-origin: 50% 50%;
    -webkit-transform: scale(1.1) translate3d(0, 0, 0);
    -webkit-transform-origin: 50% 50%;
    -webkit-transition: -webkit-transform .3s
}

.box-video .overlay-button{
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
    background-size: 48px auto;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000030;
}
.box-video .overlay-button:hover:before {
    opacity: 1
}
.box-video .overlay-button:before{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: absolute;
    height: 50px;
    width: 50px;
    left: 50%;
    top: 50%;
    margin-top: -25px;
    margin-left: -25px;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    /*background-color: #000;*/
    background-image: url("../images/channels/sport/play.svg");
    background-position: 60% center;
    background-repeat: no-repeat;
    background-size: 50%;
    border: 4px #fff solid;
    border-radius: 50px;
    content: '';
    display: block;
    opacity: .5;
}

.video-item{
	margin-bottom: 20px;
    padding: 0 10px;
}

.videos-padding{
	padding: 0 5px;
}

/*PHOTOS*/

/*---------------*/
/***** Roxy *****/
/*---------------*/
.photo-item figure img{
	opacity: 1;
}
figure img {
	/*position: absolute;*/
    /*display: block;*/
/*    min-height: 100%;
    opacity: 0.8;
    width: auto;
    height: inherit;
    top: 0;
    left: 50%;
    transform: translateX(-50%);*/
}
.photo-item figure.effect-roxy{
	background: none;
}
figure.effect-roxy {
    position: relative;
    display: block;
    max-height: 315px;
    min-height: 100%;
    height: 315px;
}
.photo-item figure.effect-roxy img{
		-webkit-transition: opacity 0s, 
		-webkit-transform 0s;
	transition: opacity 0s, 
		transform 0s;
}
figure.effect-roxy img {
    height: inherit;
    width: inherit;
	transform 0.35s;
    -webkit-transition: opacity 0.35s, 
        -webkit-transform 0.35s;
    transition: opacity 0.35s, 
}

figure.effect-roxy figcaption::before {
/*	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 1px solid #fff;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-20px,0,0);
	transform: translate3d(-20px,0,0);*/
}

figure.effect-roxy figcaption {
	position: absolute;
	bottom: 0;
	padding: 0em 3em 3em;
	text-align: left;
}

figure.effect-roxy h2 {
	padding: 30% 0 10px 0;
	margin: 0;
}
figure.effect-roxy h2 span.datetime{
	display: block;
    font-size: 12px;
    opacity: 0.6;
}
figure.effect-roxy h2 span.datetime i{
	padding-right: 5px;
}
figure.effect-roxy h2 span{
	color: #fff;
    font-family: 'robotobold';
    text-shadow: 1px 1px 2px black, 0 0 1em #131313;
}

figure.effect-roxy p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
    color: #fff
}
.photo-item figure.effect-roxy:hover img{
    opacity: 1
}
figure.effect-roxy:hover img {
	opacity: 0.7;
}

figure.effect-roxy:hover figcaption::before,
figure.effect-roxy:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.video-box .overlay{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    width: 100%;
    height: 100%;
    background: linear-gradient(-180deg, rgba(0,0,0,0) 50%,rgba(0,0,0,0.65) 90%);
}
.video-box .video-info{
	position: absolute;
	display: block;
    bottom: 0;
    padding: 10px;
    color: #fff;
    z-index: 2;
}
.video-box .video-info span.title{
    display: block;
    font-size: 16px;
    font-family: 'robotobold';
    line-height: 16px;
    text-shadow: 1px 1px 2px black, 0 0 1em #131313;
}
.video-box .video-info span.date{
    font-size: 12px;
    opacity: 0.6;
}
.main-video .video-three{
	padding-right: 0;
	padding-left: 15px;
}
.main-video .video-three:hover .title{
	color: #ffeb3b;
}
.main-video .video-three .imgsize{
	position: relative;
	height: 150px;
	width: auto;
}
.main-video .video-three .imgsize img{
    height: inherit
}

/* END Home page video block */

/* BEGIN SIDEBAR right lenta*/

.sidebar{
	/*background: #fff;*/
}
.sidebar ul{
    margin-top: -5px;
}
.sidebar ul li{
    padding: 5px 0;
    border-bottom: 1px solid #ECF0F1;
}
.sidebar ul li:last-child{
	border-bottom: none;
}
.sidebar .side-post a{
    display: table-cell;
	font-family: 'Fira Sans Medium';
    line-height: 20px;
    font-size: 14px;
    color: #332f2e;
}
.sidebar .datetime{
    font-size: 12px;
	color: #a6a9ab;
}
.sidebar .side-post .media	 img{
    display: block;
	height: auto;
    width: 70px;
}

/* END SIDEBAR right lenta*/

/* BEGIN PHOTOS BLOCK*/

.photos{
	position: relative;
	display: block;
	padding-bottom: 20px;
	background: #fff;
}
.photos .panel,
.photos .panel-body{
	padding: 0 15px;
	box-shadow: none;
}
.photo-top{
	margin-top: -15px;
}
.photo-left-right{
	padding: 5px
}
.photos .photo-item{
    position: relative;
	display: block;
	padding: 8px;
	overflow: hidden;
}
.photos .photo-item-main {
    margin-top: 8px;
    margin-left: 10px;
    padding: 0;
    padding-bottom: 17px;
}

.photos .photo-item-main img{
	min-height: 333px;
    max-height: 100%;
}
.photos .item-box{
	position: relative;
	display: block;
}

.photos .item-box .item-info{
    position: absolute;
    display: block;
    bottom: 0;
    padding: 10px;
    color: #fff;
    z-index: 2;
}
.photo-item .overlay,
.item-box .overlay{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    opacity: 1;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    width: 100%;
    height: 100%;
    background: linear-gradient(-180deg, rgba(0,0,0,0) 50%,rgba(0,0,0,0.65) 90%);
}
.item-box .datetime{
    font-size: 12px;
    opacity: 0.6;
}
.item-box .datetime i{
	padding-right: 5px;
}
.item-box .titlename{
	display: block;
	color: #fff;
    font-size: 16px;
    font-family: 'robotobold';
    line-height: 16px;
    text-shadow: 1px 1px 2px black, 0 0 1em #131313;
}
.photo-item:hover .titlename{
	color:#ffeb3b; 
}

/* All photos page*/

.panel-photos{
	position: relative;
	display: block;
}
.panel-photos .photos-item{
	margin-bottom: 15px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(228, 228, 228, 0.92);
	-moz-box-shadow: 0px 0px 5px 0px rgba(228, 228, 228, 0.92);
	box-shadow: 0px 0px 5px 0px rgba(228, 228, 228, 0.92);
}
.panel-photos .g-extra{
    font-size: 14px;
    color: #777;
    padding: 5px 10px;
}
.panel-photos .g-extra .datetime{}
.panel-photos .g-extra .view{
	float: right;
}
.panel-photos .g-extra .view i{
	padding-right: 5px;
}
.panel-photos .g-title{
	padding: 0 10px;
    height: 100px;
    max-height: 100%;
	font-family: 'robotobold';
	font-size: 16px;
	color: #4e4c4c;
    overflow: hidden;
}
.panel-photos .g-title:hover{
	color: #278c4a;
}

.panel-onephoto{}
.panel-onephoto .show-extra{
	position: relative;
    float: left;
    margin-left: 5px;
}
.panel-onephoto .show-extra .show-date{
	color: #222;
}
/* END PHOTOS BLOCK*/

/* BEGIN FOOTER */
.infooter{
	background: #e0e3e8;
}
.prefooter{
	padding: 0 15px;
    background: none;
    border-top: none;
}
.footer-channels{
	padding: 30px 0;
}
.footer-trademark{
    display: block;
    padding: inherit;
}
.footer-trademark .footer-top{
	padding: 15px 0;
}
/* END FOOTER */

/* BEGIN NEWS PAGES*/

.panel .news-info{
	position: absolute;
	top: 0;
	right: 0;
	padding: 20px 20px 0px;
	margin-top: inherit;
}
.panel .panel-allnews .newstitle{
	margin-top: 0;
}
.panel .panel-allnews .panel-body{
	padding: 0px 15px;
}
.panel-allnews .allnewsfooter{
	border-top: none;
} 
.panel-allnews .allnewsfooter .pagination li a{
	font-family: 'robotobold';
	font-size: 12px;
}
.panel-allnews .allnewsfooter .pagination .btn-default.active{
	background: #2ecc71;
} 
.panel-allnews .blockallnews{
    padding-bottom: 10px;
	font-family: 'robotobold';
    border-bottom: 1px dotted #E3D1C7;

}
.panel-allnews .blockallnews:last-child{
	border-bottom: none;
}
.panel-allnews .blockallnews .extra .views{
	color: #777;
    font-weight: normal;
    font-size: 13px;
    font-family: 'Fira Sans Medium';
}

.panel-allnews .blockallnews .extra .datetime {
    font-family: 'Fira Sans Medium';
	color: #777;
    font-weight: normal;
    font-size: 13px;
}
.panel-allnews .blockallnews .media-heading{
	color: #4c4949;
}
.panel-allnews .popular .media{
	margin-top: 0;
}
.panel-allnews .popular .media-heading{
	font-family: 'robotobold';
	color: #4c4949;
}
.panel-allnews .popular .views,
.panel-allnews .popular .datetime{
	color: #777;
    font-weight: normal;
    font-size: 13px;
    font-family: 'Fira Sans Medium';
}
/* END NEWS PAGES*/

/* BEGIN BANNER */
.banner-top{
    background: #fff;
}
.banner-top img{
    padding: 10px 15px;
}
/* END BANNER */