
@font-face {
    font-family: 'Roboto Bold';
    src: url('fonts/roboto/roboto-bold.eot');
    src: url('fonts/roboto/roboto-bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/roboto/roboto-bold.woff2') format('woff2'),
    url('fonts/roboto/roboto-bold.woff') format('woff'),
    url('fonts/roboto/roboto-bold.ttf') format('truetype'),
    url('fonts/roboto/roboto-bold.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
.panel{
    height: auto;
}
.top-left-block .panel{
    border-right: 4px solid #F1F4F9;
    border-bottom: 4px solid #F1F4F9;
}
.top-right-block .panel{
    border: none;
    border-bottom: 4px solid #F1F4F9;
}
.panel-default > .panel-heading{
    padding: 0;
}
.panel-heading h3 {
    position: relative;
    border: none;
    padding: 15px;
    background: #c42026;
    color: #fafafa;
    font-family: 'Roboto Bold', Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}
.gallery .panel-heading h3{
    color: #fafafa;
}
.latest-news .panel-heading h3{
    border: none;
}
.videoportal{
    border-top: 0;
}

.carousel-news{
    position: relative;
}
.panel-top-news .slider-nav{
    position: absolute;
    bottom: 15px;
    margin-bottom: 0;
    padding: 0 15px;
}
.panel-top-news .slider-nav .slick-slide{
    height: 100px;
    margin: 0 5px;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    opacity: 0.5;
}
.panel-top-news .slider-nav .slick-slide.slick-current {
    opacity: 1;
}
.panel-top-news .slider-nav .slick-slide img {
    height: 100%;
    width: auto;
}


/*

-------------------- Shailoo --------------------------

*/
.alert-shailoo{
    background: #Fafafa;
}
.shailoo *{
    /*line-height: 1.618;*/
}
.shailoo .panel-body{
    padding: 15px;
}
.no-bottom{
    padding-bottom: 0 !important;
}
.shailoo .panel-body-title{
    margin-bottom: 30px;
    padding: 0 0 10px;
    border-bottom: 2px solid #c42026;
    font-family: 'Roboto Bold', Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

/*Media*/
.panel-body-content .media{
    padding-bottom: 15px;
    border-bottom: 1px solid #F1F4F9;
}
.panel-body-content .media:last-child{
    border: none;
}
.panel-body-content .media-left{
    padding-right: 15px;
}
.panel-body-content .media-left a{
    position: relative;
    overflow: hidden;
    display: block;
    width: 100px;
    height: 100px;
}
.shailoo .top-left-block .media-object{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100px;
    width: auto;

    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.shailoo .news-adds{
    padding: 0;
    margin-bottom: 10px;
}
.shailoo .news-adds > *{
    display: inline-block;
    vertical-align: middle;
    float: none;
    padding-right: 5px;
}
.shailoo .news-adds a{
    font-family: 'Roboto Bold', Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 0.05em;
    line-height: 1.618;
}
.shailoo .news-adds .news-time{
    font-size: 12px;
}
.shailoo .top-left-block .media-heading{
    color: #333333;
    font-size: 14px;
}
.shailoo .leave-comment{
    float: right;
    color: #858F97;
    font-size: 10px;
    text-transform: uppercase;
}
.shailoo .leave-comment i{
    padding-right: 5px;
}
/*Panels*/
.top-right-block .panel-body h4{
    font-family: 'Roboto Bold', Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
.panel-debate h4{
    margin: 20px 0 5px;
}
.panel-vote h4{
    margin-bottom: 20px;
}
.panel-vote .radio label::before{
    top: 2px;
}
.panel-vote .radio label::after{
    top: 5px;
    background-color: #5cb85c;
}

/*RATING*/
.rating .list-group-item {
    padding: 0;
    padding-left: 70px;
    margin-top: 20px;
}
.rating .list-group-item .party-logo {
    position: absolute;
    top: 3px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    left: 0;
    text-align: center;
}
.party-logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50px;
    width: auto;

    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.rating .progress {
    height: 10px;
    margin-top: 5px;
    margin-bottom: 40px;
}
.rating .progress-bar {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.rating .progress-bar span {
    position: absolute;
    bottom: 15px;
    right: 0;
    color: #858F97;
}
.party-title{
    display: block;
    padding-right: 50px;
    color: #237dac;
    font-family: 'Roboto Bold', Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 0.05em;
    line-height: 1.618;
    text-transform: uppercase;
}

/*PANEL COMMENTS*/
.panel-comments{
    border-top: 2px solid #F1F4F9;
    border-right: 2px solid #F1F4F9;

    background: #ffffff;
}
.panel-comments .panel-title{
    position: relative;
}
.panel-comments .panel-title{
    border-color: #ffffff;
}
.panel-comments .commentadd{
    position: absolute;
    right: 0;
    bottom: 6px;
    line-height: 20px;
}
.panel-comments .commentadd,
#respond form .submit{
    padding: 7px 10px;
    color: #ffffff;
    font-size: 13px;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
#respond form .submit{
    background: #48A6D8;
}
#respond form .submit:hover{
    background: #237dac;
}
.commentlist {
    margin: 0;
    padding: 0;
    clear: both;
    overflow: hidden;
}
.comment{
    font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.comment,.comment-meta .commentthumb{
    margin: 10px 0 10px 40px;
    padding: 4px;
    border: 1px solid #f4f4f4;
    background-color: #fff;
    list-style: none;
}
.comment article{
    position: relative;
}
.comment .comment-meta {
    position: relative;
    border: none;
    padding: 0;
    padding-left: 45px;
    min-height: 37px;
    height: auto;
    background: #f1f5f8;
    line-height: 37px;
    text-align: left;
}
.comment-meta .commentthumb{
    position: absolute;
    top: 10px;
    left: -40px;
    display: block;
    margin: 0;
}
.comment-meta .commentthumb img {
    width: 60px;
    max-width: 100%;
    height: auto;
    display: block;
}
.commentauthorname {
    color: #4e5e6a;
    font-weight: bold;
}
.comment .commenttime {
    display: inline;
    float: right;
    margin-right: 10px;
    color: #9DA8B0;
    /*text-transform: uppercase;*/
    white-space: nowrap;
    font-family: 'Roboto Regular', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    line-height: inherit;
    /*font-weight: bold;*/
}
.commentcontent {
    position: relative;
    padding: 20px 55px 20px 45px;
    color: #333333;
    line-height: 1.5;
}

.commentreply a {
    position: absolute;
    right: 12px;
    bottom: 3px;
    display: block;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 600;
}

/*COMMENT FORM*/
.comment-block {
    clear: both;
    min-height: 40px;
}
#respond {
    padding: 0;
    margin: 0;
    padding-top: 90px;
}
#respond h3{
    border-top: 3px solid #333333;
    margin: 0 0 30px;
    padding: 15px 0 10px 0;
    color: #333333;
    font-family: 'Roboto Condensed', serif;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
}
#respond form {
    position: relative;
    clear: both;
    padding: 0 10px;
    padding-bottom: 65px;
    width: 100%;
}
#respond form p,#respond form .captcha {
    clear: both;
    margin: 10px 0;
}
#respond form label,.g-recaptcha {
    position: relative;
    float: left;
    padding-right: 15px;
    width: 15%;
    color: #9DA8B0;
    text-align: right;
    font-weight: normal;
}
#respond form .required {
    position: absolute;
    top: 0;
    right: 5px;
    color: #9DA8B0;
}
#respond form input[type="text"],#respond form textarea {
    float: left;
    padding: 5px 10px;
    outline-color: #e2eaed;
    border: 1px solid #d2dadd;
    background: #fff;
    width: auto;
    color: #3a3a3a;
    font-size: 13px;
}
#respond form textarea {
    display: inline-block;
    float: none;
    clear: both;
    resize: vertical;
    width: 85%;
}
#respond form p.form-submit {
    float: right;
}
#respond form .submit{
    display: inline-block;
    padding: 8px 20px;
    border: none;
    text-decoration: none;
    text-shadow: none;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}