@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');


/*
-------------------- General --------------------------
*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}
body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    line-height: 1.5;

    background: #fff;
}
a {
    -webkit-transition: all .25s;
         -o-transition: all .25s;
            transition: all .25s;

    color: inherit;
}
a:hover,
.section-title h4 a:hover,
.post-title a:hover {
    color: #cd1341;
}
a:hover,
a:focus {
    text-decoration: none;

    outline: none;
}
ul {
    margin: 0;
    padding: 0;

    list-style: none;
}
iframe {
    border: 0;
}
img {
    width: 100%;
}


/*
-------------------- Content --------------------------
*/
#page-content-wrapper {
    overflow: hidden;

    padding: 0;
}
.main-wrapper {
    background: #fff;
    box-shadow: none;
}


/*
--------------------  Header Test --------------------------
*/
.header-test {
    background: #fff;
}
.header-top{
    padding: 15px 0 0;
    position: relative;
}
.header-left{
    float: left;
}
.header-right{
    float: right;
    padding: 10px 0;
}
.header-right li{
    float: left;
    line-height: 20px;
    height: 20px;
    margin-right: 10px;
}
.header-right li:last-child{
    margin-right: 0;
    margin-left: 10px;
}
.header-right a{
    display: inline-block;
    vertical-align: middle;
}
.header-right svg{
    display: block;
    width: 16px;
    height: 16px;
    fill: #8899a7;
}
/*.tw svg{*/
    /*fill: #1DA1F2;*/
/*}*/
/*.fb svg{*/
    /*fill: #3B5998;*/
/*}*/
/*.in svg{*/
    /*fill: #E4405F;*/
/*}*/
/*.yt svg{*/
    /*fill: #CD201F;*/
/*}*/
/*.ok svg{*/
    /*fill: #F4731C;*/
/*}*/
#searchToggle{
    cursor: pointer;
}
#searchForm{
    position: absolute;
    top: 15px;
    right: 0;
    width: 320px;
    height: 40px;
    padding: 5px 15px;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);

    -webkit-transform: translateY(-60px);
    -moz-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -o-transform: translateY(-60px);
    transform: translateY(-60px);

    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
}
#searchForm.translated{
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
#searchForm .input-group{
    margin-bottom: 0;
    padding: 5px 0;
}
#searchForm .form-control{
    height: 20px;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0;
}
#searchForm .input-group-btn{
    border-left: 1px solid #ccc;
    padding-left: 15px;
}
#searchForm .btn{
    border: none;
    background: none;
    padding: 2px 10px;
    opacity: 1;
}
#searchForm .btn:hover,
#searchForm .btn:active,
#searchForm .btn:focus{
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    opacity: 0.75;
}
#searchForm svg{
    fill: #666;
}
#closeForm{
    display: none;
}
#closeForm svg{
    width: 12px;
    height: 12px;
}
.lang-switch a{
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 10px;
    color: #8899a7;
}
.lang-switch a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #8899a7;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}
.lang-switch a.active::after,
.lang-switch a:hover::after{
    width: 100%;
}
.header-logo img {
    width: auto;
    height: 40px;
}
.header-nav{
    position: static;
    height: 60px;
    text-align: center;
}
.header-nav > li{
    display: inline-block;
    vertical-align: middle;
    height: 60px;
    line-height: 60px;
    margin-right: 15px;
}
.header-nav > li:last-child{
    margin-right: 0;
}
.header-nav > li > a{
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.nav-live a{
    color: #cd1341;
    opacity: 1;
    position: relative;
}
#blinkLive{
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    margin-right: 4px;
    background: #cd1341;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
#blinkLive.blink{
    background: none;
}
.nav-live a:hover{
    opacity: 0.75;
}
.inner-nav{
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 115px;
    z-index: 10;
    width: 100%;
    height: auto;
    border-top: 2px solid #ccc;
    max-height: 0;
    -webkit-transition: max-height 300ms;
    transition: max-height 300ms;
    opacity: 1;

    background-color: rgba(255,255,255,0.95);
}
.header-nav > li:hover .inner-nav{
    max-height: 1000px;
}
.inner-nav:hover{
    -webkit-transition-delay: 300ms;
    transition-delay: 300ms;
    max-height: 1000px;
}
.inner-nav ul{
    padding: 30px 0;
    width: 1170px;
    margin: 0 auto;
}
.inner-nav li{
    float: left;
    width: 23.5%;
    margin-right: 2%;
    line-height: 30px;
}
.text-nav li{
    text-align: left;
}
.text-nav li:nth-child(4n){
    margin-right: 0;
}
.inner-nav li a{
    padding: 10px 15px;
    font-weight: 500;
    font-size: 14px;
    color: #0e73c5;
}
.inner-nav li a:hover{
    color: #cd1341;
}
.header-channels li{
    width: 15%;
}
.header-channels li:nth-child(6n){
    margin-right: 0;
}
.header-channels img{
    height: 50px;
    width: auto;
}
.header-radios li:first-child{
    margin-left: 17%;
}

/*
-------------------- Common Styles --------------------------
*/
.section {
    padding: 30px 0;

    background: #fff;
}
.section .section {
    margin-bottom: 30px;
    padding: 0;

    background: none;
}
.section .section:last-child {
    margin-bottom: 0;
}
.dark-section {
    background: #333146;
}
.light-section + .light-section {
    padding-top: 0;
}
.section-title h4 {
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;

    position: relative;

    margin: 0 0 10px;
    padding: 25px 0;

    color: #333146;
}
.section-title h4 a {
    color: #0e73c5;
}
.section-title .divider {
    font-size: 6px;

    position: relative;

    display: inline-block;

    width: 10px;

    text-align: center;
}
.section-title .divider i {
    position: absolute;
    top: -8px;
    right: 0;
    left: 0;
}
.dark-section .section-title h4 {
    color: #fff;
}
.section-body::before,
.section-body::after {
    display: table;
    clear: both;

    content: '';
}
.section footer {
    clear: both;

    padding: 15px 0;

    text-align: right;
}
.section footer a {
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 500;

    text-transform: uppercase;

    color: #0e73c5;
}
.play-button,
.gallery-button {
    position: absolute;
    z-index: 3;

    height: auto;
    margin: auto;

    cursor: pointer;

    fill: #fff;
}
.play-button {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.gallery-button {
    top: 10px;
    right: 10px;
}
.fa-view {
    width: auto;
    height: 10px;
    margin-right: 2px;
    margin-bottom: 2px;

    vertical-align: middle;

    background: none;

    fill: #8899a7;
}
.news-body .post-category {
    font-size: 12px;
    font-weight: 500;

    color: #cd1341;
}
.news-body {
    border: none;
}
.news-body .post-title {
    font-weight: 500;

    display: block;

    color: #333;
}
.news-body a:hover {
    color: #cd1341;
}
.slick-arrow:hover {
    border-color: #cd1341;
}
.slick-arrow {
    position: absolute;

    width: 32px;
    height: 32px;
    padding: 8px;

    -webkit-transition: border-color .3s;
         -o-transition: border-color .3s;
            transition: border-color .3s;

    border: 2px solid #ccc;
    border-radius: 50%;
    background: none;
}
.slick-arrow svg {
    display: block;

    width: 12px;

    fill: #333;
}


/*
-------------------- Ad Block --------------------------
*/
.ad-block {
    display: block;

    padding: 15px 0;
}
.ad-block img {
    display: block;

    width: auto;
    margin: 0 auto;
}
.middle-right-section .ad-block img {
    width: 100%;
}
.post-section .ad-block {
    padding: 30px 0;
}


/*
-------------------- Main Slider --------------------------
*/
.slider-section {
    position: relative;
    padding-top: 0;
}
.main-slider {
    margin: 0 auto;
    padding: 0;
}
.main-slider .slick-list {
    overflow: visible;
}
.slide {
    position: relative;

    overflow: hidden;

    height: 480px;

    cursor: pointer;
    transition: all .3s ease;
}
.slide::after {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    background: rgba(12,21,27,.8);
}
.slide.slick-current::after {
    z-index: 1;

    background: rgba(12,21,27,.8);
    background: linear-gradient(to bottom,transparent 0,transparent 50%,rgba(12,21,27,1) 100%);
}
.slide img {
    position: absolute;
    top: 50%;
    left: 0;

    width: 100%;
    height: auto;

    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}
.slide figcaption {
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;

    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 36px;

    color: #fff;
    background: none;
}
.slide-title {
    font-size: 32px;
    font-weight: 700;

    display: block;

    padding-bottom: 15px;

    letter-spacing: .5px;
    text-transform: uppercase;
}
.slide-extra > span {
    display: block;
}
.slide-datetime {
    position: absolute;
    right: 30px;
    bottom: 30px;
}
.slide-datetime span {
    letter-spacing: 0.5px;
    font-weight: 500;
    line-height: 1;

    display: block;
}
.slide-time {
    font-size: 64px;
    line-height: 1.25;
}
.slide-date {
    font-size: 14px;

    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 5px;
    text-align: right;
}
.slide-desc {
    font-size: 16px;
    width: 60%;
}
.main-slider .slick-arrow {
    z-index: 1;
    top: 50%;

    width: 48px;
    height: 48px;
    padding: 4px;

    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}
.main-slider .slick-arrow svg {
    width: 40px;

    -webkit-transition: fill .3s;
         -o-transition: fill .3s;
            transition: fill .3s;

    fill: rgba(255,255,255,.5);
}
.main-slider .slick-arrow:hover svg {
    fill: #cd1341;
}
.main-slider .slick-arrow {
    border: none;
}
.main-slider .arrow-prev {
    left: -64px;
}
.main-slider .arrow-next {
    right: -64px;
}


/*
-------------------- Main News --------------------------
*/
.main-news {
    margin-bottom: 30px;
}

.main-news-item {
    float: left;

    width: 32%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.main-news-item:nth-child(3n) {
    margin-right: 0;
}

.main-news-item figure {
    position: relative;

    overflow: hidden;

    height: auto;
}

.main-news-thumb {
    position: relative;

    display: block;

    height: 250px;
}

.main-news-thumb img {
    position: absolute;
    top: 0;
    left: 50%;

    width: auto;
    height: 100%;

    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
}

.main-news-item figcaption {
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;

    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 10px 15px;

    text-align: left;

    color: #fff;
    background: none;
}
.main-news-live figcaption,
.main-news-live figure:hover figcaption {
    top: 50%;
    bottom: auto;

    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: center;
}
.main-news-thumb::after {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    background: rgba(64, 63, 65, .5);
}
.main-news-live .main-news-thumb::after {
    background: rgba(205, 19, 65, .5);
}

.main-news-title {
    font-size: 18px;
    font-weight: 500;

    display: block;

    padding-bottom: 10px;

    border-bottom: 1px solid rgba(255, 255, 255, .25);
}
.main-news-live .main-news-title {
    font-size: 24px;
    line-height: 1.25;

    padding-bottom: 0;

    border: none;
}
.main-news-title:hover,
.main-news-title:focus,
.main-news-title:active {
    color: rgba(255, 255, 255, .5);
}

.main-news-extra {
    padding-top: 10px;
}
.main-news-extra > * {
    display: inline-block;

    vertical-align: middle;
}
.main-news-extra > span {
    font-size: 10px;
    line-height: 20px;

    margin-right: 5px;

    text-transform: uppercase;
}

.main-news-views .fa-view {
    fill: #fff;
}

.main-news-category a {
    font-size: 11px;
    line-height: 20px;

    float: left;

    margin: 0 15px 0 0;

    text-transform: uppercase;

    color: #fff;
}
.main-news-live .main-news-category {
    position: absolute;
    bottom: -24px;
    left: 50%;

    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
}
.main-news-live .main-news-category svg {
    display: block;

    height: 24px;
}


/*
-------------------- Daily Video --------------------------
*/
.video-section .video {
    position: relative;

    float: left;

    width: 25%;
    height: 250px;
}
.video-section figure {
    position: relative;

    height: 100%;
}
.video-section figcaption {
    position: absolute;

    overflow: hidden;

    width: 100%;
    height: 100%;
}
.video-thumb {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
}
.video-thumb::after {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    background: rgba(64, 63, 65, .5);
}
.video-thumb img {
    position: absolute;
    top: 50%;
    left: 0;

    width: 100%;
    height: auto;

    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}
.video-info,
.video-type {
    position: absolute;
    z-index: 3;

    width: 100%;
    padding: 15px;

    color: #fff;
}
.video-info {
    bottom: 0;
}
.video-type {
    top: 0;
}
.video-type h3 {
    font-size: 11px;
    font-weight: 500;

    margin: 0 0 10px;

    text-transform: uppercase;

    color: #fff;
}
.video-type h3 span {
    line-height: 20px;

    display: inline-block;

    padding: 0 10px;

    background: #0e73c5;
}
.video-info a {
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;

    height: 40px;
    margin: 0;
}
.video-info a:hover,
.video-info a:focus,
.video-info a:active {
    color: rgba(255, 255, 255, .5);
}
.video-section .play-button {
    width: 40px;
}
.video-section .embed-responsive-16by9 {
    height: 100%;
    padding: 0;
}


/*
-------------------- Gallery --------------------------
*/
.gallery-item {
    position: relative;

    display: block;
    overflow: hidden;
}

.gallery-left .gallery-item {
    height: 360px;
}

.gallery-right .gallery-item {
    height: 180px;
}

.gallery-item img {
    position: absolute;
    left: 50%;

    width: auto;
    height: 100%;

    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
}

.gallery-item figcaption,
.gallery-title,
.fa-gallery {
    position: absolute;

    -webkit-transition: opacity .4s ease;
       -moz-transition: opacity .4s ease;
        -ms-transition: opacity .4s ease;
         -o-transition: opacity .4s ease;
            transition: opacity .4s ease;
}

.gallery-item figcaption {
    z-index: 1;

    width: 100%;
    height: 100%;

    opacity: 1;
    background: rgba(64, 63, 65, .5);
}

.gallery-title {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    line-height: 1.25;

    color: #fff;
}

.gallery-title:hover,
.gallery-title:focus {
    opacity: .75;
}

.gallery-left .gallery-title {
    font-size: 20px;

    right: 20px;
    bottom: 20px;
    left: 20px;
}

.gallery-right .gallery-title {
    font-size: 16px;

    right: 10px;
    bottom: 10px;
    left: 10px;
}
.gallery .gallery-button {
    position: absolute;
}
.gallery-left .gallery-button {
    top: 20px;
    right: 20px;

    width: 40px;
}
.gallery-right .gallery-button {
    width: 32px;
}


/*
-------------------- Last News --------------------------
*/
.middle-left-section {
    padding: 0 15px 0 0;
}
.last-news-section .list-group {
    margin-bottom: 0;
}
.last-news-section .list-group-item {
    margin-bottom: 20px;
    padding: 0 0 20px;

    border: none;
    border-bottom: 2px solid #ddd;
}
.last-news-section .list-group-item:last-child {
    margin-bottom: 0;
}
.post-extra {
    position: relative;

    margin-bottom: 5px;
}
.post-extra > * {
    font-size: 10px;
    line-height: 20px;

    display: inline-block;

    margin-right: 5px;

    vertical-align: middle;
    text-transform: uppercase;

    color: #8899a7;
}
.post-date,
.post-views {
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
}
.post-file svg {
    position: relative;
    top: -1px;
    left: 0;

    display: inline-block;

    height: 16px;
    margin-right: 5px;

    vertical-align: middle;

    fill: #333;
}


/*
-------------------- Director --------------------------
*/
.director-section .section-title h4 {
    position: relative;

    margin-bottom: 0;
    padding: 5px 0 20px 120px;

    background: url(../images/manager-border.png) no-repeat 0 105px;
    box-shadow: 0 9px 2px -3px rgba(128, 128, 128, .5);
}
.director-section .section-title a {
    display: inline-block;

    vertical-align: middle;

    color: #0e73c5;
}
.carousel-director {
    margin: 30px 0 0;

    border-bottom: 2px solid #ddd;
}
.director-img{
    position: absolute;
    width: 100px;
    left: 10px;
    top: 2px;
}
.carousel-director img {
    margin: 0;
}
.carousel-director a {
    display: block;

    margin-bottom: 15px;
}
.carousel-director .post-title {
    font-weight: 500;

    display: block;
}

.carousel-director .slick-arrow {
    bottom: -44px;
}

.carousel-director .arrow-prev {
    left: 0;
}

.carousel-director .arrow-next {
    left: 40px;
}


/*
-------------------- Videoportal --------------------------
*/
.middle-right-section {
    padding: 0 0 0 15px;
}
.filters {
    margin-bottom: 30px;
}

.filter {
    position: relative;
    z-index: 1;

    display: inline-block;

    margin: 0 5px;

    vertical-align: middle;
}

.filter:first-child {
    margin-left: 0;
}

.filter:last-child {
    margin-right: 0;
}

.filter span {
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 36px;

    position: relative;

    display: block;
    overflow: hidden;

    padding: 0 10px;

    cursor: pointer;
    text-transform: uppercase;
}

.filter.active span {
    color: #fff;
}

.filter span::after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';
    -webkit-transition: background-color .3s, -webkit-transform .3s;
            transition: background-color .3s, transform .3s;
    -webkit-transition-timing-function: ease, cubic-bezier(.7, 0, .3, 1);
            transition-timing-function: ease, cubic-bezier(.7, 0, .3, 1);
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
            transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);

    background: #ddd;
}

.filter:not(.active) span:hover,
.filter:not(.active) span:focus {
    color: #0e73c5;
}

.filter.active span::after,
.filter span:hover::after,
.filter span:focus::after {
    background: #0e73c5;
}

.filter.active span::after {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
#portfoliolist {
    border-bottom: 2px solid #ddd;
}
#portfoliolist .portfolio {
    display: block;
    float: left;
    overflow: hidden;

    width: 32%;
    margin: 0 2% 2% 0;
}
#portfoliolist .portfolio:nth-child(3n) {
    margin-right: 0;
}
.portfolio-wrapper {
    position: relative !important;

    cursor: pointer;
}
.media-image {
    position: relative;

    display: block;
    overflow: hidden;

    height: 130px;
    margin-bottom: 10px;

    box-shadow: 0 1px 9px 0 rgba(0, 0, 0, .5);

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
            backface-visibility: hidden;
}
.media-image img {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;

    width: 100%;
    height: auto;

    -webkit-transform: translateY(-50%) translateX(-50%);
       -moz-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);

    opacity: 1;
}
.media-image .overlay,
.media-extra {
    position: absolute;
}
.media-image .overlay,
.media-image .fa-video,
.media-image .fa-view,
.media-image .media-view,
.media-image .play-button {
    -webkit-transition: opacity .4s ease;
       -moz-transition: opacity .4s ease;
        -ms-transition: opacity .4s ease;
         -o-transition: opacity .4s ease;
            transition: opacity .4s ease;
}
.media-image .overlay {
    z-index: 2;

    width: 100%;
    height: 100%;

    opacity: 1;
    background: rgba(64, 63, 65, .5);
}
.media-extra {
    z-index: 3;
    right: 10px;
    bottom: 10px;
}
.media-image .media-view,
.media-image .media-date {
    font-family: 'Fira Sans', sans-serif;
    font-size: 10px;

    color: #fff;
}
.media-image .media-date {
    margin-right: 5px;

    text-transform: uppercase;
}
.media-image .fa-view {
    margin: 0;

    fill: #fff;
}
.media-image .play-button {
    width: 32px;

    opacity: 1;
}
.media-image:hover .overlay,
.media-image:hover .play-button {
    opacity: 0;
}
.media-title {
    display: table-cell;
    overflow: hidden;

    width: 300px;
    max-width: 100%;
    height: 80px;

    vertical-align: middle;
}
.media-title a {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;

    display: block;

    text-align: center;
}


/*
-------------------- Reporter --------------------------
*/
.bottom-left-section {
    padding: 0 15px 0 0;
}
.bottom-right-section {
    padding: 0 0 0 15px;
}
.bottom-right-section .ad-block {
    padding: 25px 0 0;
}
.bottom-right-section .ad-block {
    float: right;
}
.reporter-slider {
    margin-bottom: 0;
}
.reporter-slider .slick-arrow {
    position: absolute;
    top: -56px;
}
.reporter-slider .slick-arrow svg {
    fill: #fff;
}
.reporter-slider .arrow-prev {
    right: 55px;
}
.reporter-slider .arrow-next {
    right: 15px;
}
.reporter-slider .slick-slide {
    position: relative;

    overflow: hidden;

    height: 185px;
    margin: 0 15px 0 0;
    padding: 0;
}
.rep-thumb,
.reporter-slider .rep-thumb img {
    height: 100%;
}
.reporter-slider .rep-thumb img {
    width: auto;
}
.rep-thumb .overlay {
    background: rgba(64, 63, 65, .5);
}
.rep-name {
    font-size: 14px;

    right: 10px;
    bottom: 10px;
    left: 10px;
}
.rep-thumb .rep-date,
.rep-thumb .rep-view {
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
    font-size: 10px;

    top: 10px;

    text-transform: uppercase;
}
.rep-thumb .rep-date {
    right: 10px;
}
.rep-thumb .fa-view {
    top: 9px;
    left: 10px;

    width: auto;
    height: 10px;

    background: none;

    fill: #fff;
}
.rep-thumb .rep-view {
    left: 30px;

    text-align: left;
}


/*
-------------------- Inner Pages --------------------------
*/
.post-left-section {
    padding: 0 15px 0 0;
}
.post-right-section {
    padding: 0 0 0 15px;
}
.post-section .article-section {
    margin-bottom: 0;
}
.article-section .main-news-item {
    float: none;

    width: 100%;
    margin: 0;
}
.article-section .main-news-item figure {
    position: relative;
}
.article-section .main-news-thumb {
    height: auto;
}
.article-section .main-news-thumb img {
    position: relative;
    left: 0;

    width: 100%;
    height: auto;

    -webkit-transform: none;
        -ms-transform: none;
         -o-transform: none;
            transform: none;
}
.article-section .main-news-item figcaption {
    padding: 30px;
}
.article-section .main-news-title {
    font-size: 36px;
    line-height: 1.25;

    margin: 0;
}
.article-section .main-news-title:hover,
.article-section .main-news-title:focus {
    color: #fff;
}
.article-section .main-news-extra > span {
    font-size: 12px;
}
.article-section .fa-view {
    margin: 0 3px 3px 0;
}
.article-extra {
    margin-bottom: 15px;
    padding: 15px 0;

    border-bottom: 2px solid #ddd;
}
.article-extra .pluso {
    width: auto;

    text-align: left;
}
.article-extra .orphus-mistake {
    width: auto;
    padding: 0;

    border: none;
}
.article-extra .orphus-mistake > * {
    display: inline-block;

    vertical-align: middle;
}
.article-extra .orphus-mistake h4 {
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;

    margin-right: 5px;
    padding: 0;

    text-transform: uppercase;

    color: #8899a7;
}
.article-extra .orphus-mistake span {
    display: block;
}
.article-extra .orphus-mistake svg {
    height: 32px;

    fill: #8899a7;
}
.article-section section {
    margin-bottom: 30px;
}
.article-section section,
.article-section section p,
.article-section section p > * {
    font-size: 18px !important;
    line-height: 1.5;
}
.article-section section p {
    margin-bottom: 20px;
}
.article-section section br {
    display: none;
}
.article-section img.fr-dib {
    width: 600px;
    margin: 15px auto;
}
.article-section section em {
    display: block;

    margin: 15px 0;
    padding-left: 50px;

    color: #0e73c5;
    background: url('img/quote.svg') no-repeat center left;
    -webkit-background-size: 32px;
            background-size: 32px;
}
.article-section footer {
    border-top: 2px solid #ddd;
}
.article-block .ads {
    margin: 30px 0;
}
.article-block .ads img {
    width: 100%;
}
.article-section aside {
    padding: 10px;
}
.article-section aside.pull-right {
    margin-left: 20px;
    padding-right: 0;
}
.article-section aside.pull-left {
    margin-right: 20px;
    padding-left: 0;
}
.topic {
    position: relative;

    width: 300px;
    height: 240px;
}
.topic:first-child {
    padding-top: 0;
}
.topic:last-child {
    padding-bottom: 0;
}
.t-thumb {
    height: 100%;
}
.t-thumb::after {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    background: rgba(64, 63, 65, .5);
}
.t-thumb img {
    position: absolute;
    top: 0;
    left: 50%;

    width: auto;
    height: 100%;

    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
}
.t-thumb .play-button {
    height: 32px;
}
.t-info {
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;

    position: absolute;
    z-index: 2;
    bottom: 0;

    width: 100%;

    background: none;
}
.t-info a {
    text-align: left;
}
.t-date,
.t-view {
    display: inline-block;
    float: none;

    vertical-align: middle;
}
.t-date {
    margin-right: 5px;
}
.t-view .fa-view {
    margin: 0 4px 2px 0;

    fill: #fff;
}


/*
-------------------- Gallery Page --------------------------
*/
.post-section .slick-slider {
    margin-bottom: 20px;
}
.post-section .slider-for .slick-slide img {
    width: auto;
    height: 500px;
    margin: 0 auto;
}
.post-section .slider-nav .slick-slide {
    overflow: hidden;

    height: 100px;
    margin: 0 5px;

    cursor: pointer;

    opacity: .25;
}
.post-section .slider-nav .slick-slide.slick-current {
    opacity: 1;
}
.post-section .slider-nav .slick-slide img {
    width: auto;
    height: 100%;
}



/*
-------------------- Section Related --------------------------
*/
.related-section .block {
    float: left;

    width: 32%;
    margin-right: 2%;
}
.related-section .block:nth-child(3n) {
    margin-right: 0;
}
.related-section .block .news-thumb {
    position: relative;

    display: block;
    overflow: hidden;
}
.related-section .block .news-thumb img {
    opacity: 1;
}
.related-title {
    font-weight: 500;
    line-height: 1.25;

    height: 80px;
    padding: 0;

    color: #333;
}
.related-title:hover,
.related-title:focus {
    color: #cd1341;
}


/*
-------------------- Post Right Section --------------------------
*/
.post-right-section .list-group-item:last-child {
    border: 0;
}


/*
-------------------- Footer --------------------------
*/
.prefooter {
    margin-top: 30px;

    border: none;
    background: #fff;
}


/*
------------------- Footer Channels --------------------------
*/
.footer-channels {
    padding: 30px;
}
.carousel-channels {
    margin: 0;
}
.channel-slide {
    height: 80px;
}
.channel-slide a {
    position: relative;

    display: block;
    overflow: hidden;

    width: 100%;
    height: 100%;
    padding: 15px;
}
.channel-slide img {
    width: auto;
    height: 50px;
    margin: 0 auto;
}
.footer-channels .slick-arrow {
    top: 50%;

    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}
.footer-channels .arrow-prev {
    left: -30px;
}
.footer-channels .arrow-next {
    right: -30px;
}


/*
-------------------- Footer Menu --------------------------
*/
.footer-menu {
    padding: 30px 0;

    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}
.footer-menu ul {
    padding: 0;

    text-align: left;
}
.first-level h4 {
    font-size: 14px;
    font-weight: bold;

    margin: 0 0 20px;

    text-transform: uppercase;

    color: #333146;
}
.first-level li {
    float: left;
}
.first-level > li {
    width: 32%;
    margin-right: 2%;
}
.first-level > li:last-child {
    margin: 0;
}
.second-level > li,
.apps li {
    margin-right: 15px;
}
.second-level > li a {
    font-weight: 500;

    display: block;

    margin-bottom: 5px;
    padding: 0;

    text-transform: none;

    color: #333;
}
.second-level > li a:focus,
.second-level > li a:hover {
    color: #cd1341;
}
.apps h4 {
    margin-top: 20px;
}
.apps svg {
    height: 40px;
    fill: #333;
}
.apps svg:focus,
.apps svg:hover {
    fill: #cd1341;
}
.footer-menu .apps a {
    float: left;

    margin: 0;
    padding: 0;
}


/*
-------------------- Footer Trademark --------------------------
*/
.footer-trademark {
    font-family: inherit;

    display: block;

    padding: 30px 0;

    background: #fff;
}
.copyright,
.copyrightSide{
    font-size: 14px;
    font-weight: normal;
}
.copyrightSide{
    line-height: 1;
    margin: 0;
    padding: 5px 0 0;
    text-align: right;
}
.copyrightSide:last-child{
    margin-top: 15px;
}