@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');


/*
-------------------- General --------------------------
*/
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    outline: none;
}
body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    line-height: 1.5;

    background: #fff;
}
a {
    -webkit-transition: all .25s;
         -o-transition: all .25s;
            transition: all .25s;

    color: inherit;
}
a:hover,
.section-title h4 a:hover,
.post-title a:hover {
    color: #cd1341;
}
a:hover,
a:focus {
    text-decoration: none;

    outline: none;
}
ul {
    margin: 0;
    padding: 0;

    list-style: none;
}
iframe {
    border: 0;
}
img {
    width: 100%;
}


/*
-------------------- Content --------------------------
*/
#page-content-wrapper {
    overflow: hidden;

    padding: 0;
}
.main-wrapper {
    background: #fff;
    box-shadow: none;
}


/*
--------------------  Header Test --------------------------
*/
.header {
    background: #fff;
}
.header-top {
    position: relative;

    padding: 15px 0 0;
}
.header-left {
    float: left;
}
.header-middle {
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;

    position: relative;

    float: right;

    margin-right: 30px;
    padding: 4px 0;

    text-align: right;
}
.header-middle li {
    display: inline-block;
}
.now-live > div {
    display: block;
}
.now-live-info > div {
    float: right;
}
.now-live-text {
    color: #cd1341;
}
.now-live-time {
    color: #333146;
}
.now-live-title {
    position: absolute;
    right: 0;

    color: #0e73c5;
}
.us-words-wrapper {
    position: relative;

    display: inline-block;

    text-align: right;
}
.us-words-wrapper b {
    position: absolute;
    top: 0;
    left: 0;

    display: inline-block;

    white-space: nowrap;

    opacity: 0;
}
.us-words-wrapper b.is-visible {
    position: relative;

    opacity: 1;
}
.us-headline.clip span {
    display: inline-block;
}
.us-headline.clip .us-words-wrapper {
    overflow: hidden;

    vertical-align: top;
}
.us-headline.clip b {
    opacity: 0;
}
.us-headline.clip b.is-visible {
    opacity: 1;
}
.now-live-title span {
    position: absolute;
    right: 0;

    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
    white-space: nowrap;

    opacity: 0;
}
.now-live-title span.is-visible {
    opacity: 1;
}


.header-right {
    float: right;

    padding: 10px 0;
}
.header-right li {
    line-height: 20px;

    float: left;

    height: 20px;
    margin-right: 10px;
}
.header-right li:last-child {
    margin-right: 0;
    margin-left: 10px;
}
.header-right a {
    display: inline-block;

    vertical-align: middle;
}
.header-right svg {
    display: block;

    width: 16px;
    height: 16px;

    fill: #8899a7;
}
.tw:hover svg {
    fill: #1da1f2;
}
.fb:hover svg {
    fill: #3b5998;
}
.in:hover svg {
    fill: #e4405f;
}
.yt:hover svg {
    fill: #cd201f;
}
.ok:hover svg {
    fill: #f4731c;
}
#searchToggle {
    cursor: pointer;
}
#searchForm {
    position: absolute;
    z-index: 1;
    top: 15px;
    right: 0;

    width: 320px;
    height: 40px;
    padding: 5px 15px;

    -webkit-transition: transform .3s;
       -moz-transition: transform .3s;
        -ms-transition: transform .3s;
         -o-transition: transform .3s;
            transition: transform .3s;
    -webkit-transform: translateY(-60px);
       -moz-transform: translateY(-60px);
        -ms-transform: translateY(-60px);
         -o-transform: translateY(-60px);
            transform: translateY(-60px);

    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
       -moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
            box-shadow: 0 1px 3px rgba(0,0,0,.2);
}
#searchForm.translated {
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
}
#searchForm .input-group {
    margin-bottom: 0;
    padding: 5px 0;
}
#searchForm .form-control {
    height: 20px;
    padding: 0;

    border: none;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
#searchForm .input-group-btn {
    padding-left: 15px;

    border-left: 1px solid #ccc;
}
#searchForm .btn {
    padding: 2px 10px;

    opacity: 1;
    border: none;
    background: none;
}
#searchForm .btn:hover,
#searchForm .btn:active,
#searchForm .btn:focus {
    opacity: .75;
    outline: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
#searchForm svg {
    fill: #666;
}
#searchToggle:hover svg,
#searchForm .btn:hover svg {
    fill: #cd1341;
}
#closeForm {
    display: none;
}
#closeForm svg {
    width: 12px;
    height: 12px;
}
.lang-switch a {
    font-weight: 700;

    position: relative;

    margin-left: 10px;

    text-transform: uppercase;

    color: #8899a7;
}
.lang-switch a:hover,
.lang-switch a.active {
    color: #cd1341;
}
.lang-switch a::after {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 0;
    height: 2px;

    content: '';
    -webkit-transition: width .3s;
       -moz-transition: width .3s;
        -ms-transition: width .3s;
         -o-transition: width .3s;
            transition: width .3s;

    background: #8899a7;
}
.lang-switch a.active::after,
.lang-switch a:hover::after {
    width: 100%;

    background: #cd1341;
}
.header-logo {
    position: absolute;
}
.header-logo img {
    width: auto;
    height: 50px;
}
.header-nav {
    position: static;

    height: 60px;

    text-align: center;
}
.header-nav > li {
    line-height: 60px;

    display: inline-block;

    height: 60px;
    margin-right: 15px;

    vertical-align: middle;
}
.header-nav > li:last-child {
    margin-right: 0;
}
.header-nav > li > a {
    font-size: 14px;
    font-weight: 700;

    display: inline-block;

    vertical-align: middle;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.nav-live {
    float: right;
}
.header-nav > li.nav-live a {
    font-style: italic;

    position: relative;

    opacity: 1;
    color: #fff;
}
#blinkLive {
    display: inline-block;

    width: 6px;
    height: 6px;
    margin-right: 4px;

    vertical-align: middle;

    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background: #fff;
}
#blinkLive.blink {
    background: none;
}
.nav-live a:hover {
    opacity: .75;
}
.inner-nav {
    position: absolute;
    z-index: 10;
    top: 115px;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: auto;
    max-height: 0;

    -webkit-transition: max-height 300ms;
            transition: max-height 300ms;

    opacity: 1;
    border-top: 4px solid #0e73c5;
    background-color: rgba(255,255,255,.95);
}
.inner-nav::after {
    position: absolute;
    z-index: 11;
    top: -2px;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    box-shadow: 0 5px 10px rgba(14,115,197,.2);
}
.header-nav > li:hover .inner-nav {
    max-height: 1000px;
}
.inner-nav:hover {
    max-height: 1000px;

    -webkit-transition-delay: 300ms;
            transition-delay: 300ms;
}
.inner-nav ul {
    position: relative;
    z-index: 12;

    width: 1170px;
    margin: 0 auto;
    padding: 30px 0;
}
.inner-nav ul > h4 {
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;

    margin-bottom: 15px;

    text-align: left;
    text-transform: uppercase;

    color: #cd1341;
}
.inner-nav li {
    line-height: 30px;

    float: left;

    width: 23.5%;
    margin-right: 2%;
}
/*.inner-nav li.nav-all a{
    color: #cd1341;
}*/
.text-nav li {
    text-align: left;
}
.text-nav li:nth-child(4n) {
    margin-right: 0;
}
.inner-nav li a {
    font-size: 14px;
    font-weight: 500;

    padding: 10px 15px;

    color: #0e73c5;
}
.inner-nav li a:hover {
    color: #cd1341;
}
.header-channels li {
    width: 15%;
}
.header-channels li:nth-child(6n) {
    margin-right: 0;
}
.header-channels img {
    width: auto;
    height: 70px;
}
.header-radios li:nth-child(2) {
    margin-left: 17%;
}

/*
-------------------- Common Styles --------------------------
*/
.own-btn {
    padding: 10px 15px;

    border-radius: 4px;
    background: #fff;
}
.own-btn-pink {
    background: #cd1341;
}
.list-group-item {
    background: none;
}
.section {
    padding: 30px 0;

    background: #fff;
}
.section .section {
    margin-bottom: 30px;
    padding: 0;

    background: none;
}
.section .section:last-child {
    margin-bottom: 0;
}
.dark-section {
    background: #333146;
}
.grey-section {
    background: #f2f2f2;
}
.light-section + .light-section {
    padding-top: 0;
}
.section-title h4 {
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;

    position: relative;

    margin: 0 0 10px;
    padding: 25px 0;

    text-transform: uppercase;

    color: #333146;
}
.section-title h4 > * {
    line-height: 30px;

    display: inline-block;

    vertical-align: middle;
}
.section-title h4 a {
    color: #0e73c5;
}
.section-title h4 .pull-right {
    font-size: 20px;

    text-transform: none;
}
.section-title .divider {
    font-size: 6px;

    position: relative;

    width: 10px;

    text-align: center;

    color: #cd1341;
}
.dark-section .section-title h4 {
    color: #fff;
}
.section-body{
    position: relative;
    overflow: hidden;
}
.section-body::before,
.section-body::after {
    display: table;
    clear: both;

    content: '';
}
.section-desc {
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;

    display: block;

    margin: 0 0 30px;
    padding: 0 0 5px;

    text-transform: uppercase;

    color: #cd1341;
    border-bottom: 2px solid #cd1341;
}
.section footer {
    clear: both;

    padding: 15px 0;

    text-align: right;
}
.section footer.with-top-border{
    border-top: 2px solid #ddd;
}
.middle-right-section .section footer,
.dir-section .section footer {
    border-top: 2px solid #ddd;
}
.section footer a {
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 500;

    text-transform: uppercase;

    color: #0e73c5;
}
.section footer .pagination {
    margin: 0;
}

.section-footer {
    margin-top: 30px;

    text-align: center;
}
.section-footer a {
    font-weight: 700;
    line-height: 20px;

    display: inline-block;

    padding: 10px 20px;

    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
    vertical-align: middle;
    text-transform: uppercase;

    opacity: 1;
    color: #fff;
    border-radius: 4px;
    background: #cd1341;
}
.section-footer a:hover {
    opacity: .75;
}
.play-button,
.gallery-button {
    position: absolute;
    z-index: 3;

    height: auto;
    margin: auto;

    cursor: pointer;

    fill: #fff;
}
.play-button {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.gallery-button {
    top: 10px;
    right: 10px;
}
.fa-view {
    width: auto;
    height: 10px;
    margin-right: 2px;
    margin-bottom: 2px;

    vertical-align: middle;

    background: none;

    fill: #8899a7;
}
.news-body .post-category {
    font-size: 12px;
    font-weight: 500;

    color: #cd1341;
}
.news-body {
    border: none;
}
.news-body .post-title {
    font-weight: 500;

    display: block;

    color: #333;
}
.news-body a:hover {
    color: #cd1341;
}
.slick-arrow:hover,
.pagination > li > a.slick-arrow:hover {
    border-color: #cd1341;
}
.slick-arrow,
.pagination > li > a.slick-arrow {
    width: 32px;
    height: 32px;
    padding: 8px;

    -webkit-transition: border-color .3s;
         -o-transition: border-color .3s;
            transition: border-color .3s;

    border: 2px solid #ccc;
    border-radius: 50%;
    background: none;
}
.slick-arrow {
    position: absolute;
}
.slick-arrow svg {
    display: block;

    width: 12px;

    fill: #333;
}


/*
-------------------- Pagination --------------------------
*/
.pagination > li {
    display: inline-block;

    vertical-align: middle;
}
.pagination > li > a {
    line-height: 28px;

    display: block;
    float: none;

    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;

    text-align: center;

    border: 2px solid #ccc;
}
.pagination > li.pagination-auto > a {
    line-height: 32px;

    width: auto;

    border: none;
}
.pagination > li > a:not(.slick-arrow) {
    color: #333;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;

        -ms-border-radius: 50%;
         -o-border-radius: 50%;
}
.pagination > li > a.active {
    color: #fff;
    border-color: #cd1341;
    background: #cd1341;
}
.pagination > li > a:hover,
.pagination > li > a:focus {
    opacity: .75;
    border-color: #cd1341;
    background: none;
}
.pagination > li > a.active:hover,
.pagination > li > a.active:focus {
    background: #cd1341;
}
.pagination > li > a.slick-arrow {
    position: relative;

    display: block;

    border-color: transparent;
}
.pagination > li > a.disabled {
    pointer-events: none;

    color: #ccc;
    background-color: #fff;
}
.pagination > li > a.disabled svg {
    fill: #ccc;
}


/*
-------------------- Ad Block --------------------------
*/
.ad-block {
    padding: 15px 0;

    text-align: center;
}
.ad-block a {
    display: inline-block;
}
.ad-block img {
    display: block;

    width: auto;
    margin: 0 auto;
}
.middle-section .ad-block {
    padding-bottom: 0;
}
.post-section .ad-block {
    padding: 30px 0 0;
}
.post-left-section .ad-block {
    padding: 30px 0;
}
.post-right-section .ad-block {
    padding: 0 0 30px;
}


/*
-------------------- Main Slider --------------------------
*/
.slider-section {
    position: relative;

    padding-top: 0;
}
.main-slider {
    margin: 0 auto;
    padding: 0;
}
.main-slider .slick-list {
    overflow: visible;
}
.slide {
    position: relative;

    overflow: hidden;

    height: 480px;

    cursor: pointer;
    transition: all .3s ease;
}
.slide::after {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    background: rgba(12,21,27,.8);
}
.slide.slick-current::after {
    z-index: 1;
    /*     background: rgba(12,21,27,.8);
    background: linear-gradient(to bottom,transparent 0,transparent 50%,rgba(12,21,27,1) 100%); */

    background:      -o-linear-gradient(left bottom, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 40%);
    background:    -moz-linear-gradient(left bottom, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 40%);
    background: -webkit-linear-gradient(left bottom, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 40%);
    background:     -ms-linear-gradient(left bottom, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 40%);
    background:         linear-gradient(to left, bottom, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 40%);
}
.slide img {
    position: absolute;
    top: 50%;
    left: 0;

    width: 100%;
    height: auto;

    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}
.slide figcaption {
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;

    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 64px;

    color: #fff;
    background: none;
}
.slide-title {
    font-size: 32px;
    font-weight: 700;

    display: block;

    padding-bottom: 15px;

    letter-spacing: .5px;
    text-transform: uppercase;
}
.slide-title:hover,
.slide-title:focus {
    color: rgba(255,255,255,.75);
}
.slide-extra,
.slide-datetime,
.slide-title {
    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
    -webkit-transform: translateY(100px);
        -ms-transform: translateY(100px);
         -o-transform: translateY(100px);
            transform: translateY(100px);
}
.slide:hover .slide-extra,
.slide:hover .slide-datetime,
.slide:hover .slide-title {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
}
.slide-extra {
    opacity: 0;
}
.slide:hover .slide-extra {
    opacity: 1;
}
.slide-extra > span {
    display: block;
}
.slide-datetime {
    position: absolute;
    top: -30px;
    left: 64px;
}
.slide-datetime span {
    line-height: 1;

    display: block;

    color: #fff;
}
.slide-time {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.5;

    padding: 10px 25px;

    letter-spacing: .5px;

    border-radius: 4px;
    background: #cd1341;
}
.slide-date {
    font-size: 12px;
    font-weight: 500;

    margin-bottom: 10px;

    letter-spacing: 1px;
    text-transform: uppercase;
}
.slide-desc {
    font-size: 16px;
    line-height: 1.5;

    overflow: hidden;

    width: 60%;
    height: 80px;
}
.main-slider .slick-arrow {
    z-index: 1;
    top: 50%;

    width: 48px;
    height: 48px;
    padding: 4px;

    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}
.main-slider .slick-arrow svg {
    width: 40px;

    -webkit-transition: fill .3s;
         -o-transition: fill .3s;
            transition: fill .3s;

    fill: rgba(255,255,255,.5);
}
.main-slider .slick-arrow:hover svg {
    fill: #cd1341;
}
.main-slider .slick-arrow {
    border: none;
}
.main-slider .arrow-prev {
    left: -64px;
}
.main-slider .arrow-next {
    right: -64px;
}


/*
-------------------- Main News --------------------------
*/
.main-news {
    margin-bottom: 30px;
}

.main-news-item {
    float: left;

    width: 32%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.main-news-item:nth-child(3n) {
    margin-right: 0;
}

.main-news-item figure {
    position: relative;

    overflow: hidden;

    height: auto;
}

.main-news-thumb {
    position: relative;

    display: block;

    height: 250px;
}

.main-news-thumb img {
    position: absolute;
    top: 0;
    left: 50%;

    width: auto;
    height: 100%;

    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
}

.main-news-item figcaption {
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;

    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 10px 15px;

    text-align: left;

    color: #fff;
    background: none;
}
.main-news-live figcaption,
.main-news-live figure:hover figcaption {
    top: 50%;
    bottom: auto;

    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: center;
}
.main-news-thumb::after {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    background: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,.35) 100%);
}
.main-news-live .main-news-thumb::after {
    background: rgba(205, 19, 65, .5);
}

.main-news-title {
    font-size: 18px;
    font-weight: 500;

    display: block;

    padding-bottom: 10px;

    border-bottom: 1px solid rgba(255, 255, 255, .25);
}
.main-news-live .main-news-title {
    font-size: 24px;
    line-height: 1.25;

    padding-bottom: 0;

    border: none;
}
.main-news-title:hover,
.main-news-title:focus,
.main-news-title:active {
    color: rgba(255, 255, 255, .5);
}

.main-news-extra {
    padding-top: 10px;
}
.main-news-extra > * {
    display: inline-block;

    vertical-align: middle;
}
.main-news-extra > span {
    font-size: 10px;
    line-height: 20px;

    margin-right: 5px;

    text-transform: uppercase;
}

.main-news-views .fa-view {
    fill: #fff;
}

.main-news-category a {
    font-size: 11px;
    line-height: 20px;

    float: left;

    margin: 0 15px 0 0;

    text-transform: uppercase;

    color: #fff;
}
.main-news-live .main-news-category {
    position: absolute;
    bottom: -32px;
    left: 50%;

    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
}
.main-news-live .main-news-category svg {
    display: block;

    height: 32px;
}
.main-news-item .main-news-file svg{
    fill: #fff;
}


/*
-------------------- Daily Video --------------------------
*/
.video-section .video-item {
    position: relative;

    float: left;

    width: 25%;
    height: 250px;
}
.video-section figure {
    position: relative;

    height: 100%;
}
.video-section figcaption {
    position: absolute;

    overflow: hidden;

    width: 100%;
    height: 100%;
}
.video-item .post-extra {
    position: absolute;
    z-index: 2;
    top: 15px;
    right: 15px;
}
.video-item .post-extra > * {
    color: #fff;
}
.video-item .post-extra span:last-child {
    margin: 0;
}
.video-item .post-extra .fa-view {
    fill: #fff;
}
.video-thumb {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
}
.video-thumb::after {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    background: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,.35) 100%);
}
.video-thumb img {
    position: absolute;
    top: 50%;
    left: 0;

    width: 100%;
    height: auto;

    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}
.video-info,
.video-type {
    position: absolute;
    z-index: 3;

    width: 100%;
    padding: 15px;

    color: #fff;
}
.video-info {
    bottom: 0;
}
.video-type {
    top: 0;
}
.video-type h3 {
    font-size: 11px;
    font-weight: 500;

    margin: 0 0 10px;

    text-transform: uppercase;

    color: #fff;
}
.video-type h3 span {
    line-height: 20px;

    display: inline-block;

    padding: 0 10px;

    background: #0e73c5;
}
.video-info a {
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;

    height: 40px;
    margin: 0;
}
.video-info a:hover,
.video-info a:focus,
.video-info a:active {
    color: rgba(255, 255, 255, .5);
}
.video-section .play-button {
    width: 40px;
}
.video-section .video-player {
    height: 100%;
    padding: 0;
}


/*
-------------------- Gallery --------------------------
*/
.gallery-item {
    position: relative;

    display: block;
    overflow: hidden;
}

.gallery-left .gallery-item {
    height: 360px;
}

.gallery-right .gallery-item {
    height: 180px;
}

.gallery-item img {
    position: absolute;
    left: 50%;

    width: auto;
    height: 100%;

    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
}

.gallery-item figcaption,
.gallery-title,
.fa-gallery {
    position: absolute;

    -webkit-transition: opacity .4s ease;
       -moz-transition: opacity .4s ease;
        -ms-transition: opacity .4s ease;
         -o-transition: opacity .4s ease;
            transition: opacity .4s ease;
}

.gallery-item figcaption {
    z-index: 1;

    width: 100%;
    height: 100%;

    opacity: 1;
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,.35) 100%);
}

.gallery-title {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    line-height: 1.25;

    color: #fff;
}

.gallery-title:hover,
.gallery-title:focus {
    opacity: .75;
}

.gallery-left .gallery-title {
    font-size: 20px;

    right: 20px;
    bottom: 20px;
    left: 20px;
}

.gallery-right .gallery-title {
    font-size: 16px;

    right: 10px;
    bottom: 10px;
    left: 10px;
}
.gallery .gallery-button {
    position: absolute;
}
.gallery-left .gallery-button {
    top: 20px;
    right: 20px;

    width: 40px;
}
.gallery-right .gallery-button {
    width: 32px;
}
.gallery-item .post-extra {
    position: absolute;
}
.gallery-left .post-extra {
    top: 20px;
    left: 20px;
}
.gallery-right .post-extra {
    top: 10px;
    left: 10px;
}
.gallery-item .post-extra > * {
    color: #fff;
}
.gallery-item .fa-view {
    fill: #fff;
}


/*
-------------------- Last News --------------------------
*/
.middle-left-section {
    padding: 0 15px 0 0;
}
.last-news-section .list-group {
    margin-bottom: 0;
}
.last-news-section .list-group-item {
    margin-bottom: 20px;
    padding: 0 0 20px;

    border: none;
    border-bottom: 2px solid #ddd;
}
.last-news-section .list-group-item:last-child {
    margin-bottom: 0;
}
.post-extra {
    position: relative;

    margin-bottom: 5px;
}
.post-extra > * {
    font-size: 10px;
    line-height: 20px;

    display: inline-block;

    margin-right: 5px;

    vertical-align: middle;
    text-transform: uppercase;

    color: #8899a7;
}
.post-date,
.post-views {
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
}
.post-file svg {
    position: relative;
    top: -1px;
    left: 0;

    display: inline-block;

    height: 16px;
    margin-right: 5px;

    vertical-align: middle;

    fill: #333;
}


/*
-------------------- Director --------------------------
*/
.director-section .section-title h4 {
    position: relative;

    margin-bottom: 0;
    padding: 5px 0 10px 140px;

    background: url(../images/manager-border.png) no-repeat 0 95px;
    box-shadow: 0 9px 2px -3px rgba(128, 128, 128, .5);
}
.director-section .section-title a {
    display: inline-block;

    vertical-align: middle;

    color: #0e73c5;
}
.carousel-director {
    margin: 30px 0 0;

    border-bottom: 2px solid #ddd;
}
.director-img {
    position: absolute;
    top: 2px;
    left: 0;

    width: 130px;
}
.carousel-director img {
    margin: 0;
}
.carousel-director a {
    display: block;

    margin-bottom: 15px;
}
.carousel-director .post-title {
    font-weight: 500;

    display: block;
}

.carousel-director .slick-arrow {
    bottom: -44px;
}

.carousel-director .arrow-prev {
    left: 0;
}

.carousel-director .arrow-next {
    left: 40px;
}


/*
-------------------- Videoportal --------------------------
*/
.middle-right-section {
    padding: 0 0 0 15px;
}
.filters {
    margin-bottom: 30px;
}
.media-section .section-footer {
    margin-top: 0;
}
.filter {
    position: relative;
    z-index: 1;

    display: inline-block;

    margin: 0 5px;

    vertical-align: middle;
}

.filter:first-child {
    margin-left: 0;
}

.filter:last-child {
    margin-right: 0;
}

.filter span {
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 36px;

    position: relative;

    display: block;
    overflow: hidden;

    padding: 0 10px;

    cursor: pointer;
    text-transform: uppercase;
}

.filter.active span {
    color: #fff;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;

        -ms-border-radius: 4px;
         -o-border-radius: 4px;
}

.filter span::after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';
    -webkit-transition: background-color .3s, -webkit-transform .3s;
            transition: background-color .3s, transform .3s;
    -webkit-transition-timing-function: ease, cubic-bezier(.7, 0, .3, 1);
            transition-timing-function: ease, cubic-bezier(.7, 0, .3, 1);
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
            transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);

    background: rgba(205, 19, 65, .25);
}

.filter:not(.active) span:hover,
.filter:not(.active) span:focus {
    color: #cd1341;
}

.filter.active span::after,
.filter span:hover::after,
.filter span:focus::after {
    background: #cd1341;
}

.filter.active span::after {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
#portfoliolist .portfolio {
    display: block;
    float: left;
    overflow: hidden;

    width: 23.5%;
    margin: 0 1.5% 1.5% 0;
}
#portfoliolist .portfolio:nth-child(4n) {
    margin-right: 0;
}
.portfolio-wrapper {
    position: relative !important;

    cursor: pointer;
}
.media-image {
    position: relative;

    display: block;
    overflow: hidden;

    height: 150px;
    margin-bottom: 10px;

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
            backface-visibility: hidden;
}
.media-image img {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;

    width: 100%;
    height: auto;

    -webkit-transform: translateY(-50%) translateX(-50%);
       -moz-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);

    opacity: 1;
}
.media-image .overlay,
.media-extra {
    position: absolute;
}
.media-image .overlay,
.media-image .fa-video,
.media-image .fa-view,
.media-image .media-view,
.media-image .play-button {
    -webkit-transition: opacity .4s ease;
       -moz-transition: opacity .4s ease;
        -ms-transition: opacity .4s ease;
         -o-transition: opacity .4s ease;
            transition: opacity .4s ease;
}
.media-image .overlay {
    z-index: 2;

    width: 100%;
    height: 100%;

    opacity: 1;
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,.35) 100%);
}
.media-extra {
    z-index: 3;
    right: 10px;
    bottom: 10px;
}
.media-image .media-view,
.media-image .media-date {
    font-family: 'Fira Sans', sans-serif;
    font-size: 10px;

    color: #fff;
}
.media-image .media-date {
    margin-right: 5px;

    text-transform: uppercase;
}
.media-image .fa-view {
    margin: 0;

    fill: #fff;
}
.media-image .play-button {
    width: 40px;

    opacity: 1;
}
.media-image:hover .overlay,
.media-image:hover .play-button {
    opacity: 0;
}
.media-title {
    display: table-cell;
    overflow: hidden;

    width: 400px;
    max-width: 100%;
    height: 80px;

    vertical-align: middle;
}
.media-title a {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;

    display: block;

    text-align: center;
}
.video-emded{
    margin-bottom: 30px;
    -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}
.media-info .media-title{
    display: block;
    width: 100%;
    height: auto;
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 15px;
}
.media-info .media-extra{
    position: relative;
    right: auto;
    bottom: auto;
    padding: 15px 0;
    border-bottom: 2px solid #ddd;
}
.media-extra .post-extra{
    line-height: 32px;
    margin: 0;
}
.media-extra .post-extra > *{
    font-size: 12px;
}
.media-content{
    font-size: 18px !important;
    line-height: 1.5;
    margin-bottom: 15px;
    margin-top: 15px;
}
.media-content br{
    display: none;
}

/*
-------------------- Home Posts --------------------------
*/
.categories {
    float: left;

    width: 32%;
    margin-right: 2%;
}
.categories:nth-child(3n) {
    margin-right: 0;
}
.category {
    margin-bottom: 15px;
}
.cat-title {
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;

    display: block;

    margin: 0 0 15px;
    padding: 0 0 5px;

    text-transform: uppercase;

    color: #cd1341;
    border-bottom: 2px solid #cd1341;
}
.cat-post {
    margin-bottom: 15px;
    padding-bottom: 10px;

    border-bottom: 1px solid #ccc;
}
.cat-post:last-child {
    border: none;
}
.cat-post img {
    margin-bottom: 10px;
}



/*
-------------------- Reporter --------------------------
*/
.bottom-left-section {
    padding: 0 15px 0 0;
}
.bottom-right-section {
    padding: 0 0 0 15px;
}
.bottom-right-section .ad-block {
    padding: 80px 0 0;
}
.bottom-right-section .ad-block {
    float: right;
}
.reporter-slider {
    margin-bottom: 0;
}
.reporter-slider .slick-arrow {
    position: absolute;
    top: -56px;
}
.reporter-slider .slick-arrow svg {
    fill: #fff;
}
.reporter-slider .arrow-prev {
    right: 55px;
}
.reporter-slider .arrow-next {
    right: 15px;
}
.rep-post {
    position: relative;

    overflow: hidden;

    height: 240px;
    margin: 0 15px 0 0;
    padding: 0;
}
.rep-thumb {
    position: relative;

    display: block;
    overflow: hidden;

    width: 100%;
}
.rep-thumb,
.reporter-slider .rep-thumb img {
    height: 100%;
}
.reporter-slider .rep-thumb img {
    position: absolute;
    top: 50%;
    left: 50%;

    width: auto;

    -webkit-transform: translateY(-50%) translateX(-50%);
       -moz-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
}
.rep-thumb .overlay {
    position: absolute;
    z-index: 2;
    top: 0;

    width: 100%;
    height: 100%;

    -webkit-transition: opacity .4s ease;
       -moz-transition: opacity .4s ease;
        -ms-transition: opacity .4s ease;
         -o-transition: opacity .4s ease;
            transition: opacity .4s ease;

    opacity: 1;
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,.35) 100%);
}
.rep-name {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.25;

    position: absolute;
    right: 10px;
    bottom: 10px;
    left: 10px;

    color: #fff;
}
.rep-name:hover {
    opacity: .75;
}
.rep-post .post-extra {
    position: absolute;
    top: 10px;
    left: 10px;
}
.rep-post .post-extra > * {
    color: #fff;
}
.rep-post .post-extra .fa-view {
    fill: #fff;
}

/*
-------------------- Inner Pages --------------------------
*/
.post-section {
    padding-top: 0;
}
.left-section,
.post-left-section {
    padding: 0 15px 0 0;
}
.right-section,
.post-right-section {
    padding: 0 0 0 15px;
}
.post-section .article-section {
    margin-bottom: 0;
}
.article-section .main-news-item {
    float: none;

    width: 100%;
    margin: 0;
}
.article-section .main-news-item figure {
    position: relative;
}
.article-section .main-news-thumb {
    height: auto;
}
.article-section .main-news-thumb img {
    position: relative;
    left: 0;

    width: 100%;
    height: auto;

    -webkit-transform: none;
        -ms-transform: none;
         -o-transform: none;
            transform: none;
}
.article-section .main-news-item figcaption {
    padding: 30px;
}
.article-section .main-news-title {
    font-size: 36px;
    line-height: 1.25;

    margin: 0;
}
.article-section .main-news-title:hover,
.article-section .main-news-title:focus {
    color: #fff;
}
.article-section .main-news-extra > span {
    font-size: 12px;
}
.article-section .fa-view {
    margin: 0 3px 3px 0;
}
.article-extra {
    margin-bottom: 15px;
    padding: 15px 0;

    border-bottom: 2px solid #ddd;
}
.article-extra .pluso {
    width: auto;

    text-align: left;
}
.article-extra .orphus-mistake {
    width: auto;
    padding: 0;

    border: none;
}
.article-extra .orphus-mistake > * {
    display: inline-block;

    vertical-align: middle;
}
.article-extra .orphus-mistake h4 {
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;

    margin: 0 5px 0 0;
    padding: 0;

    text-transform: uppercase;

    color: #8899a7;
}
.article-extra .orphus-mistake span {
    display: block;
}
.article-extra .orphus-mistake svg {
    height: 32px;

    fill: #8899a7;
}
.article-section section {
    margin-bottom: 30px;
}
.article-section section,
.article-section section p,
.article-section section p > * {
    font-size: 18px !important;
    line-height: 1.5;
}
.article-section section p {
    margin-bottom: 20px;
}
.article-section section br {
    display: none;
}
.article-section section .fr-video {
    margin: 20px 0;
}
.article-section img.fr-dib {
    width: 600px !important;
    margin: 15px auto !important;
}
.article-section section em {
    display: block;

    margin: 15px 0;
    padding-left: 50px;

    color: #0e73c5;
    background: url('img/quote.svg') no-repeat center left;
    -webkit-background-size: 32px;
            background-size: 32px;
}
.article-section footer {
    border-top: 2px solid #ddd;
}
.article-block .ads {
    margin: 30px 0;
}
.article-block .ads img {
    width: 100%;
}
.article-section aside {
    padding: 10px;
}
.article-section aside.pull-right {
    margin-left: 20px;
    padding-right: 0;
}
.article-section aside.pull-left {
    margin-right: 20px;
    padding-left: 0;
}
.topics-box {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}
.topics {
    line-height: 20px;
}
.topic {
    position: relative;

    overflow: hidden;

    width: 300px;
    height: 240px;
}
.topic:first-child {
    padding-top: 0;
}
.topic:last-child {
    padding-bottom: 0;
}
.t-thumb {
    position: relative;

    display: block;

    width: 100%;
    height: 100%;
}
.t-thumb::after {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    background: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,.35) 100%);
}
.t-thumb img {
    position: absolute;
    top: 0;
    left: 50%;

    width: auto;
    height: 100%;

    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
}
.t-thumb .play-button {
    height: 32px;
}
.t-info {
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;

    position: absolute;
    z-index: 2;
    bottom: 0;

    display: block;

    width: 100%;
    padding: 10px 15px;

    background: none;
}
.t-info a {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;

    display: block;

    margin: 0 0 10px;

    text-align: left;

    color: #fff;
}
.t-extra {
    padding-top: 5px;

    border-top: 1px solid #f1f4f9;
}
.t-date,
.t-view {
    font-size: 12px;

    display: inline-block;
    float: none;

    vertical-align: middle;

    color: #fff;
}
.t-date {
    margin-right: 5px;
}
.t-view .fa-view {
    margin: 0 4px 2px 0;

    fill: #fff;
}
.post-with-tilda {
    overflow: hidden;
}
.post-with-tilda .header,
.post-with-tilda .prefooter,
.post-with-tilda .ad-block {
    display: none;
}
.post-with-tilda .section {
    padding: 0;
}
.post-with-tilda iframe {
    width: 100%;
    height: 100vh;
}
.tilda-logo {
    font-size: 12px;
    font-weight: 500;
    line-height: 26px;

    position: absolute;
    top: 30px;
    left: 30px;

    height: 30px;
    padding: 0 15px 0 35px;

    text-transform: uppercase;

    color: #fff;
    border: 2px solid #fff;
    border-radius: 15px;
}
.tilda-logo svg {
    position: absolute;
    top: 6px;
    left: 15px;

    height: 12px;

    fill: #fff;
}
.article-section .main-news-item .slick-arrow {
    z-index: 1;
    top: 50%;

    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}
.article-section .main-news-item .slick-arrow.arrow-prev {
    left: 0;
}
.article-section .main-news-item .slick-arrow.arrow-next {
    right: 0;
}


/*
-------------------- Project Section --------------------------
*/
.project {
    margin-bottom: 30px;
}
.project figure {
    position: relative;

    background: #333146;
}
.project figure img {
    opacity: .75;
}
.project figcaption {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 30px;
}
.project figcaption h4 {
    font-size: 28px;
    font-weight: 500;

    margin: 0;

    color: #fff;
}


/*
-------------------- Gallery Page --------------------------
*/
.post-section .slick-slider {
    margin-bottom: 20px;
}
.post-section .slider-for .slick-slide img {
    width: auto;
    height: 500px;
    margin: 0 auto;
}
.post-section .slider-nav .slick-slide {
    overflow: hidden;

    height: 100px;
    margin: 0 5px;

    cursor: pointer;

    opacity: .25;
}
.post-section .slider-nav .slick-slide.slick-current {
    opacity: 1;
}
.post-section .slider-nav .slick-slide img {
    width: auto;
    height: 100%;
}



/*
-------------------- Section Related --------------------------
*/
.related-section .block {
    float: left;

    width: 32%;
    margin-right: 2%;
}
.media-section .related-section .block{
    width: 100%;
    margin-right: 0;
}
.related-section .block:nth-child(3n) {
    margin-right: 0;
}
.related-section .block .news-thumb {
    position: relative;

    display: block;
    overflow: hidden;
}
.related-section .block .news-thumb img {
    opacity: 1;
}
.related-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.25;

    display: table-cell;
    overflow: hidden;

    height: 80px;
    padding: 0;

    vertical-align: middle;

    color: #333;
}
.media-section .related-title{

}
.related-title:hover,
.related-title:focus {
    color: #cd1341;
}


/*
-------------------- List Group --------------------------
*/
.section-with-list .list-group {
    margin-bottom: 0;
}
.section-with-list .list-group-item {
    margin-bottom: 20px;
    padding: 0 0 20px;

    border: none;
    border-bottom: 2px solid #ddd;
}
.section-with-list .list-group-item:last-child {
    margin-bottom: 0;
}


/*
-------------------- Director Section --------------------------
*/
.dir-section .list-group:last-child {
    margin-bottom: 0;
}
.dir-section .list-group-item {
    border: none;
}
.dir-section .categories {
    width: 48%;
    margin-right: 4%;
}
.dir-section .categories:nth-child(2n) {
    margin-right: 0;
}
.media-director {
    margin-bottom: 30px;
}
.dir-section .media-right {
    padding: 30px 30px 0 30px;
}
.dir-section .media-object {
    overflow: hidden;

    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;

        -ms-border-radius: 50%;
         -o-border-radius: 50%;
}
.dir-section .media-right img {
    width: 180px;
}
.dir-section .media-body .list-group {
    padding: 0;
}
.dir-section .media-body .list-group-item {
    margin-bottom: 15px;
    padding: 0;
}
.dir-section .media-body .list-group-item:first-child h4 {
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;

    position: relative;

    margin: 0;
    padding: 25px 0;

    text-transform: uppercase;

    color: #cd1341;
}
.person-extra li {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

    float: left;

    margin-right: 8px;
}
.person-extra li.person-divider {
    margin-right: 15px;
    margin-left: 15px;
}
.person-extra li.person-divider::after {
    content: '·';
}
.person-extra li a {
    display: block;
}
.person-extra svg {
    display: block;

    width: 24px;
    height: 24px;

    fill: rgba(0,0,0,.44);
}

.dir-section .own-btn {
    padding: 6px 12px;

    border: 1px solid #ccc;
}
.list-extra,
.list-info {
    display: table-cell;

    padding: 0 10px;

    vertical-align: middle;
}
.list-extra {
    width: 200px;
    min-width: 200px;
    padding-left: 0;

    text-align: right;

    color: #9da8b0;
}
.first-list > li {
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;

    padding: 10px 0;

    text-transform: uppercase;
}
.first-list > li > ul {
    margin-top: 10px;
}
.second-list li {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;

    padding: 5px 10px;

    text-transform: none;
}
.list-extra,
.list-info {
    display: table-cell;

    padding: 0 10px;

    vertical-align: middle;
}


/*
-------------------- Post Right Section --------------------------
*/
.post-right-section .list-group-item:last-child {
    border: 0;
}
.calendar-section .next .fa,
.calendar-section .prev .fa {
    font-size: 20px;
}
#inlineCalendar {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;

        -ms-border-radius: 4px;
         -o-border-radius: 4px;
}
.calendar-section thead th {
    text-transform: uppercase;
}
.calendar-section th.dow {
    font-size: 12px;

    padding-top: 10px;
    padding-bottom: 10px;
}
.calendar-section .bootstrap-datetimepicker-widget table td {
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;

        -ms-border-radius: 2px;
         -o-border-radius: 2px;
}
.calendar-section .bootstrap-datetimepicker-widget table td.active,
.calendar-section .bootstrap-datetimepicker-widget table td.active:hover,
.calendar-section .bootstrap-datetimepicker-widget table td span.active {
    background-color: #cd1341;
}
.calendar-section .bootstrap-datetimepicker-widget table td.today:before {
    border-bottom-color: #cd1341;
}
.calendar-section .section-body footer {
    border-top: 2px solid #ddd;
}

/*
-------------------- Footer --------------------------
*/
.prefooter {
    margin-top: 30px;

    border: none;
    background: #fff;
}


/*
------------------- Footer Channels --------------------------
*/
.footer-channels {
    padding: 30px;
}
.carousel-channels {
    margin: 0;
}
.channel-slide {
    height: 80px;
}
.channel-slide a {
    position: relative;

    display: block;
    overflow: hidden;

    width: 100%;
    height: 100%;
    padding: 10px;
}
.channel-slide img {
    width: auto;
    height: 60px;
    margin: 0 auto;
}
.footer-channels .slick-arrow {
    top: 50%;

    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}
.footer-channels .arrow-prev {
    left: -30px;
}
.footer-channels .arrow-next {
    right: -30px;
}


/*
-------------------- Footer Menu --------------------------
*/
.footer-menu {
    padding: 30px 0;

    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}
.footer-menu ul {
    padding: 0;

    text-align: left;
}
.first-level h4 {
    font-size: 14px;
    font-weight: bold;

    margin: 0 0 20px;

    text-transform: uppercase;

    color: #333146;
}
.first-level li {
    float: left;
}
.first-level > li {
    width: 32%;
    margin-right: 2%;
}
.first-level > li:last-child {
    margin: 0;
}
.second-level > li,
.apps li {
    margin-right: 15px;
}
.second-level > li a {
    font-weight: 500;

    display: block;

    margin-bottom: 5px;
    padding: 0;

    text-transform: none;

    color: #333;
}
.second-level > li a:focus,
.second-level > li a:hover {
    color: #cd1341;
}
.apps h4 {
    margin-top: 20px;
}
.apps svg {
    height: 40px;

    fill: #333;
}
.apps svg:focus,
.apps svg:hover {
    fill: #cd1341;
}
.footer-menu .apps a {
    float: left;

    margin: 0;
    padding: 0;
}


/*
-------------------- Footer Trademark --------------------------
*/
.footer-trademark {
    font-family: inherit;

    display: block;

    padding: 30px 0;

    background: #fff;
}
.copyright,
.copyrightSide {
    font-size: 14px;
    font-weight: normal;
}
.copyrightSide {
    line-height: 1;

    margin: 0;
    padding: 5px 0 0;

    text-align: right;
}
.copyrightSide:last-child {
    margin-top: 15px;
}


/*
-------------------- Ajax Loader --------------------------
*/
.showbox {
  position: absolute;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;

  background-color: rgba(255,255,255,0.75);
}
.is-loading .showbox{
    display: block;
}

.loader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 64px;
    height: 64px;
}
.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@-webkit-keyframes color {
  100%, 0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%, 90% {
    stroke: #ffa700;
  }
}
@keyframes color {
  100%, 0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%, 90% {
    stroke: #ffa700;
  }
}