.panel-video,.panel-show{
    border-right: 2px solid #F1F4F9;
    border-bottom: 2px solid #F1F4F9;
}
.top-right-block .media-ctg-panel{
    border-left: 2px solid #F1F4F9;
    border-bottom: 2px solid #F1F4F9;
}
.panel-related-videos{
    border-right: 2px solid #F1F4F9;
    border-top: 2px solid #F1F4F9;
}
.show-title{
    margin-bottom: 20px;
}
.video-desc{
    margin-top: 20px;
}
.media-view, .media-date{
    position: absolute;
    top: 5px;

    padding: 2px 5px;

    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    font-size: 11px;
    text-transform: lowercase;
}
.media-view{
    left: 10px;
}
.media-view i{
    padding-right: 5px;
}
.media-date{
    right: 10px;
}
.media-project,.media-project:hover{
    color: #ffffff;
}
.media-title{
    display: table-cell;
}
.panel-body .extra .art-edit{
  position: absolute;
  right: 0;
  margin-top: -20px;
  margin-right: 20px;
}