$base-font: 	'Roboto', sans-serif;
$medium-font: 	'Avenir Medium', sans-serif;
$demi-font: 	'Avenir Demi', sans-serif;
$bold-font: 	'Avenir Bold', sans-serif;
$heavy-font: 	'Avenir Heavy', sans-serif;

$base-font-size:	16px !default;