body {
  padding-top: 0px;
  font-family: 'Roboto regular', sans-serif;
  font-weight: 400;
  color: #64686d;
  line-height: 26px;
}
#kyrgyzradio{
    position: relative;
    background: url('../../images/channels/kyrgyzradio/6.jpg');
    /*background: #f1edea;*/
/*    background-image: -moz-linear-gradient(90deg, #04549C 0%, #57ACF5 100%);
    background-image: -webkit-linear-gradient(90deg, #04549C 0%, #57ACF5 100%);
    background-image: -ms-linear-gradient(90deg, #04549C 0%, #57ACF5 100%);*/
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;   

}
#header {
      -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -moz-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: #272727;
}
a {
  color: #45aed6;
  -webkit-transition: color 400ms, background-color 400ms;
  -moz-transition: color 400ms, background-color 400ms;
  -o-transition: color 400ms, background-color 400ms;
  transition: color 400ms, background-color 400ms;
}
a:hover, a:focus {
  text-decoration: none;
  color: #2a95be;
}
hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}
header {
  margin-top: 0px !important;
  height: 50px;
}
.container>.navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}

.fixed {
  position: fixed;
  max-width: 100% !important;
  z-index: 99;
  background-color: #F44336;
  left: 0px;
  right: 0px;
  margin: 0px auto;
}
.fixedheader2 {
  position: fixed;
  max-width: 100%;
  left: 0;
  right: 0;
  margin: 0px auto;
}
.onetime {
  display: inline;
  position: relative;
  top: 12px;
  left: 20px;
}
@media (max-width:550px) {
  .onetime {
    right: 70px !important;
    position: absolute;
    display: block;
    left: inherit;
    top: -42px;
  }
}
.onetime .btn {
  background: #FF5722;
  color: #fff;
  font-size: 16px;
  border-radius: 5px !important;
  padding: 0px 10px 0px 0px !important;
  border-bottom-width: 0px !important;
}
.onetime i {
  padding: 10px;
  background: #C34219;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}
.onetime span {
  margin-left: 5px;
}
.navbar-default .navbar-nav>li>a {
  color: #2F2F2F;
  font-size: 16px;
}
.navbar-default .navbar-nav>li>a i {
  padding-right: 5px;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #005197;
}
.gradiant {
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
}
.gradiant-horizontal {
  background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
}
.section-header {
  /*margin-bottom: 50px;*/
}
.section-header .section-title {
  padding-bottom: 20px;
  margin: 0 0 20px;
  font-family: 'Roboto condensed'
}
.section-header .section-title:before {
  content: "";
  position: absolute;
  width: 60%;
  bottom: 0px;
  margin: auto;
  height: 2px;
  background: #E2E2E2 none repeat scroll 0% 0%;
  left: 0;
  right: 0;
}
.section-header .section-title:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -11px;
  left: 50%;
  margin-left: -12px;
  border: 5px solid #E2E2E2;
  border-radius: 20px;
  background: #FF5722;
}

.section-footer {
  /*margin-bottom: 50px;*/
}
.section-footer .section-title {
  padding-bottom: 20px;
  margin: 0 0 20px;
  font-family: 'Roboto condensed'
}
.section-footer .section-title:before {
  content: "";
  position: absolute;
  width: 85%;
  bottom: 0px;
  margin: auto;
  height: 1px;
  border-bottom: 1px dashed white;
  left: 0;
  right: 0;
}
.section-header3 {
    background: #1870A7;
    padding: 1px 10px 15px 10px;
    -webkit-box-shadow: inset 0px 0px 10px 1px rgba(14, 91, 125);
    -moz-box-shadow: inset 0px 0px 10px 1px rgba(14, 91, 125);
    box-shadow: inset 0px 0px 10px 1px rgb(14, 91, 125);
    border-radius: 5px !important;
}
.section-header3 .section-title{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.81), 0 0 0 rgba(4, 4, 4, 0.63);
}
.chastoty {
  margin-top: 20px;
}
.chastoty .breadcrumb{
  background: none;
}
.chastoty .breadcrumb li{
  font-size: 18px;
}
.section-header2 {
  margin-top: 30px;
}
.section-header2 .section-title, .section-header2 .section-title2 {
    position: relative;
    margin: 0px;
    font-family: 'Roboto condensed';
}

.section-header2 .section-title:after, .section-header2 .section-title2:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -11px;
  left: 50%;
  margin-left: -12px;
  border-radius: 20px;
}
.btn.btn-primary {
  background: #45aed6;
  border-color: #2a95be;
}
.btn.btn-primary:hover, .btn.btn-primary:focus {
  background: #2a95be;
}
.column-title {
  margin-top: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  position: relative;
  text-align: center;
}
.column-title:after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  border-bottom: 3px solid #FF5722;
}
ul.nostyle {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
ul.nostyle i {
  color: #45aed6;
}
.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}
@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

/*************************
*******Header******
**************************/
.navbar.navbar-default {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  background: #fff;
  padding: 0px 10px 0px 10px;
  z-index: 9999;
}
.navbar.navbar-default .navbar-toggle {
  border: 1px solid #005197;
  margin-top: 15px;
  padding: 5px
}
.navbar.navbar-default .navbar-brand {
    padding: 0px !important;
    font-family: 'Roboto condensed';
    font-weight: bold;
}
.navbar-brand>img {
  display: block;
  height: 50px;
  width: auto;
  float: left;
  margin-top: 5px;
  margin-right: 10px;
}
.navbar-brand {
  color: #fff !important;
  font-size: 30px;
  line-height: 2;
}
@media only screen and (min-width:768px) {
  #main-menu.navbar-default {
    background: #04549C;
    z-index: 1000;
    border-radius: 5px 5px 0px 0px !important;  
  }
  #main-menu.navbar-default .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    font-weight: 700;
    line-height: inherit;
    text-rendering: auto;
  }

  @media (max-width:1170px) {
    #main-menu.navbar-default .navbar-nav > li > a {
      padding: 20px 5px;
    }
  }
  @media (max-width:970px) {
    #main-menu.navbar-default .navbar-nav > li > a {
      padding: 10px;
    }
  }
  #main-menu.navbar-default .navbar-nav > li.active > a, #main-menu.navbar-default .navbar-nav > li.open > a, #main-menu.navbar-default .navbar-nav > li:hover > a {
    background: #04549C;
    color: #fff;
  }
  #main-menu.navbar-default .navbar-nav > li:hover > a{
   color: #FF6A3A;
  }

  #main-menu.navbar-default .dropdown-menu {
    padding: 0px;
    min-width: 220px;
    background-color: rgba(26, 28, 40, 0.9);
    border: 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-clip: inherit;
  }
  #main-menu.navbar-default .dropdown-menu > li {
    border-left: 3px solid transparent;
    -webit-transition: border-color 400ms;
    transition: border-color 400ms;
  }
  #main-menu.navbar-default .dropdown-menu > li > a {
    padding: 15px 0;
    color: #eeeeee;
  }
  #main-menu.navbar-default .dropdown-menu > li:first-child > a {
    border-top: 0;
  }
  #main-menu.navbar-default .dropdown-menu > li.active, #main-menu.navbar-default .dropdown-menu > li.open, #main-menu.navbar-default .dropdown-menu > li:hover {
    border-left-color: #45aed6;
  }
  #main-menu.navbar-default .dropdown-menu > li.active > a, #main-menu.navbar-default .dropdown-menu > li.open > a, #main-menu.navbar-default .dropdown-menu > li:hover > a {
    color: #45aed6;
    background-color: transparent;
  }
}
#main-slider {
  overflow: hidden;
  margin:1px 0px 0px 0px;
}
#main-slider .item {
  height: 358px;
  width: auto;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: cover;
}
#main-slider .slider-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
}
#main-slider .slider-inner h2 {
  margin-top: 278px;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
}
#main-slider .slider-inner p {
  font-size: 24px;
}
#main-slider .slider-inner h2 > span {
  color: #fff;
}
#main-slider .slider-inner .btn {
  margin-top: 10px;
}
#main-slider .owl-prev, #main-slider .owl-next {
  position: absolute;
  top: 50%;
  /*background-color: rgba(0, 0, 0, 0.2);*/
  color: #fff;
  font-size: 30px;
  display: inline-block;
  margin-top: -35px;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 100px !important;
  z-index: 5;
  -webkit-transition: background-color 400ms;
  transition: background-color 400ms;
}
#main-slider .owl-prev:hover, #main-slider .owl-next:hover {
  background-color: #04549C;
}
#main-slider .owl-prev {
  left: -35px;
  text-indent: 14px;
}
#main-slider .owl-next {
  right: -35px;
  text-indent: -14px;
}
#bar {
  width: 0%;
  max-width: 100%;
  height: 4px;
  background: #45aed6;
}
#progressBar {
  margin-top: -4px;
  position: relative;
  z-index: 999;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  display: none;
}
#cta {
  display: flex;
  margin:40px 0px 0px 0px;
  padding: 0px 15px;
}
#cta .col-md-12{
  margin-bottom: 50px;
}
#cta p>span {
  background: url('./../../images/channels/kyrgyzradio/blockquote.png') no-repeat;
  display: block;
  float: left;
  width: 47px;
  height: 45px;
  margin-top: 8px;
}

#cta .righter {
  right: 0;
  display: flex;
}
#cta .righter .fa-play {
  color: #eeeeee;
}
#cta .col-md-6 {
  margin: 5px 0px;
}
#cta .col-md-6 .col-xs-9 {
  background-color: #eeeeee;
}
#cta p {
  font-size: 16px;
}
#cta h2 {
  margin-top: 4px;
  margin-bottom: 4px;
  font-weight: normal;
  text-align: center;
}
#cta .btn {
  margin-top: 40px;
}
#cta2 {
  background: #fff;
  color: #04549C;
  padding: 20px 0px;
}
#cta2 .btn {
  margin-top: 10px;
}
#cta .col-sm-9 {
  padding-top: 5px;
  margin-bottom: -5px;
}
#cta2 p {
  font-size: 22px;
  font-family: 'Roboto condensed'
}
#cta2 h2 {
  color: #214261;
  font-size: 44px;
  line-height: 1;
  font-family: 'Roboto condensed';
}
#cta2 h2 > span {
  color: #04549C;
}
#features {
  padding: 100px 0;
}
#features .media.service-box:first-child {
  margin-top: 80px;
}
#services {
  padding: 30px 0px 0px 0px;
    background: #F1EDEA;
    margin-bottom: 30px;
}
.media.service-box {
  margin: 15px 0;
}
.media.service-box .pull-left {
  margin-right: 20px;
}
.media.service-box .pull-left > i {
  font-size: 24px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  width: 64px;
  border-radius: 100%;
  color: #45aed6;
  box-shadow: inset 0 0 0 1px #d7d7d7;
  -webkit-box-shadow: inset 0 0 0 1px #d7d7d7;
  transition: background-color 400ms, background-color 400ms;
  position: relative;
}
.media.service-box .pull-left > i:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  right: -10px;
  border: 4px solid #fff;
  border-radius: 20px;
  background: #45aed6;
}
.media.service-box:hover .pull-left > i {
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  color: #fff;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.8);
}
#portfolio {
    margin: 0px 10px;
    -webkit-box-shadow: inset 0px 0px 10px 1px rgba(51,51,51,0.5);
    -moz-box-shadow: inset 0px 0px 10px 1px rgba(51,51,51,0.5);
    box-shadow: inset 0px 0px 10px 1px rgba(51,51,51,0.5);
    border-radius: 5px !important;
    padding: 25px 0px;
}
#portfolio .portfolio-filter {
  list-style: none;
  padding: 0;
  margin: 0 0 50px;
  display: inline-block;
}
#portfolio .portfolio-filter > li {
  float: left;
  display: block;
}
#portfolio .portfolio-filter > li a {
  display: block;
  padding: 7px 15px;
  background: #e5e5e5;
  color: #64686d;
  position: relative;
}
#portfolio .portfolio-filter > li a:hover, #portfolio .portfolio-filter > li a.active {
  background: #45aed6;
  color: #fff;
  box-shadow: 0 -3px 0 0 #318daf inset;
  -webkit-box-shadow: 0 -3px 0 0 #318daf inset;
}
#portfolio .portfolio-filter > li a.active:after {
  content: " ";
  position: absolute;
  bottom: -17px;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #318daf transparent transparent transparent;
}
#portfolio .portfolio-filter > li:first-child a {
  border-radius: 4px 0 0 4px;
}
#portfolio .portfolio-filter > li:last-child a {
  border-radius: 0 4px 4px 0;
}
#portfolio .portfolio-items {
  margin: -15px;
}
#portfolio .portfolio-item {
  width: 24%;
  float: left;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#portfolio .portfolio-item .portfolio-item-inner {
  position: relative;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info {
  opacity: 0;
  transition: opacity 400ms;
  -webkit-transition: opacity 400ms;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info h3 {
  font-size: 16px;
  line-height: 1;
  margin: 0;
  color: #fff;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info .preview {
  position: absolute;
  top: -18px;
  right: 12px;
  border-radius: 50%;
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  box-shadow: 0 0 0 2px #fff;
  -webkit-box-shadow: 0 0 0 2px #fff;
}
#portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
}
#portfolio  .panel-body footer {
    padding: 15px 0;
    border-top: none;
    clear: both;
    text-align: center;
}
#portfolio  .panel-body footer span{
    font-size: 18px;
    color: #272727;
    border-bottom: 1px dotted;
    font-family: 'Roboto condensed';
}
#portfolio  .panel-body footer span:hover{
    color: #00274A;
}
#portfolio .col-md-4{
  padding: 1px;
}
#portfolio .extra{
    display: block;
    padding-top: 0;
    background: rgba(0, 0, 0, .5);
    min-height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
    overflow: hidden;
    margin-bottom: inherit;
}
#portfolio .extra .datetime{
  color: #fff;
  padding: 0px 10px;
}

#portfolio .gallery-item{
  position: relative;
  display: block;
    padding: initial;
    min-height: inherit;
    overflow: hidden;
}

#portfolio .gallery-item img{
  position: relative;
  display: block;
  padding: initial;
  min-height: inherit;
-webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -moz-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    overflow: hidden;
        -webkit-transition: all 1.5s ease; 
    -moz-transition: all 1.5s ease; 
    -ms-transition: all 1.5s ease; 
    transition: all 1.5s ease;
}
#portfolio .gallery-item:hover img{
  -webkit-transform: scale(1.085);
    -moz-transform: scale(1.085);
    -ms-transform: scale(1.085);
    -o-transform: scale(1.085);
    transform: scale(1.085);

    -webkit-transition: all 1.5s ease; 
    -moz-transition: all 1.5s ease; 
    -ms-transition: all 1.5s ease; 
    transition: all 1.5s ease;
}

#portfolio .gallery-item .thumb{
    margin-bottom: inherit;
}
#portfolio .gallery-item h2{
  margin-top: inherit;

}
#portfolio .gallery-item h2 a{
    font-weight: normal;
    padding: 0px 10px;
    font-size: 16px;
    color: #fff;
    height: inherit;
    line-height: inherit;
    text-align: left;
}
#portfolio .gallery-item h2 a:hover{
  color: #fff;
  text-decoration:underline; 
}

/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope, .isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/* End: Recommended Isotope styles */

/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
#testimonial {
  background: #333333 url(../images/testimonial/bg.jpg) no-repeat 0 0;
  background-size: cover;
  padding: 100px 0;
  color: #fff;
}
#testimonial h4 {
  color: #fff;
  margin-bottom: 0;
}
#testimonial small {
  display: block;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.7);
}
#testimonial .btns {
  margin-top: 10px;
}
#about {
  padding: 50px 0 0px 0;
  text-align: justify;
}
#about .text-center {
  font-size: 22px;
}
#work-process {
  padding: 100px 0 50px;
  background: #20222e url(../images/work-process/bg.jpg) no-repeat 0 0;
  background-size: cover;
  color: #fff;
}
#work-process h2 {
  color: #fff;
}
#work-process h3 {
  color: #fff;
  margin-bottom: 0;
}
#work-process .icon-circle {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border: 2px solid #45aed6;
  border-radius: 100px;
  position: relative;
}
#work-process .icon-circle > span {
  border-style: solid;
  border-width: 2px;
  border-color: #45aed6;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  width: 24px;
  height: 24px;
  line-height: 20px;
  top: -12px;
  color: #64686d;
}
#work-process h3 {
  margin-bottom: 50px;
}
#meet-team {
  padding: 100px 0;
}
#meet-team .team-member {
  padding: 13px;
  background: #eeeeee;
  border: 2px solid #eeeeee;
  transition: border-color 400ms;
  -webkit-transition: border-color 400ms;
}
#meet-team .team-member .team-img {
  margin: -15px -15px 0 -15px;
}
#meet-team .team-member .team-info {
  padding-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 10px;
}
#meet-team .team-member:hover {
  border-color: #45aed6;
}
#meet-team .team-member:hover .social-icons > li > a {
  background: #45aed6;
}
#meet-team .social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}
#meet-team .social-icons > li {
  display: inline-block;
}
#meet-team .social-icons > li > a {
  display: block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  background: #222534;
  border-radius: 3px;
}
.divider {
  margin-top: 50px;
  margin-bottom: 50px;
  background-image: -moz-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  background-image: -webkit-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  background-image: -ms-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  width: 95%;
  height: 1px;
}
.progress {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #eeeeee;
}
.progress .progress-bar.progress-bar-primary {
  background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.nav.main-tab {
  background: #eee;
  border-bottom: 3px solid #0C4273;
  border-radius: 3px 3px 0 0;
}
.nav.main-tab > li > a {
  color: #272727;
}
.nav.main-tab > li.active > a {
  background: #04549C;
  color: #FFFFFF;
}
.nav.main-tab > li:first-child > a {
  border-radius: 3px 0 0 0;
}
.nav.main-tab > li:last-child > a {
  border-radius: 0 3px 0 0;
}
.tab-content {
  border: 1px solid #eee;
  border-top: 0;
  border-radius: 0 0 3px 3px;
}
.tab-content>.active {
  padding: 10px;
}
.panel-default {
  border-color: #eee;
}
.panel-default > .panel-heading {
  background-color: #fff;
  border-color: #eee;
}
.panel-default > .panel-heading .panel-title {
  font-size: 14px;
  font-weight: normal;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #eee;
}
#animated-number {
  padding: 100px 0 70px;
  background: #132125 url(../images/animated-number/bg.jpg) no-repeat 0 0;
  background-size: cover;
  color: #fff;
}
#animated-number h1, #animated-number h2, #animated-number h3, #animated-number h4 {
  color: #fff;
}
#animated-number strong {
  display: block;
  margin-bottom: 30px;
}
.animated-number {
  display: inline-block;
  width: 140px;
  height: 140px;
  font-size: 24px;
  line-height: 140px;
  border: 3px solid #fff;
  border-radius: 100px;
  margin-bottom: 20px;
}
#pricing {
  padding: 100px 0 70px;
}
#pricing ul.pricing {
  list-style: none;
  padding: 0;
  margin: 70px 0 30px;
  border: 1px solid #eee;
  border-radius: 5px 5px 4px 4px;
  padding: 15px;
  text-align: center;
}
#pricing ul.pricing li {
  display: block;
  padding: 10px;
}
#pricing ul.pricing li.plan-header {
  background: #eee;
  border-radius: 4px 4px 0 0;
  margin: -15px -15px 10px;
  padding: 15px 15px 30px;
  border: 0;
}
#pricing ul.pricing li.plan-header .price-duration {
  position: relative;
  margin-top: -63px;
  top: -10px;
  display: inline-block;
  width: 116px;
  height: 116px;
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  color: #fff;
  border-radius: 100px;
  border: 5px solid #f6f6f6;
}
#pricing ul.pricing li.plan-header .price-duration > span {
  display: block;
  line-height: 1;
}
#pricing ul.pricing li.plan-header .price-duration > span.price {
  font-size: 24px;
  font-weight: 700;
  margin-top: 35px;
}
#pricing ul.pricing li.plan-header .price-duration > span.duration {
  margin-top: 5px;
}
#pricing ul.pricing li.plan-header .plan-name {
  margin-top: 10px;
  font-size: 24px;
  color: #272727;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}
#pricing ul.pricing.featured {
  background: #222534;
  color: #fff;
  border: 0;
}
#pricing ul.pricing.featured li.plan-header {
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
}
#pricing ul.pricing.featured li.plan-header .plan-name {
  color: #fff;
}
#get-in-touch {
  padding: 50px 0 50px;
  background-image: -moz-linear-gradient(90deg, #04549C 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #04549C 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #04549C 0%, #2c8cb3 100%);
  color: #fff;
}
#get-in-touch .col-md-4, #get-in-touch .col-xs-12 {
  margin-bottom: 10px;
}
#get-in-touch h1, #get-in-touch h2 {
  color: #fff;
}
#blog {
  padding: 100px 0;
}
#blog .blog-post {
  border: 1px solid #eee;
  padding: 15px;
}
#blog .blog-post .post-format {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 34px;
  text-align: center;
  color: #fff;
  background: #222534;
  border: 3px solid #fff;
  border-radius: 100px;
}
#blog .blog-post.blog-large .entry-thumbnail {
  margin: -15px -15px 15px;
  position: relative;
}
#blog .blog-post.blog-large .post-format {
  width: 66px;
  height: 66px;
  line-height: 60px;
  position: absolute;
  right: 20px;
  bottom: -33px;
}
#blog .blog-post.blog-large .post-format > i {
  font-size: 20px;
}
#blog .blog-post.blog-large .entry-date {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #45aed6;
}
#blog .blog-post.blog-large .entry-title {
  margin-top: 0;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 15px;
}
#blog .blog-post.blog-large .entry-title a {
  color: #64686d;
}
#blog .blog-post.blog-large .entry-title a:hover {
  color: #45aed6;
}
#blog .blog-post.blog-media {
  margin-bottom: 30px;
}
#blog .blog-post.blog-media .entry-thumbnail {
  margin: -15px 15px -15px -15px;
  position: relative;
}
#blog .blog-post.blog-media .post-format {
  position: absolute;
  top: 20px;
  right: -10px;
}
#blog .blog-post.blog-media .entry-date {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #45aed6;
}
#blog .blog-post.blog-media .entry-title {
  margin-top: 0;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 15px;
}
#blog .blog-post.blog-media .entry-title a {
  color: #64686d;
}
#blog .blog-post.blog-media .entry-title a:hover {
  color: #45aed6;
}
#blog .blog-post .entry-meta {
  margin-top: 20px;
  border-top: 1px solid #eee;
  padding-top: 15px;
}
#blog .blog-post .entry-meta > span {
  display: inline-block;
  margin-right: 10px;
  color: #999;
}
#blog .blog-post .entry-meta > span > a {
  color: #999;
}
#blog .blog-post .entry-meta > span > a:hover {
  color: #45aed6;
}
#contact {
  position: relative;
  overflow: hidden;
}
#contact .container-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(69, 174, 214, 0.3);
  z-index: 1;
}
#contact .contact-form {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin-top: 50px;
}
#contact .contact-form h3 {
  margin-top: 0;
}

/***********************
********* Footer ******
************************/
#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background: #2e2e2e;
}
#footer a {
  color: #fff;
}
#footer a:hover {
  color: #45aed6;
}
#footer ul {
  list-style: none;
  padding: 0;
  margin: 0 -7.5px;
}
#footer ul > li {
  display: inline-block;
  margin: 0 7.5px;
}
@media only screen and (min-width:768px) {
  #footer .social-icons {
    float: right;
  }
}
.form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.onenews {
    margin-top: 15px;
    padding: 0px 0px 15px;
}
.onenews .panel-body {
  padding: 0px;
}
.onenews article {
  text-align: justify;
}
.onenews .panel-articles{
  border: none;
}
.onenews .panel-articles .media-left a {
  position: relative;
  display: block;
  width: 96px;
  height: 60px;
  overflow: hidden;
}
.onenews .panel-articles .media .thumb {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 60px;
  width: auto;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}
.onenews .panel-articles .media-desc {
  text-align: justify;
}

.onenews footer{
  float: right;
  padding: 5px 0px;
}
.onenews footer a{
  color: #04549C;
}
.onenews footer a i{
  padding-left: 10px;
}
.onenews footer a:hover{
  color: #344B61;
  border-bottom: 1px dotted;
}

/* For Main menu in Ukturrrular part*/
.dropdown-menu {
  background: #3E74A5 !important;
  min-width: inherit !important;
}
.dropdown i {
  margin-left: 5px !important;
}
.dropdown .dropdown-menu > li {
  margin: 0px !important;
  padding: 5px 10px;
  border: none !important;
  transition: all 0.2s linear !important;
}
.dropdown .dropdown-menu:hover {
  background: #04549C !important;
}
.dropdown .dropdown-menu li a {
  padding: 5px !important;
  margin: 0px;
  color: #fff !important;
}
.dropdown .dropdown-menu li:hover {
  background: #1A4063;
}
.dropdown .dropdown-menu li a:hover {
  border: none !important;
}
#services .panel-body {
  padding: 0px;
height: 325px;
}
#services .panel-articles .extra, #allnews .panel-articles .extra {
  margin: -9px 0px -4px 0px;
}
#services .panel-articles .media-heading, #allnews .panel-articles .media-heading {
  line-height: 20px;
  display: block;
}
#services .panel-body footer {
  padding: 0;
  border: none;
}
#services .panel-body footer a {
  color: #04549C;
}
#services .panel-body footer a:hover {
  border-bottom: 1px dotted;
}
#services .panel-heading h3 {
  color: #04549C;
}
#services .ctg-panel .list-group {
  margin-bottom: 10px;
}

/* BEGIN ALL NEWS*/
#news .news-info {
  float: right;
  margin-top: -15px;
  color: #4E5E6A;
  font-size: 12px;
  font-weight: bold;
}
#news .news-info .date .fa, .news-info .view .fa {
  padding-right: 5px;
}
#news .news-info .date {
  padding-right: 10px;
}
#news .news-info .view {
}
#news .post h2 {
  margin: -15px 0px 15px 0px;
  font-size: 18px;
}
#news .post article {
  color: #1A1A1B;
}
.ctg-panel .list-group {
  margin-top: -15px;
}
#news .panel-body footer {
  padding: 5px 0;
  margin: 10px 0px 0px 0px;
}
#news .panel-body footer a {
  color: #04549C;
  font-size: 14px;
}
#news .panel-body footer:hover a {
  color: #000;
}

/* END ALL NEWS*/

/* PROJECT NEWS*/

#pojects, #news, #allnews {
  padding: 20px 0px;
}
#pojects .panel {
  margin: 0;
}
#pojects .panel-title, #news .panel-title, #allnews .panel-title, #news .panel-title {
  color: #04549C;
}
#pojects .panel-articles{
  border: none;
}
#pojects .panel-articles .extra {
  margin: 0;
}
#pojects .show-block .show-desc {
  color: #1A1A1B;
}
#pojects .show-block .media-left a img {
  opacity: 1;
}
#pojects .panel-body footer {
  padding: 5px 0;
  margin: 10px 0px 0px 0px;
}
.radioimg {
    width: 260px;
    float: left;
    margin-right: 10px;
    margin-bottom: 0px;
}
.radioimg img {
    max-width: 100%;
    overflow: hidden;
    height: auto;
    width: auto;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.popular .datetime {
    float: left;
}
.popular .cat{
    padding-left: 10px;
    font-size: 13px;
    color: #04549C;
}
.popular .cat span{
    position: relative;
    top: -1px;
}
.popular .views{
    float: right;

}
.popular .views i{
    padding-right: 5px;
}

.popular .extra{
    color: #4E5E6A;
    font-size: 12px;
    font-weight: bold;
}
.popular .media-heading{
    display: block;
    color: #444242;
    line-height: 1;
    font-size: 15px;
}
.popular .media-heading:hover{
    color: #2D3E4A;
    text-decoration: underline;
}
.popular .media{
    margin-top: 5px;
    border-bottom: 1px dotted #E3D1C7;
}

/* PROJECT NEWS*/

/* ALL PHOTOS*/

#allphotos .section-header2 .section-title, #photos .section-header2 .section-title{
  color: #04549C;
}

#allphotos .container, #photos .container{
  background: #fff;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -moz-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
#allphotos .extra{
  position: absolute; 
  bottom: 0px; 
  left: 10px;
  color: #fff;
}

/* ALL PHOTOS*/

/* BEGIN HOME PAGE*/

#kyrgyzhome{
    margin: 0px auto 20px auto;
    background: #fff;
    border-radius: 3px !important;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -moz-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 0;
}
#kyrgyzradio .switch {
  margin: 0 auto 10px auto;
  background: none;
}
#kyrgyzradio .channel_switch .sitemenu a{
  /*opacity: 0.5;*/
}
#kyrgyzradio .channel_switch {
  margin: 5px;
}
#kyrgyzradio .channel_switch li{
  padding: 0;
}
#kyrgyzradio .sitemenu a h4{
  font-size: 20px;
  color: #04549C;
}

/* END PAGE*/

/* BEGIN QuoteTickers*/
.quot{
  background: url('./../../images/channels/kyrgyzradio/blockquote.png') no-repeat;
  display: block;
  float: left;
  width: 47px;
  height: 45px;
  margin-top: 8px;
}
.quot img{
    position: relative;
    left: 45px;
    float: left;
}
.quot .author{
    position: absolute;
    margin-left: 100px;
}
.quot .desc{
    position: absolute;
    left: 410px;
}

/* nt-example2 */

#nt-example2, #nt-example21, #nt-example22, #nt-example23 {
  max-width: 620px;
  margin: auto;
}

#nt-example2-container, #nt-example21-container, #nt-example22-container, #nt-example23-container {
  text-align: center;
}

#nt-example2-container i, #nt-example21-container i, #nt-example22-container i, #nt-example23-container i  {
  font-size: 24px;
  margin: 8px;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#nt-example2-container i:hover, #nt-example21-container i:hover , #nt-example22-container i:hover, #nt-example23-container i:hover {
  color: #333;
}

#nt-example2 li, #nt-example21 li, #nt-example22 li, #nt-example23 li {
  color: #f2f2f2;
  background: #2B5E8C;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px;
  padding: 1px 5px 0px 10px;
  line-height: 40px;
  list-style: none;
  font-size: 24px;
  text-align: left;
  display: none;
}

 #nt-example2 li .state, #nt-example21 li .state,  #nt-example22 li .state, #nt-example23 li .state{
  font-size: inherit;
    float: right;
}

#nt-example2 span.author, #nt-example21 span.author, #nt-example22 span.author, #nt-example23 span.author {
  font-weight: 700;
}
#nt-example2 span.author img, #nt-example21 span.author img, #nt-example22 span.author img, #nt-example23 span.author img{
  display: none;
}

#nt-example2-infos-triangle, #nt-example21-infos-triangle, #nt-example22-infos-triangle, #nt-example23-infos-triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 15px 16px 15px;
  border-color: transparent transparent #2B5E8C transparent;
  margin: 6px auto 0;
  display: none;
}

#nt-example2-infos, #nt-example21-infos, #nt-example22-infos, #nt-example23-infos {
  max-width: 620px;
  margin: auto;
  padding: 12px 0px;
  color: #444444;
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.2);
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.2);
    background: #ECECEC;
        border-radius: 2px !important;
}
#nt-example2-infos .col-xs-8, #nt-example21-infos .col-xs-8, #nt-example22-infos .col-xs-8, #nt-example23-infos .col-xs-8{
  padding: 0;
}
#nt-example2-infos .qicon, #nt-example21-infos .qicon{
    background: url('./../../images/channels/kyrgyzradio/blockquote.png') no-repeat;
    display: block;
    float: left;
    width: 47px;
    height: 45px;
    margin-top: 8px;
}

#nt-example2-infos .infos-author, #nt-example21-infos .infos-author, #nt-example22-infos .infos-author, #nt-example23-infos .infos-author {
  font-size: 50px;
  font-weight: 700;
  margin-top: 20px;
}
#nt-example2-infos .name, #nt-example21-infos .name, #nt-example22-infos .name, #nt-example23-infos .name {
  line-height: 40px;
  font-size: 24px;
  display: table-row;
}

#nt-example2-infos h4, #nt-example21-infos h4, #nt-example22-infos h4, #nt-example23-infos h4 {
  color: #F2F2F2;
  font-weight: 500;
}

#nt-example2-infos .infos-text, #nt-example21-infos .infos-text, #nt-example22-infos .infos-text, #nt-example23-infos .infos-text {
  text-align: left;
  padding-right: 5px;

}
#nt-example2 .name, #nt-example21 .name{
  position: relative;
  top: -5px;
}

#nt-example2-container .fa-quote-left, #nt-example21-container .fa-quote-left, #nt-example22-container .fa-quote-left, #nt-example23-container .fa-quote-left{
  margin-top: 5px;
  margin: 4px 5px 0px 0px;
  padding: 0; 
}

#cta .slick-prev:before, #cta .slick-next:before {
      color: black;
}
#cta .slick-track{
  max-height: 220px;
}
#cta .slick-slide{
  overflow: hidden;
  opacity: 0.5;
  transform: scaleY(0.8);
  text-align: center;


  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#cta .slick-slide::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.75);
}
#cta .slick-slide img{
  /*height: 160px;*/
}
#cta .slick-slide.slick-active{
  transform: scaleY(0.9);
  opacity: 0.7;
}
#cta .slick-slide.slick-center{
  opacity: 1;
  transform: scaleY(1);
}
#cta .slick-slide i{
  position: absolute;
  font-size: 24px;
  color: #FF5722;
  top: 10px;
  left: 10px;
}
#cta .slick-slide p{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;  
  -webkit-transform:translateY(-50%) translateX(-50%);
  -ms-transform:translateY(-50%) translateX(-50%);
  -o-transform:translateY(-50%) translateX(-50%);
  transform:translateY(-50%) translateX(-50%);
}
#cta .slick-slide span{
  position: absolute;
  bottom: 10px;
  padding: 5px 10px;
  background: #FF5722;
  left: 50%;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* END QuoteTickers*/

/*  BEGIN ANONS*/

.info {
  position: relative;
  margin: 0px -5px;
  padding: 0px 45px;
}
.info .postshow {
  position: relative;
  margin-bottom: 30px;
  padding: 0px 5px;
  cursor: pointer;
}
.info .postshow a {
  position: relative;
  display: block;
}
.info .postshow img{
  pointer: cursor;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;

}
.info .postshow:hover img{
  -webkit-transform: scale(1.075);
  -moz-transform: scale(1.075);
  -ms-transform: scale(1.075);
  -o-transform: scale(1.075);
  transform: scale(1.075);
  z-index: 11;
}
.info .postshow:hover h3{
  opacity: 0;
}
.info .postshow h3 {
  position: absolute;
  bottom: 0;
  padding: 10px;
  margin: 0;
  line-height: 1;
  font-size: 1.1em;
  font-family: 'Roboto Regular';
  font-weight: bold;
  letter-spacing: 1px;
  width: 100%;
  color: #FFFFFF;
  overflow: hidden;
  opacity: 1;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0, 0.66) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0, 0.66) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0, 0.66) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0, 0, 0, 0.66) 100%);
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.modal{
  z-index: 9999;
  font-family: 'Roboto regular';

}
.modal-header{
  background: #04549C;
}

.modal-title{
  border-bottom: 3px solid #FFFFFF;
  color: white;
}
.modal-header .close {
  margin-top: -2px;
  background: none;
  color: #fff;
}

.panel-default > .panel-heading{
  background:#04549C;
  z-index: 999;
  overflow: visible;
}
.panel-heading {
  padding: 5px;
}
.panel-heading h3 {
  border: none;
  color: #fff;
}
#nt-example1 {
  /*box-shadow: 0 8px 17px 0 rgba(224, 217, 217, 0.2),0 6px 20px 0 rgba(123, 120, 120, 0.19);*/
}
#nt-example1 li{
  padding: 7px 0px 0px 0px;
}

#nt-example1 span{
  font-size: 16px;
  color: #04549C;
}

#nt-example1 p {
    font-size: 14px;
    line-height: 20px !important;
}

#nt-example1-container i:hover {
  color: #C2C2C2;
}
#nt-example1-container i {
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  position: absolute;
  right: 20px;
  margin-top: -28px;
  color: #fff;
}
.rsarticles ul>li, p {
  line-height: 1.2 !important;
  font-size: 16px;
  font-weight: 500;
}

.programtitle{
  padding: 0px 5px;
}
.programtitle .panel-heading{
  padding: 5px;
}

/*  END ANONS*/
/* BEGIN ABOUT*/

#about {
  position: relative;
  padding-bottom: 40px;
  margin: 0px 20px;
}

#about img {
  height: 230px;
  width: auto;
  padding: 0px 10px;
  float: right;
}
#about .abouttext{
    font-size: 18px;
    color: #383636;
}
#about .abouttext span{
  font-size: 20px;
  color: #00305A;
}
#about .abouttext p{
  font-size: 18px;
  color: #383636;
}
#about .abouttext ul>li{
  list-style-type: circle;
  margin-left: 20px;
}

#about .show-btn{
    display: table;
    margin: 0px auto;
    text-align: center;
}

.show-btn{
    position: relative;
    top: 0;
    border: 0;
    display: inline-block;
    margin-bottom: 50px;
    padding: 5px 15px;
    background: #c6c9cd;
    color: #00283d;
    font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 3px !important;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
/* END ABOUT*/

#anonses {
    background: #F1EDEA;
    padding: 30px 0px 0px 0px;
}

#contacts{
  position: relative;
  display: block;
  background: #04549C;
  padding:50px; 
  font-family: 'Roboto regular';
}
#contacts .section-header .section-title{
  color: #fff;
}

#contacts .infoadress{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
#contacts .infoadress h3{
  color: #fff;
}
#contacts .infoadress h3 i{
  padding-right: 10px;
}
#contacts .infoadress .address{
  padding: 0;
}
#contacts .infoadress .address ul>li{
  color: #fff;
  font-size: 16px;
}
#contacts .infoadress .address ul>li i{
  padding-right: 5px;
}